[2020-07-06 20:51] meren commented on #1462
This is due to an old SQLite version. If you upgrade your sqlite (for instance to `3.31.1`), the problem will be solved :)

Check your version by typing,

[code]

Best wishes,

[2020-07-06 20:55] dutter commented on #1462
Hi meren! Thanks for the quick response :) I'm working with Urmila on this project, so I just wanted to jump in and clarify something really quick: the sqlite3 installed is version `3.32.3` - should we try downgrading it to a `3.31.x` version?

[2020-07-06 20:59] dutter commented on #1462
It's also entirely possible that some part of the sqlite3 update didn't get installed, but as far as we can tell sqlite3 v3.32.3 is working and anvi'o finds the updated one happily enough

[2020-07-06 21:00] meren commented on #1462
Crap. I'm sorry, I didn't check the output very carefully :/ This is master, right? I think we fixed in one of our branches that is yet to be merged to `master` :/

Would you mind making the profile db available to me privately so I can double check?

Best,

[2020-07-06 23:09] ubmallick commented on #1462
Thank you so much for the quick response! I have emailed you the profile db and some related information.

[2020-07-07 13:30] laj873 opened #1463 "anvi'o interactive server closes when storing bin collection"
Hello,

I'm having an issue with trying to save bin collections when looking at a pangenome with the `anvi-display-pan` command. Every time that I create bins and try to save the collection, a red box pops up and states: "It seems the server that's been serving this page is no longer accessible. You may lose your unsaved changes in this window."

How can I stop the interactive server from losing c

[2020-07-07 13:50] meren commented on #1463
Hi @laj873,

We ask people to report the version of anvi'o and the operating system they are using in the issue template, basically BEGGING them to read it first before submitting their issue. It starts with these lines:

Yet, people often find it OK to completely ignore these requests, remove the text that essentially begs them to include, and submit their issue without key information anyway. By

[2020-07-07 13:50] #1463 closed

[2020-07-10 01:58] choon-sim opened #1464 ""anvi-setup-kegg-kofams" is not running"
Hi, I am a beginner to anvi'o. I am interested to perform functional/pathway analysis on my contigs.
http://merenlab.org/software/anvio/help/programs/anvi-setup-kegg-kofams/
However, "anvi-setup-kegg-kofams" is not running when i type in the command.

I installed my anvi'o using standard way:
conda create -y --name anvio-6.2 python=3.6

Thanks for any help!

Choon
(I should add that other anvi com

[2020-07-10 04:08] ivagljiva commented on #1464
Hi @choon-sim,

`anvi-setup-kegg-kofams` and the other KEGG-related scripts are not part of anvi'o version 6.2.
 If you want to use these programs, you will need to install our development version by following the instructions here: http://merenlab.org/2016/06/26/installation-v2/#following-the-active-codebase-youre-a-wizard-arry
:)

[2020-07-10 04:08] #1464 closed

[2020-07-10 05:11] xvazquezc commented on #1458
Hi @meren,
We've keep working on this huge dataset. Now that we have all 26 profiled samples, and both the `PROFILES.db` and `AUXILIARY-DATA.db` are way bigger (6.6 and 9.2 GB respectively, vs 1.6 and 0.7 GB originally), I've re-run the prior test, only in `master` with the SSD, in case there were also things that could be improved on side of processes related to the profiles.

With 26 profiles in

[2020-07-10 07:07] xvazquezc opened #1465 "anvi-show-collections-and-bins output not updated after anvi-refine"
Hi there,

after generating new bins via `anvi-refine`, the new bins are not listed when running `anvi-show-collections-and-bins`. They are still accessible if you re-run `anvi-refine` with one of the new bin names though. I even checked the `PROFILE.db` manually in SQLite and there are actual differences.

[code]

Output from `anvi-show-collections-and-bins` (bin_101 should not be there and count

[2020-07-10 17:07] meren commented on #1458
Hey @xvazquezc,

Thank you very much for this. In 524906c27e4fe023efb684855cfd82bd15a4460c I tried to improve this line here:

[code]

It should go from 70 to 10-15. Can you please let me know if it worked on your dataset if you get a chance?

[2020-07-10 17:24] meren commented on #1458
Hey @xvazquezc,

Next, with cd031e962b5ac7e584243ca444fa6491801d471a, I tried to ameliorate this:

[code]

I hope these two will have a positive influence on the runtime overall. Let me know please!

[2020-07-10 19:00] #1465 closed

[2020-07-10 19:00] meren commented on #1465
This should be now fixed, @xvazquezc. You will see a more accurate information following your first refine attempt on this collection.

[2020-07-10 19:00] meren commented on #1465
Thanks for the report :)

[2020-07-11 00:29] xvazquezc commented on #1458
DAMN!! From nearly 4 min to ~1.5min!!
`get_all_rows_from_table`  dropped from 70 to 3!!!

This is great. Thanks @meren !!

Here is the output with all the times:
[code]

[2020-07-11 00:38] xvazquezc commented on #1465
I still get the same output.

[2020-07-11 02:23] meren commented on #1465
The report should change once you refined and stored one more bin in the collection.

[2020-07-11 02:27] meren commented on #1458
Great! Although, I'm surprised that hasn't changed much even after cd031e962b5ac7e584243ca444fa6491801d471a:

[code]

Are you sure your `master` includes that commit?

[2020-07-11 02:37] meren commented on #1458
Never mind. I found the problem. I'll send another update.

[2020-07-11 03:00] meren commented on #1458
OK! Can you please again with an up-to-date `master`, @xvazquezc?

[2020-07-11 04:44] xvazquezc commented on #1458
Just 40s now!!!

[code]

[2020-07-11 04:45] xvazquezc commented on #1465
Thanks. Yeah, I run `anvi-refine` once more and now lists the new bins I generated and the ones I was missing in the original post.

[2020-07-11 05:00] meren commented on #1458
So you had this with the old `master` on a merged profile database of 2 samples:

| | v6.2 | master |
| --- | --- | --- |
| SSD | 270s  | 110s |

And then that 1min50s nearly doubled going up to 3min53s with 26 profiles. So I guess it is not unreasonable to assume that the `v6.2` would have doubled for 26 profiles, going up to 540 seconds. Now with the current master it is down to 40s. So `anvi-re

[2020-07-17 13:51] dbenitom opened #1467 "[FEATURE] gff_parser.py matching anvi'o v.>6.0 requirements"
## The need

Anvi'o versions above 6.2 require an external `gene-calls.txt` including the [column `call_type`](http://merenlab.org/software/anvio/help/artifacts/external-gene-calls/#call-type). The current version of [`gff_parser.py`](https://github.com/karkman/gff_parser) doesn't generate this column when parsing `.gff` files obtained with Prokka.

## The solution

Update `gff_parser.py` to match

[2020-07-17 17:15] meren commented on #1467
Thank you very much for taking the time to report this, @dbenitom. Let's see if @karkman is around and willing to take a look.

If he has no time, I will try to find another solution. Meanwhile, can you please send an example GFF file for us to test along with a FASTA file and the exact set of commands you run?

Thank you!

[2020-07-20 09:46] dbenitom commented on #1467
Thanks for the reply, @meren! Attached are the GFF, and FASTA files.

For Prokka annotation I ran:

[code]

And the command for parsing:

[code]

Please tell me if you need anything else!

[2020-07-20 13:27] meren commented on #1467
Hey @dbenitom, thank you very much for these files. The following version of the `gff_parser.py` script should work well with `call_type` column.

I am going to also send a PR for @karkman to consider, but you can start using it immediately:

https://gist.github.com/meren/82a044bee86b8c5568669695c12575cc

[2020-07-20 13:28] meren commented on #1467
Please let me know how it goes.

Plus, there are WAY too many extremely short contigs in your FASTA file. I think you should consider removing them from your data first since they will cost a lot of computational resources for no good reason (or perhaps you have a good reason to keep them, in which case please ignore my note).

[2020-07-20 15:40] meren opened #1469 "String formatting conventions"
"String" in this context means anything anvi'o reports into the terminal window or log files for users and developers to read. String formatting is meant to describe how code dynamic expressions or variables in anvi'o string literals.

Here I propose a change to the convention we had been using in the code. This is not urgent and does not require a complete change in the codebase, but should affec

[2020-07-20 15:59] ekiefl commented on #1469
The future is now

[2020-07-20 18:56] mooreryan opened #1471 "[BUG] Too much output in the South Loop"
## Short description of the problem

There is too much logging in the south loop.

## anvi'o version

On master branch commit: 5b9facaa

[code]

## System info

Debian linux....tracking anvio master branch.

## Detailed description of the issue

A recent commit (not sure which) has changed the logging behaviour in the South Loop.  It no longer has the nice increasing progress bar, rather three lin

[2020-07-20 19:02] meren commented on #1471
It was not intentional :) this is a legitimate bug. thank you!

[2020-07-20 19:23] meren commented on #1471
Just to note, it is working well here:

![image](https://user-images.githubusercontent.com/197307/87977404-4b913700-ca94-11ea-998a-9bca5820a007.png)

I think this is due to the terminal window size. We actually cut the text and put a set of ` (...)` characters when things are not going to fit to the resolution of the terminal you're using. But I think @ekiefl's latest editions to that shows the ET

[2020-07-20 19:33] ekiefl commented on #1471
Meren did you try making your terminal window smaller to replicate the problem?

[2020-07-20 19:35] meren commented on #1471
Indeed :)

![image](https://user-images.githubusercontent.com/197307/87978559-35847600-ca96-11ea-9c1f-be634b9583d3.png)

[2020-07-20 19:40] meren commented on #1471
OK. I went back to `v5.5`, it is still there even without ETA :/ I don't think this has started with ETA, but it seems ETA did not make things better either. There is only one byte extra on `v5.5`:

![image](https://user-images.githubusercontent.com/197307/87978764-914eff00-ca96-11ea-9e22-91041cb07cd5.png)

This is on `master`, the entire ETA is Cartman saying screw you guys I'm going home:

![ima

[2020-07-20 19:41] mooreryan commented on #1469
Should single or double quoted format strings be preferred? E.g.,

[code]

[2020-07-20 19:56] meren commented on #1469
We generally prefer double quotes for convenience (other wise you have to escape every time you type anvi'o).

[2020-07-21 10:10] dbenitom commented on #1467
Hi @meren!
Unfortunately, I don't see the `call_type` column in the output:

[code]

The same [command as above](https://github.com/merenlab/anvio/issues/1467#issuecomment-660924295) was used with the new script. I execute this from my `anvio-master` virtual environment (Python 3.6.10, in case this makes any difference). Here are the differences between the new and old scripts, in case they might

[2020-07-21 12:55] meren commented on #1467
Crap :) I've made a mistake. Sorry about that! I'll send something in a minute.

[2020-07-21 12:59] meren commented on #1467
OK. The updated version is here:

https://gist.github.com/meren/82a044bee86b8c5568669695c12575cc

I forgot to update the header in the previous attempt :/ Apologies. It looks alright now:

[code]

[2020-07-21 13:39] dbenitom commented on #1467
This worked perfectly, thanks a lot!

[2020-07-21 13:39] #1467 closed

[2020-07-21 18:36] watsonar opened #1473 "[BUG] KeyError when trying to open anvi-interactive in collection mode"
## Short description of the problem

When I try to open anvi-interactive in collection mode using a contigs.db, profile.db, and collection that I have successfully used in the past, I get a KeyError.

## anvi'o version

[code]

## System info

I'm using anvi-master on a Linux system.

## Detailed description of the issue

Command and output, including error:
[code]

## Files to reproduce

I will c

[2020-07-21 18:39] meren commented on #1473
Can you try again, @watsonar? Sorry for the inconvenience.

[2020-07-21 18:41] watsonar commented on #1473
The error is gone! Thank you so much :D

[2020-07-21 18:41] #1473 closed

[2020-07-22 18:37] meren commented on #1450
@tdelmont, can you please send an example NEWICK file here and the exact command lines to visualize it using anvi'o?

[2020-07-22 19:31] meren commented on #1450
In an ideal world, solving this would include,

- A a new section in the anvi'o interactive interface under Additional Settings,
  - A checkbox that says "Show branch support values".
  - Selection of which enables two input boxes for a range of values that is automatically filled with the minimum and max support values found in the displayed NEWICK tree. This would let the user to define which va

[2020-07-23 12:45] tdelmont commented on #1450
This is great Many thanks for attempting to improve this feature within anvi'o.

This for instance is a phylogenetic tree of actin proteins, that includes two support values using two computational strategies (useful for some evolutionary studies):

---
(XP_005265644_Arp8_Homo_sapiens:0.005416,(((((NP_014784_Arp8p_Saccharomyces_cerevisiae_S288C:0.717934,EAA33853_Arp8_Neurospora_crassa:0.545298)99.

[2020-07-23 16:33] ekiefl opened #1474 "[BUG] pandas 1.0.5 is incompatible with variabilityops"
## Short description of the problem

Pandas v1 is a very big milestone for the pandas developers, and when I upgraded my pandas to 1.0.5, the variability . This means we are stuck in pandas 0.XX until this is addressed.

## anvi'o version

Replace this text with the output of this command:

[code]

## System info

Please tell us which operating system you are using, and how did you install anvi'o.

[2020-07-27 03:17] meren commented on #1274
Hey @khendarg, I know it's been ages since you commented on this, but I finally have been able to find out why this is happening (I had to, because I installed anvi'o on a new computer that runs Mac OS Catalina, and anvi'o started crashing all the time).

In a nutshell, the problem is due to network requests. Whenever anvi'o runs this line in bottle routes module, the server gets killed:

[code]

[2020-07-29 19:18] meren commented on #1458
Heard no complaints so far, assuming resolved :)

[2020-07-29 19:18] #1458 closed

[2020-07-29 20:21] meren commented on #1344
Hey @brymerr921, probably it is too late for your needs, but I still wanted to close this by mentioning that this is now addressed in `master` thanks to @mooreryan's recent PRs #1437, #1468, and #1445.

[2020-07-29 20:21] #1344 closed

[2020-07-29 21:47] ekiefl opened #1476 "[BUG] run_all_tests.sh fails with sqlite3.OperationalError: near "s_column": syntax error"
## Short description of the problem

On master, this happens when I run all tests:

[code]

Here is my sql version (maybe this is the problem)

[code]

I notice there is no `sqlite3` in the `requirements.txt` so not sure what everyone is running.

[2020-07-29 22:10] ekiefl opened #1477 "[BUG] run_metabolism_tests.sh fails on master"
## Short description of the problem

Running `run_metabolism_tests.sh` yields this error:

[code]

## anvi'o version

master

## System info

custom

[2020-07-29 23:51] ivagljiva commented on #1477
@ekiefl This is actually not a surprising error. :/ This is expected to happen whenever you try to run metabolism estimation using a MODULES.db with different content than the one used to annotate KOfams (to avoid potential version discrepancy issues from throwing off the estimation). Normally, this is fine, but in the context of self-test we cannot have this happening to people, as it is very lik

[2020-07-30 00:16] meren commented on #1477
Can you reproduce this error on `master`, @ivagljiva?

[2020-07-30 00:17] ivagljiva commented on #1477
Yes, I get the same error on `master`

[2020-07-30 00:18] meren commented on #1476
This is due to old sqlite :)

There will be one in the conda recipe with a minimum of version `3.31.1`.

[2020-07-30 00:22] meren commented on #1476
Akshully, this closes this issue: 1fe69de7f610cf854b99f20b3887f7a57183425c.

Thanks for reporting, so Google can bring those in need of help to this solution.

[2020-07-30 00:30] ivagljiva commented on #1477
And I have also just checked how long it takes to run `anvi-run-kegg-kofams` on one of the test databases.

Annotating just `anvio/anvio/tests/sandbox/data/genomes/bacteria/B_thetaiotamicron_VPI-5482.db` with 4 threads takes over 7 minutes on my laptop. That is too long for testing in my opinion.
`✓ anvi-run-kegg-kofams took 0:07:21.688839`

This would be one situation in which that `--ignore-modu

[2020-07-30 01:36] meren commented on #1477
Hahah :) I'm so proud that you immediately got rid of it :)))

Yes, I think that is the way to go :) Two SQLite calls to learn from one db and to update the other db :)

[2020-07-30 05:17] ivagljiva commented on #1477
Sorry for the delay, I have fixed this with [this commit](https://github.com/merenlab/anvio/commit/8b82c1db034afdb954b15c62cf7b057cfd3ebc40)

@ekiefl, can you please confirm that you no longer get this error when running `anvi-self-test --suite metabolism`? :)

[2020-07-30 17:31] ekiefl commented on #1477
No problem at all!

It works. Thank you for dealing with this :) I will close

[2020-07-30 17:31] #1477 closed

[2020-08-03 22:27] FlorianTrigodet opened #1478 "[BUG] Problem with R1 and R2 outputs from anvi-get-short-reads-from-bam"
## Short description of the problem
When using `anvi-get-short-reads-from-bam`, you can choose between two type of outputs: (1) a single fasta; (2) 3 fasta files for R1, R2 and unpaired reads. The problem with (2) is that one of the paired sequence should be the reverse complement.

## anvi'o version

[code]

## Detailed description of the issue

I have used `anvi-get-short-reads-from-bam` with th

[2020-08-03 22:56] meren commented on #1478
Can you please test the solution, @FlorianTrigodet? Thank you!

[2020-08-04 00:49] FlorianTrigodet commented on #1478
I see you did the reversed complement of R2, and that partially solve the problem, but not completely.

With `anvi-get-short-reads-from-bam`, we either get:
[code]
Or:
[code]

Reverse complement of R2 only solve the first case. In the second situation, it make the two reads facing opposite directions, like that:
[code]

Let me know if this make sense (otherwise, I will make more keyboard drawings!

[2020-08-04 01:07] FlorianTrigodet commented on #1478
Ok, I think I found what could be done but don't feel really qualify to make the change.
If R1 is reverse direction (`is_reverse` seems to be available), then rev_comp R1 and don't touch R2
Else, rev_comp R2.

[2020-08-04 01:11] meren commented on #1478
Try it! It is one more if/else block for rev/comp :)

[2020-08-04 15:51] FlorianTrigodet commented on #1478
The bug has been fixed by the last commit!

[2020-08-04 17:45] meren commented on #1478
Thanks, @FlorianTrigodet :)

[2020-08-04 17:45] #1478 closed

[2020-08-06 08:22] NVOostende opened #1479 "[BUG] Samtools shared library libcrypto.so.1.0.0 not found"
## Short description of the problem

After updating conda and Anvio to the latest version, samtools had an issue with not finding a shared library  libcrypto.so.1.0.0

## anvi'o version

[code]

## System info

Using Anvio on a cluster (Linux Redhat) and installed Anvio as follows:

[code]

## Detailed description of the issue

Expected samtools to convert .sam files to .bam files, however samtool

[2020-08-06 08:32] NVOostende opened #1480 "[FEATURE] add gene caller ids as input for anvi-export-gene-coverage-and-detection"
## The need

Sometimes one just needs the depth of sequence coverage for a couple of genes of interest, e.g. single copy genes of a particular taxon, in a metagenome.

## The solution

Add gene caller ids as input for anvi-export-gene-coverage-and-detection

## Beneficiaries

Anyone interested in biodiversity

[2020-08-06 14:19] meren commented on #1479
Unfortunately this is a conda issue, and there is nothing we can do to solve it from here. But there may be some solutions / ideas here:

https://github.com/bioconda/bioconda-recipes/issues/13958

If you solve it please let us know about your solution, @NVOostende. Sorry for the inconvenience.

[2020-08-06 14:19] #1479 closed

[2020-08-06 15:02] NVOostende commented on #1479
Thank you @meren for the link to bioconda recipes!
Ran
`conda install -c bioconda samtools=1.9 --force-reinstall`
to update samtools to latest build, and it did the trick.
[code]
samtools was happy when queried this time around.

[2020-08-06 16:16] watsonar opened #1481 "[BUG] anvi-script-visualize-split-coverages cannot make a fill chart using both --xlim flag and a samples.txt"
## Short description of the problem

When making a fill chart (the default chart type) with `anvi-script-visualize-split-coverages`, you can either use the `--xlim` flag or a `samples.txt`, but not both at the same time without encountering an error. Adding `--chart-type line` fixes the issue.

## anvi'o version

[code]

## System info

MacOS Catalina, and I installed anvi'o via the [youre-a-wizar

[2020-08-06 17:31] mooreryan commented on #1481
I didn't even realize there was an `--xlim` option for this script! But I went back to check and (pretty sure) I found the problem. (pinging @ekiefl since he added the `xlim` option)

## Pretty sure the problem is this

The problem when using `xlim` is this (from [ggplot2 reference](https://ggplot2.tidyverse.org/reference/lims.html)):

So when using `xlim` anything outside the x-limits region is g

[2020-08-06 17:43] ekiefl commented on #1481
@mooreryan, thanks for identifying the problem. I didnt run into this error when adding the xlim option :/

@watsonar would you be interested in replacing what I did with `coord_cartesian` and seeing if it works?

[2020-08-06 18:33] watsonar commented on #1481
@mooreryan thank you for taking a look at this!

@ekiefl I wouldn't mind trying to fix it, it would be a good exercise for me to practice using git. :)

[2020-08-06 18:57] watsonar commented on #1481
@ekiefl it worked! 🎉 I submitted a pull request. I've never done this on my own before, so apologies if I messed something up.

[2020-08-06 19:10] ekiefl commented on #1481
This is great. I'll close the issue

[2020-08-06 19:10] #1481 closed

[2020-08-06 20:16] mooreryan commented on #1481
I added a couple more tests (#1483) to cover this bug...they all passed with @watsonar's `coord_cartesian` patch, so everything looks great!

[2020-08-06 21:46] #1480 closed

[2020-08-06 21:47] meren commented on #1480
This feature is now implemented in `anvi-export-gene-coverage-and-detection`, the help menu of which look like this in `master`:

[code]

Thank you for the request, @NVOostende.

[2020-08-07 07:24] NVOostende commented on #1480
Fantastic!

[2020-08-07 10:11] rsiani opened #1484 "Interactive interface, TypeError: this.layerdata_dict[q.label] is undefined"
Hi,
trying to use ANI_full_percentage_identity.newick to set the item order in anvi-display-pan. Any idea what went wrong and how to fix it?

Anvi'o version: `6.2`
[code]

After finishing the ANI analysis I also got this message, don't know if it could be related:

WARNING
===============================================
Bad news :/ Something went wrong while anvi'o was processing the clustering fo

[2020-08-09 21:20] ekiefl commented on #1358
This is solved with the above-mentioned PR

[2020-08-09 21:20] #1358 closed

[2020-08-11 22:00] jzrapp opened #1487 "[BUG] anvi-refine is loading only for a subset of collection"
## Short description of the problem

Hi, I'm trying to refine a collection of approximately 60 MAGs, but for some reason the anvi-refine command does not open the interactive interface for a subset of those 60 bins

## anvi'o version

Anvi'o version ...............................: esther (v6.2)
Profile DB version ...........................: 31
Contigs DB version ...........................: 14
P

[2020-08-12 14:50] razz1618 opened #1488 "Problem with anvi-setup-scg-databases"
I am trying to run anvi-setup-scg-databases
 for the first time on ubuntu 18 but it fails with following code

anvi-setup-scg-databases

[code]
WARNING
===============================================
The existing directory for SCG taxonomy data dir has been removed. Just so you
know.

WARNING
===============================================
Please remember that the data anvi'o uses for SCG taxonomy

[2020-08-12 16:51] meren commented on #1488
Hi @razz1618, yes, the file names have changed in the latest release of GTDB, and anvi'o was not prepared for that. We fixed it in #1475, but it is only available to those who follow the `master` branch (a way to do that is explained in our installation manual).

If you reinstall anvi'o through conda, you will have the necessary files to run `anvi-setup-scg-databases` without any issues. But `anvi

[2020-08-12 16:51] #1488 closed

[2020-08-12 17:05] DianaKarina opened #1489 "Installing anvio 6.2 in Ubuntu 14.04 with conda 4.8.4"
Hi Anvio community,

I am trying to install anvio 6.2 following the instructions with conda, but when running the minitest I get the following error:

:: Profiling sample SAMPLE-01 ...

Traceback (most recent call last):
  File "/home/diana/miniconda3/envs/anvio-6.2/bin/anvi-profile", line 5, in <module>
    import anvio.profiler as profiler
  File "/home/diana/miniconda3/envs/anvio-6.2/lib/python

[2020-08-12 17:12] meren commented on #1489
Hi Diana,

It seems downgrading sklearn through conda to version `0.20.3` will solve this issue:

https://github.com/scikit-learn/scikit-learn/issues/14485

[2020-08-12 18:58] ivagljiva commented on #1229
I am closing this issue as this functionality is provided by `anvi-setup-kegg-kofams` and `anvi-run-kegg-kofams`. This programs will be in the `v7` release for anyone not working with `master` :)

[2020-08-12 18:58] #1229 closed

[2020-08-12 23:35] razz1618 commented on #1488
Noted. Thanks for the good work.

[2020-08-13 17:11] DianaKarina commented on #1489
Thank you Meren! With your suggestion, the mini-test worked perfectly!

[2020-08-14 10:33] jzrapp commented on #1487
It appears that all bins can load and be visualized after I removed the default state from my database!

[2020-08-14 10:33] #1487 closed

[2020-08-14 14:12] meren commented on #1487
Hey @jzrapp, I've been meaning to get to this, but the backlog of things to finish prevented me to respond earlier. I apologize for that.

I am glad it is resolved, and thank you very much for reporting that back and closing your own issue :) But I have to admit that it makes zero sense to me how a default state could have caused such an issue. Do you have any insights how it may have happened by

[2020-08-14 14:24] jzrapp commented on #1487
Ho @meren,

anvio had never failed me, so typically the issues I run into are caused by myself. That being said, I don't really understand what happened either, but I think I had overwritten the default state previously so that some additional misc data layers would automatically show up for each bin. However, there was no consistent difference between the bins that loaded and those that didn't, s

[2020-08-14 14:30] meren commented on #1487
Thanks for the insights, Josephine.

I will try to figure out whether inconsistencies between what is in misc data and what is set in state files may lead to a snafu.

_(The difficult part for anvi'o is that the state file is not processed until the interactive interface is initiated, so our regular sanity checks throughout the codebase do not benchmark them against the data procured before the in

[2020-08-14 21:46] mschecht opened #1491 "[FEATURE] anvi-estimate-scg-taxonomy exports scg fasta file"
Hi Anvio team,

It would be great if `anvi-estimate-scg-taxonomy` also provided a fasta file to accompany the taxonomy output file. For example a flag called `--export-scg-fasta`. Currently, to find the scg sequences one would have to do some post-processing with `anvi-get-sequences-for-hmm-hits` to accomplish this.

Cheers,
Matt

[2020-08-26 17:20] ekiefl opened #1494 "[BUG] --cluster-contigs fails under some circumstances"
## Short description of the problem

`anvi-profile` fails on the IGD when using `--cluster-contigs`

## anvi'o version

master

## System info

Please tell us which operating system you are using, and how did you install anvi'o.

## Detailed description of the issue

I tried all these commands:

[code]

but they all lead to this error:

[code]

[2020-08-28 16:08] ekiefl commented on #1476
Discussion from https://groups.google.com/g/anvio/c/BzcH1zT31Hw/m/jLThGYXfAQAJ moved to this issue.

It turns out this error is not due to **old** sqlite3 versions, but also **newer** sqlite3 versions. 3.31 must be an anomaly.

[2020-08-31 18:30] FlorianTrigodet opened #1498 "[FEATURE] Markdown output for `anvi-display-contigs-stats`"
## The need

`anvi-display-contigs-stats` provides a table in a .txt output that I have to convert to markdown every time I want to report contigs.db summaries. We could use a markdown ouptut.

## The solution

Add a flag like `--as-markdown` for an optional markdown output format.

## Beneficiaries

Would be useful to report and share the output of `anvi-display-contigs-stats`, especially in GitH

[2020-08-31 20:50] #1498 closed

[2020-08-31 20:51] meren commented on #1498
DONE.

[2020-08-31 21:37] ekiefl commented on #1498
Please no one ever `anvi-gen-variability-profile --quince-mode --as-markdown`

[2020-08-31 21:59] meren commented on #1498
It is a hidden flag and will not appear in help menus :p

[2020-09-02 02:18] meren commented on #1476
This is very disturbing :( I will look into this with a newer sqlite3.

[2020-09-02 19:05] sadelbe opened #1499 "[BUG] anvi-display-contigs-stats import error"
## Short description of the problem

When running anvi-display-contigs-stats on my contigs db I get an error.

## anvi'o version

Anvi'o version ...............................: esther (v6.2)
Profile DB version ...........................: 31
Contigs DB version ...........................: 14
Pan DB version ...............................: 13
Genome data storage version ..................: 6
Auxil

[2020-09-02 19:48] meren commented on #1499
Your `cherrypy` version must be `8.0.0`. Please take a look at the version you have by running this:

[code]

We are leaving cherrypy behind in `v7`.

Best wishes,

[2020-09-02 19:48] #1499 closed

[2020-09-03 13:07] sadelbe commented on #1499
18.6.0 is what I get when I run the above command. I am still getting the same error.

[2020-09-07 15:31] aberaslop commented on #1432
Hi!
This is exactly what I was looking for in the tutorials. It would certainly be a great addition! Has there been any update? And if not yet, did you find a way to perform such analysis?

Thank you!

[2020-09-07 15:57] meren commented on #1432
@ivagljiva, while you are working on this tool, please take a look at this one as well :)

[2020-09-07 17:19] IsabelFE commented on #1432
@aberaslop I couldn't find a tool to do this. I ended up just using the COG annotation data exported from Anvio and looking at % of each COG category in the Core vs. Accessory. Since a GC can have individual genes with different COG category assignments I did analysis at the gene level but counting each gene contribution as 1/x, being x the number or gene copies in a given GC. Then for all genes i

[2020-09-11 18:16] FlorianTrigodet opened #1502 "[FEATURE] Include the SCG taxonomy in the collection summary"
## The need

In the collection summary output, especially the html, there is a taxonomy column per bin (usually centrifuge output, if I am not mistaking). We can use the SCG taxonomy instead. We can actually have the full SCG taxonomy output in the collection summary.

## The solution

Include the output of `anvi-estimate-scg-taxonomy` in the `anvi-summarize` output.
We could have a short taxonomy

[2020-09-12 00:25] #1476 closed

[2020-09-12 00:25] meren commented on #1476
I figured it out :/ It is not about the SQLite version directly. It is about one of the column variable names we had been using. I updated it in one of the test files and run all tests is running properly.

[2020-09-12 00:27] meren commented on #1502
This is done, @FlorianTrigodet. Please let me know how it looks when you have a chance to test it :)

[2020-09-12 00:27] #1502 closed

[2020-09-14 11:31] cdiazmun opened #1505 "ANI (full?) percentage identity"
Good morning everyone!

I had a dataset with >100 strains from the same species and I performed both a Phylogenomic and a Pangenome analysis. In the pangenome, I clustered my genomes according to `gene_cluster frequencies` and it gave me the best results (it made sense to me the way they were orginizing and it was in lane with both the phylogenomic tree and literature). I included then the ANI res

[2020-09-14 11:43] cdiazmun commented on #1505
Interesting: with `ANI_full_percentage_identity` the strains are clustering according to the "authorship" (if I took 20 strains sequenced by _Example et al., 2020_ they're all clustered together). So the sequencing run and/or assembly strategy played an important role...but I only see this with the `ANI_full_percentage_identity` and not `ANI_percentage_identity` or the phylogenomic tree (based on

[2020-09-14 14:19] ekiefl commented on #1505
@cdiazmun I think you should look at the alignment fractions. This parameter in the help menu of `anvi-compute-genome-similarity`:

[code]

I hope this make sense. Since this is not an issue, but a feature, I am closing this issue, but feel free to comment if you're still confused.

[2020-09-14 14:19] #1505 closed

[2020-09-15 19:43] FlorianTrigodet commented on #1502
It is beautiful!

[2020-09-16 10:22] aberaslop commented on #1432
Thank you so much, @IsabelFE, @meren and @ivagljiva for your answer and for having a look at this suggestion! It is super helpful.

@IsabelFE, did you use the output table from anvi-summarize? I think I understand why you counted each gene contribution as 1/x. You would do that if there are several genes within a GC with different COG category assignment. But what would you do if one gene is assig

[2020-09-16 14:42] IsabelFE commented on #1432
If one gene was assigned to more than one COG I considered it an ambiguous assignment. I grouped all those as one category on my plot and called it ambiguous (they were around 10% of the total). It is not ideal, I know... Between genes with non-assigned COG, ambiguos COG and uninformative COG (categories S and R) I ended up with only 60% of informative COG assignments.

[2020-09-16 14:46] aberaslop commented on #1432
Hi @IsabelFE, thank you so much. I agree, it is not ideal, but it is a way to start looking into the data. Thanks again for your help!

[2020-09-16 14:50] IsabelFE commented on #1432
I am glad that was helpful. If you find a better approach, please let me know!

[2020-09-16 14:53] aberaslop commented on #1432
I will certainly do!

[2020-09-17 21:16] watsonar opened #1507 "[BUG] anvi-compute-genome-similarity - AttributeError: module 'anvio' has no attribute 'summarizer'"
## Short description of the problem

When running `anvi-compute-genome-similarity` with an internal genomes file and pan db, I receive an attribute error: `AttributeError: module 'anvio' has no attribute 'summarizer'`

## anvi'o version
[code]

## System info

I am using the Meren lab's UChicago midway partition.

## Detailed description of the issue

Here is my command and its complete output:
[c

[2020-09-17 22:40] meren commented on #1507
Thank you for your report :) Can you please try again, @watsonar?

[2020-09-18 03:47] watsonar commented on #1507
@meren it worked perfectly, thank you! :D

[2020-09-18 03:47] #1507 closed

[2020-09-18 22:34] minna-miha commented on #920
@sipesk did you ever resolve this issue? I am having the same exact issue. Thanks

[2020-09-18 22:53] minna-miha commented on #607
@ozcan hi there,

I have a very similar issue to @ShaiberAlon (only when running` anvi-gen-genomes-storage`). When I run `sqlite3 CONTIGS.db "SELECT * FROM self"` there is no kmer_size in the output. What should I do about this?

[2020-09-19 00:21] minna-miha opened #1508 "anvi-gen-genomes-storage gives KeyError: 'kmer_size'"
Hello,

I am using anvio v5.2, and when I ran `anvi-self-test --suite mini` and `anvi-self-test --suite pangenomics`, there were no errors, as far as I can tell. I am trying to follow the anvio pangenomics workflow.

`anvi-self-test -v` gives
[code]

**The issue:**

I sent `anvi-gen-genomes-storage -e anvio_storage.txt -o AHess_Mariana-GENOMES.db
`
and got the error:

[code]
I saw on another very

[2020-09-19 00:47] meren commented on #1508
Your contigs db seems be broken.

Please don't use anvi'o 5.2. it is ancient.

[2020-09-19 00:47] #1508 closed

[2020-09-19 00:59] minna-miha commented on #1508
@meren yes it seems to be so. When I ran `anvi-gen-contigs-database -f HafaAdai_AHess_Mar172_assembly.fasta -o HafaAdai_AHess_contigs.db -n HafaAdai_AHess --external-gene-calls HafaAdai_AHess_Mar172_formatted.txt` I did get an error:

[code]

But I was having a hard time finding more about this error online, and interpreted it more as a warning, which maybe I should not have. I'm unclear about why

[2020-09-19 01:07] meren commented on #1508
Please remove the `aa_sequence` column since this is likely a feature we introduced recently and is not available to anvi'o `v5.2`.

[2020-09-19 01:10] minna-miha commented on #1508
@meren thank you!!

[2020-09-21 05:30] TonyMane commented on #1196
Greetings, i'm using the master branch, but when I used the 'IDENTITY' flag, i get back the following error (below). How do you add this to a database (or databases)? thank you (fyi would add my files, but they are rather large).

(anvio-master) (anvio-master) -bash-4.2$ anvi-get-enriched-functions-per-pan-group -p ./Nitrospina_noOutgroup/Nitrospina_pan-PAN.db \

Genomes storage ..................

[2020-09-29 06:47] GeoMicroSoares opened #1510 "anvi-cluster-contigs / Memory issues?"
Thanks so much for your work in this tool and for this in advance - you guys are the best!

## Short description of the problem

Running `anvi-cluster-contigs` with `DASTool `or `Binsanity `as drivers I get a `python` `MemoryError`.

## anvi'o version

Replace this text with the output of this command:

[code]

## System info

Running WSL on Windows:
[code]
Anvi'o was installed [via conda](http://

[2020-09-29 17:46] JuliaMcGonigle opened #1511 "Issue with single sample in a category with anvi-get-enriched-functions-per-pan-group"
## Short description of the problem

Maybe bug? Maybe you know about it already and this is not useful to report? Feel free to ignore if so.

The "categorical" layer I used with --category-variable had one sample which was the only sample for that group and the program broke with the following error:

Config Error: It looks like something went wrong during the functional enrichment analysis. We

[2020-09-29 20:00] efogarty11 opened #1512 "[BUG] snakemake workflows give error when mapping a single metagenome to multiple references"
## Short description of the problem

When using the snakemake workflows to map a single metagenome to multiple references you get a key error unless you name each reference the group name, and repeat the same sample multiple times in the samples.txt file with a unique name.

## anvi'o version

Main as of Sept. 29, 2020.

## System info

on midway.

## Detailed description of the issue

I tried to

[2020-10-02 03:48] Jessica-Pan opened #1513 "Documenting anvi-report-linkmers and anvi-oligotype-linkmers"
These programs both have little to no information available, so it's hard to start defining what they do and how to use them.

[2020-10-02 23:27] meren commented on #1196
Hi @TonyMane,

Sorry for the late response.

Your command will work if you add `--include-gc-identity-as-function` to your command :)

[2020-10-06 23:30] watsonar opened #1515 "anvi-refine "Search functions" gives red box with number in it, but no functions"
## Short description of the problem

Upon clicking the "Search functions" box after inputting a search query in the anvi-refine interactive interface, I don't get any results but get a red box saying "467". The number seems to vary depending on what I search, "ribo" gave me the number 41.

## anvi'o version

[code]

## System info

I'm using the Meren lab's UChicago midway partition.

## Detailed

[2020-10-07 10:47] jzrapp opened #1516 "anvi-get-sequences-for-gene-calls as DNA sequences for genome_storage.db ?"
## Short description of the problem

anvi-get-sequences-for-gene-calls behaves different than expected and doesn't export DNA sequences for gene calls from genome_storage.db

## anvi'o version

Anvi'o version ...............................: esther (v6.2)
Profile DB version ...........................: 31
Contigs DB version ...........................: 14
Pan DB version ...........................

[2020-10-07 12:00] dbenitom opened #1517 "[FEATURE] anvi-script-visualize-split-coverages with gene information"
## The need

When using `anvi-script-visualize-split-coverages` I realised I'd like to visualise differential coverage for individual genes or operons across samples. This is especially useful for metatranscriptomics samples.

## The solution

To include the ORFs arrows (optially with the gene call ID) as an additional element in the output graphs of `anvi-script-visualize-split-coverages`.

## Be

[2020-10-07 12:00] dbenitom opened #1518 "[FEATURE] anvi-script-visualize-split-coverages to visualise coverage for genes across samples"
## The need

When using `anvi-script-visualize-split-coverages` I realised I'd like to visualise differential coverage for individual genes or operons across samples. This is especially useful for metatranscriptomics samples.

## The solution

To include the ORFs arrows (optially with the gene call ID) as an additional element in the output graphs of `anvi-script-visualize-split-coverages`.

## Be

[2020-10-07 14:15] meren commented on #1516
Dear @jzrapp,

This is a bug we need to fix:

But unfortunately this part is going to take much longer to address due to a design flaw in genome storage (i.e., the genome storage does not know about DNA sequences for space considerations, which is a major shortcoming that we intend to fix in the future):

We will try to make sure the first bug is addressed in `v7`. Thank you for your time to repor

[2020-10-07 14:18] meren commented on #1517
Dear David,

Thanks for the suggestion. This is a very difficult task, but still pinged @mooreryan, who is the creator of this program.

Meanwhile, I will also ping @efogarty11 in case she has a workaround/suggestion.

Apologies for the inconvenience.

[2020-10-07 14:19] jzrapp commented on #1516
Thank you! Also thank you for the work-around!

[2020-10-07 14:19] #1516 closed

[2020-10-07 14:28] dbenitom commented on #1517
Thank you for the quick answer :) There is no rush, since the information is easily accessible using `anvi-inspect`
(also apologies for the duplicated issue, I had some problem with the browser)

[2020-10-07 14:30] meren commented on #1518
(this is now being discussed at #1517)

[2020-10-07 14:30] #1518 closed

[2020-10-07 14:31] meren commented on #1517
Oh, my bad. I clicked a link in an e-mail without realizing there is another one you wanted to keep. I hope everything is set now :)

[2020-10-07 14:37] efogarty11 commented on #1517
Unfortunately I haven't come up with a good workaround for this :( but I agree that it would be very useful!

[2020-10-08 13:02] xuechunxu opened #1519 "Can I save the result of ```Displaying the pan genome```?"
Hey,

When I used remote CMD tool like ```xshell``` to use Anvi'o ```anvi-display-pan -p PROJECT-PAN.db -g PROJECT-PAN-GENOMES.db``` (http://merenlab.org/2016/11/08/pangenomics-v2/) on remote server. It invoked ```xmanger``` or ```xming``` to display interactive interface. It is very slow and almost impossible to operate.

Can I save the result of ```Displaying the pan genome```? After finish, I c

[2020-10-08 14:50] meren commented on #1519
Hey @xuechunxu,

Please take a look at this post:

http://merenlab.org/2018/03/07/working-with-remote-interative/

I hope this helps.

Best,

[2020-10-08 14:50] #1519 closed

[2020-10-08 15:06] xuechunxu commented on #1519
Looks so hard for me. It will be more better if ```Anvio``` can produce interactive file like ```Qiime2```.
Thank you very much.

[2020-10-08 16:14] meren commented on #1519
If you download those files (PAN.db and STORAGE.db) to your computer and run `anvi-pan-genome` locally to visualize the pangenome interactively.

[2020-10-11 02:04] ekiefl opened #1522 "[FEATURE] display-structure should have a search for gene by ID, ligand, and function"
## The need

It's hard to search for specific functions, ligands, and gene ids (when there are many structures) within the interface

## The solution

Add a search menu in the main tab

[2020-10-11 02:06] ekiefl opened #1523 "[BUG] Prevalence is not correctly calculated in anvi-display-structure"
This should be fixed by v7

[2020-10-11 02:09] ekiefl opened #1524 "[BUG] anvi-display-structure conversion to pymol script needs updating"
## Short description of the problem

dynamic coloring of backbone and surface has not been coded.

variants are sized dynamically even if static.

should be fixed for v7

[2020-10-12 04:19] ay-amityadav opened #1525 "[BUG] anvi-setup-ncbi-cogs fails"
## Short description of the problem

Setting ncbi-cogs using `anvi-setup-ncbi-cogs` fails.

## anvi'o version

[code]

## System info

OS: `Ubuntu 16.04.5`
Anvio installation method : Installed anvio using conda in a separate environment only for anvio

## Detailed description of the issue

The command `anvi-setup-ncbi-cogs` gave the below error message,  I was expecting a successful execution of

[2020-10-12 15:17] meren commented on #1525
Hi @ay-amityadav, it is likely that the file was corrupted / downloaded incomplete :/ Can you please rerun the command with the flag `--reset` and see if that addresses the issue?

Thank you,

[2020-10-12 15:34] ekiefl opened #1526 "[BUG] anvi-gen-fixation-index fails with pandas ValueError"
## Short description of the problem

Program fails with pandas error. Suspected to be due to and upgraded pandas version.

[code]

## anvi'o version

master

## Files to reproduce

Can be reproduced by running

[code]

[2020-10-12 15:57] #1526 closed

[2020-10-13 03:20] ay-amityadav commented on #1525
Thank you very much, it worked.

[2020-10-15 16:19] YogiOnBioinformatics opened #1528 "Usage for Non-Microbial Omics Data?"
I ran into this recently and thought this was wonderful!
However, I was a bit confused about whether this tool is only tailored for Microbial omics work?

I would hope/imagine this platform is there for use for multi-omics from any context.
I personally work with human iPSC multi-omics data and wanted to know if this would be fine to use.

[2020-10-15 16:47] meren commented on #1528
Although there is nothing published at the moment, we have used it to study alpha-satellites of the human chromosome :) In theory it is perfectly fine to use it apart from the fact that the default gene caller anvi'o uses, Prodigal, is only able to identify bacterial and archaeal genes effectively. Making things worse, while anvi'o allows [the user to import their own gene calls](http://merenlab.o

[2020-10-16 15:47] YogiOnBioinformatics commented on #1528
Awesome, thanks so much!

[2020-10-16 15:47] #1528 closed

[2020-10-16 21:47] PatoUru opened #1529 "anvi-display-pan does not work"
Hi all!
Today I installed ANVIO! I tried to make a pangenome from four MAGs. But unfortunately the last step did not work!
(This works very well  anvi-self-test --suite pangenomics)
Any suggestion?
Thank you in advance!!
![image](https://user-images.githubusercontent.com/47186701/96311146-366a6c80-0fdf-11eb-85ff-05428e7dfb9c.png)

[2020-10-16 21:52] meren commented on #1529
Hi @PatoUru,

Did you try clicking the blinking Draw button?

![image](https://user-images.githubusercontent.com/197307/96311804-edf78280-0fcf-11eb-8302-6de073318712.png)

[2020-10-16 21:55] PatoUru commented on #1529
Sorry :D Thank you!!

[2020-10-17 14:23] efogarty11 opened #1530 "[BUG] anvi-run-hmms gives an unequal number of fields error in snakemake workflow"
## Short description of the problem

`anvi-run-hmms` gives an unequal number of fields error when running in a snakemake workflow.

## anvi'o version

anvi'o main on midway.

## System info

Please tell us which operating system you are using, and how did you install anvi'o.

## Detailed description of the issue

When I run `anvi-run-hmms` from a snakemake workflow I get this output:

[code]

## F

[2020-10-17 15:05] meren commented on #1530
Quick question. Does the same thing happen when you run the workflow with a single thread?

And are you running the control run outside of the workflow with multiple threads?

[2020-10-17 15:25] efogarty11 commented on #1530
Yes, it gives me the same error (I just checked 🙂)

what do you mean by control run? Where I ran hmms manually or where I ran the workflow without clusterize? When I ran hmms manually (outside the workflow) it works fine with 5 threads, and when I ran the workflow without clusterize it still failed (although come to think if it I may have forgotten to change the threads in the config file when I r

[2020-10-17 16:02] meren commented on #1530
Thanks! I think you've answered my question, although what might be causing this has not become any clearer in my mind :)

[2020-10-17 16:03] #1529 closed

[2020-10-17 16:04] meren commented on #1462
(revisiting old issues, I just realized I never got this e-mail)

[2020-10-17 16:04] #1462 closed

[2020-10-17 16:17] meren commented on #1415
Lies.

This is actually solved by this:

https://github.com/merenlab/anvio/pull/1497

[2020-10-17 16:17] #1415 closed

[2020-10-17 16:18] #1469 closed

[2020-10-19 02:29] xuechunxu opened #1531 "anvi-display-pan cannot work when using ubuntu on windows"
Hey,

When I use Ubuntu on windows to anvi-display-pan the result of Pangenome analysis. But it has error:
![image](https://user-images.githubusercontent.com/23622076/96394887-c2ee7800-11f5-11eb-9875-98fd804fb15b.png)

and the google chrome got:
![image](https://user-images.githubusercontent.com/23622076/96394938-db5e9280-11f5-11eb-8d34-3a1322d5bff1.png)

Thank you

[2020-10-19 03:01] meren commented on #1531
This is due to an installation error. Please make sure your cherrypy version is `8.0.0`.

[code]

[2020-10-19 03:01] #1531 closed

[2020-10-19 07:00] xuechunxu commented on #1531
Hey，
I have changed cherrypy version to ```8.0.0```. It seems worked. But another error occurred:
![image](https://user-images.githubusercontent.com/23622076/96411710-8170c380-121b-11eb-9c64-d60d8defdccd.png)

Anvio invoked the google chrome in my windows system. The linux I used was ```Ubuntu on windows```.

Thank you very much

[2020-10-19 13:49] meren commented on #1531
How exactly did you install anvi'o>

[2020-10-19 13:53] xuechunxu commented on #1531
I installed according to http://merenlab.org/2016/06/26/installation-v2/
![image](https://user-images.githubusercontent.com/23622076/96460173-86526900-1255-11eb-8f75-754eb08159ca.png)

[2020-10-19 13:57] meren commented on #1531
This error doesn't seem to have anything to do with anvi'o.

![image](https://user-images.githubusercontent.com/197307/96460539-ebbc4080-11e8-11eb-8a9c-ca6c0b59569e.png)

But you can try to run the same `anvi-display-pan` command with an additional parameter: `--ip-address localhost` to see if it is going to change anything.

[2020-10-19 16:22] xuechunxu commented on #1531
Thank you very much. It works very well

[2020-10-21 14:28] drelo opened #1532 "[BUG] can't install v6.2 'Please add an explicit pip dependency.' error"
## Short description of the problem

I can't install anvi'o following the installation instructions in a Fedora 32 machine
`conda env create -f anvio-environment-6.2.yml
`
[code]
## anvi'o version

trying to install v6.2...

## System info

NAME=Generic
VERSION="32 (Generic)"
ID=generic
ID_LIKE=fedora
VERSION_ID=32
PRETTY_NAME="Generic 32 (Generic)"

## Detailed description of the issue

I couldn'

[2020-10-21 14:53] meren commented on #1532
The YAML file solution works very well on Mac systems (which has a huge issue with conda dependency resolver) but often fails on Linux systems (for which conda dependency resolver works very well anyway).

Can you please instead try the instructions listed under "A more conventional way to install stable anvi'o through conda"?

Best,

[2020-10-21 15:33] drelo commented on #1532
Thanks for your reply, I didn't even noticed that section, it was hidden in my browser, thanks!
It installed flawlessly and very quick, thanks! I already run the test and everything seems fine.
Best

[2020-10-21 15:33] #1532 closed

[2020-10-21 21:44] watsonar opened #1533 "[BUG] anvi-get-enriched-functions-per-pan-group produces KeyError: 'GC_00000001'"
## Short description of the problem
I get a KeyError when I run `anvi-get-enriched-functions-per-pan-group`.

## anvi'o version

[code]

## System info

I'm using the Meren lab's UChicago midway partition.

## Detailed description of the issue

Here is the anonymized command and its complete output:
[code]
[code]
## Files to reproduce

The files and command to reproduce this issue will be in a com

[2020-10-21 21:54] #1533 closed

[2020-10-21 21:54] meren commented on #1533
Can you please try again with an up-to-date `main`, @watsonar?

Thank you :)

[2020-10-21 21:54] meren commented on #1533
(and please let me know if it doesn't work)

[2020-10-21 21:57] watsonar commented on #1533
It works now! Thank you so much!! 😁

[2020-10-22 01:37] jthiels opened #1534 "[BUG] anvi-setup-scg-databases --scgs-taxonomy-data-dir <PATH> doesn't pass <PATH> to diamond"
## Short description of the problem

Using anvi-setup-scg-databases --scgs-taxonomy-data-dir <PATH> doesn't work Installs to idiosyncratic /tmp file.  It's not setting the -d parameter in diamond

## anvi'o version

Replace this text with the output of this command:

[code]

## System info

Please tell us which operating system you are using, and how did you install anvi'o.
Ubuntu 18.04--I install

[2020-10-23 18:07] kevin-lab opened #1536 "anvi-gen-structure-database"
Dear Anvio-Team,

anvi-gen-structure-database gives an Error.

The executable you requested is called `mod9.25`, but anvi'o doesn't agree with you that it is a working MODELLER program

## anvi'o version

[code]

## System info

Linux 64 Bit
Ubuntu 18 LTS
8 GB RAM
Intel® Core™ i5 CPU M 520 @ 2.40GHz × 4

## Description of Error

I tried to generate a structure database. I installed every needed th

[2020-10-23 18:34] ekiefl commented on #1536
Hey @kevin-lab,

Please run this command again (with the flag `--debug`), and when the error pops up, try running the command suggested in the error message.

[2020-10-24 08:16] kevin-lab commented on #1536
Thank you for your very fast response and sorry to bother you again.

I still do not know what i should change now :(
I'm very sorry.

## Error Message

[code]

Best,
Kevin

[2020-10-24 14:49] ekiefl commented on #1536
I'm confused. Did you run the command:

`mod9.25 /tmp/tmp_z75r2e0/fasta_to_pir.py /home/kevin/github/anvio/anvio/tests/sandbox mock_data_for_structure/proteins.fa /tmp/tmp_z75r2e0/test_out`

? As the error message suggests, anvio doesn't like your modeler program. By running the above command, maybe you can get some insight as to why. Perhaps you can try installing a different modeler version.

[2020-10-25 09:04] kevin-lab commented on #1536
Oh sorry. I am still a newbie to this.

## Command

```mod9.25 /tmp/tmp_z75r2e0/fasta_to_pir.py /home/kevin/github/anvio/anvio/tests/sandbox mock_data_for_structure/proteins.fa /tmp/tmp_z75r2e0/test_out ```

## Error message
[code]

[2020-10-25 15:21] ekiefl commented on #1536
No problem.

OK we are making progress.

So it seems your modeller installation did not work. My suggestion is to try installing modeller again. Try following instructions at salilab.org/modeller

[2020-10-26 09:20] kevin-lab commented on #1536
The fresh installation did not work either. But after a closer look on their website i saw this.

[code]

[2020-10-26 16:12] Lcornet opened #1538 "External gene call - Eukaryota"
## Short description of the problem

I would like to use "anvi-gen-contigs-database" for Fungi genomes for which I have Maker proteins predictions.
I have this error :
The sequence corresponds to the gene callers id '1' does not seem to have proper number of nucleotides to be translated

## anvi'o version

6.1

## System info

Singularity

## Detailed description of the issue

From the GFF file of

[2020-10-26 18:28] ekiefl commented on #1536
Hi Kevin, my suggestion is to contact the modeller developers. Determine through their tutorials how you can reliably test whether your installation has worked. Perhaps you could try a previous version of modeller. After you can successfully run a modeller command from their tutorials, I have faith that `anvi-gen-structure-database` will work.

I am closing this issue for now, since it is currentl

[2020-10-26 18:28] #1536 closed

[2020-10-27 07:44] Charlotte-Nef commented on #1538
Hi Luc,

I had the same problem when working with other eukaryotes (microalgae), because anvi'o was first developed for prokaryotic models. I tried to import exons that were not all divisible by three yet anvi'o requires them to be divisible by three to predict the codons when importing the gene calls.

We finally found a provisional solution by removing one or two nucleotides at the end of the se

[2020-10-27 09:41] Lcornet opened #1539 "pip-installed dependencies"
## Short description of the problem

I would like to use the master version of Anvio but failed to install it via Conda.

## anvi'o version

master

## System info

Ubuntu 18.04

## Detailed description of the issue

conda env create -f anvio-environment-master.yml
Warning: you have pip-installed dependencies in your environment file, but you do not list pip itself as one of your conda dependencie

[2020-10-27 10:24] Lcornet commented on #1539
Following "http://merenlab.org/2015/08/22/docker-image-for-anvio/ " for install the master in a docker.

$ git clone https://github.com/merenlab/anvio.git
$ cd anvio/
$ sudo docker build -t meren/anvio:master .

I have this error:

conda.exceptions.ResolvePackageNotFound:
  - bioconductor
  - anvio-minimal==6.2_master

[2020-10-27 13:06] meren commented on #1539
Hi @Lcornet, I'm sorry for all the trouble you've been dealing with and thanks for your patience so far.

If you are using Linux, you should not follow the YAML recipe which causes issues with pip. I just updated the installation manual to make sure it is clear by adding a new section:

![image](https://user-images.githubusercontent.com/197307/97305588-4aa63900-182b-11eb-8d42-6077aa1fb79a.png)

Pl

[2020-10-27 15:41] Lcornet commented on #1539
Thanks a lot for the quick help.

I had to manually redo some pip (5 or 6) but anyway it works well now.

Thanks

[2020-10-27 15:43] Lcornet commented on #1538
Thanks for your help.

After installing the master an using an aa_sequence field in the external call, it works without any modification.

Best,
Luc

[2020-10-27 15:43] #1538 closed

[2020-10-27 19:00] elizabethmcd commented on #1436
Hi @Gsmith535, not sure if you fully resolved the above issue, but wanted to add my experience. I found this issue because I also had the same error thrown in anvi-profile (v6.2) for some BAM files that I had generated mapping from BBMap. Anecdotally within our lab, we've had a lot of issues with BBMap with misalignments or things that just don't make sense and we don't have an explanation for the

[2020-10-28 14:51] ekiefl commented on #1524
This has all been addressed.

[2020-10-28 14:51] #1524 closed

[2020-10-29 13:52] Gsmith535 commented on #1436
Hi @elizabethmcd. Thank you for the information about minimap and bowtie integrating better with Anvi'o in general. I will try these other options in the future if the issue remains in future datasets and analyses.

[2020-10-29 15:50] #1539 closed

[2020-10-29 16:41] FlorianTrigodet opened #1542 "[FEATURE] Improve anvi-script-get-short-reads-matching-something"
## The need

`anvi-script-get-short-reads-matching-something` could use a samples.txt file to report the shorts reads matching a sequence from multiple samples (with one output fasta per sample).

A second improvement: provide a list of sequence to match. The idea is to go through all sample for every sequence to match. In the end, the number of output fasta file should be: num_of_sequence_to_matc

[2020-10-30 18:00] sklasek commented on #1534
I think I'm experiencing a similar problem. I've tried running anvi-setup-scg-taxonomy (master version) and anvi-setup-scg-databases (v. 6.2). Both give me this output:
[code]

[2020-10-30 18:04] meren commented on #1534
Yes, unfortunately the solution (for now) is to ask the system administrator to run the `anvi-setup-scg-databases` since the `--scgs-taxonomy-data-dir` is not well connected to the module :(

[2020-10-30 20:40] jthiels commented on #1534
Hi Scott,

My user was able to do what he needed with a combination of the minimal
install into a conda environment someone referenced right after my question
and the singularity container I made.  However, it did create the file in
/tmp so not a long term solution for HPC users if they need a fixed
location for it.

Best,

John

John Thiels
LSA Technology Services
Research Computing and Infrastru

[2020-10-30 21:15] meren commented on #1534
Thank you very much for your follow up, @jthiels.

I have to admit that I find it absolutely astonishing to see someone who is responsible for an entire Research Computing and Infrastructure service at a university to take the time to reach out to the developers of an open-source software just because one of their users struggled, and THEN take the time again to actually share their resolution to

[2020-11-03 20:38] meren commented on #1530
What happened to this, @efogarty11?

[2020-11-03 20:38] #1513 closed

[2020-11-03 20:38] #1489 closed

[2020-11-03 20:40] meren commented on #1484
Sorry we missed this issue :/ Please reopen if the problem persists and attach the output file mentioned in the warning message so we can figure out what might be wrong.

[2020-11-03 20:40] #1484 closed

[2020-11-03 20:40] #1452 closed

[2020-11-03 20:43] #1412 closed

[2020-11-03 21:12] ekiefl commented on #1530
@meren I am going to take a look at this before v7. Are you planning on releasing a v7 alpha? If so, when?

[2020-11-03 21:18] meren commented on #1530
Thanks, Evan. I'm changing the HMM models at the moment. It is better if you tested after that I think.

IDK yet :/

[2020-11-03 23:35] meren opened #1546 "[FEATURE] Sorted HMM classes in the anvi-display-contig-stats output"
## The need

Having this list to be sorted alphabetically:

![image](https://user-images.githubusercontent.com/197307/98052066-d8b98b00-1dfa-11eb-9254-14da60fe9fb8.png)

## The solution

Sorting it perhaps?

## Beneficiaries

Anyone who has to look at these things a lot.

[2020-11-03 23:52] meren commented on #1411
I finally was able to address this, @igorspp, and it will be in `v7`. Thank you very much for the report.

Now you will get all 16S hits when you run this command:

[code]

[2020-11-03 23:52] #1411 closed

[2020-11-04 03:02] FlorianTrigodet commented on #1546
Fixed:
<img width="335" alt="Screen Shot 2020-11-03 at 8 59 04 PM" src="https://user-images.githubusercontent.com/10922896/98064381-cb5ec980-1e17-11eb-8303-b24bcab0aa51.png">

[2020-11-04 03:02] #1546 closed

[2020-11-04 03:07] meren commented on #1546
PHOTOSHOP.

[2020-11-04 16:49] efogarty11 commented on #1530
@meren sorry I just saw this. If there's anything I can test/help with please let me know!

[2020-11-04 21:33] RicardoGCCR opened #1548 "[FEATURE] Update anvi-interactive help to include tips for server / IP / port configuration"
Hi,
I am trying to run anvi-display-pan on my laptop, but after the message saying:

* The server is now listening the port number '8080'. When you are finished, press
CTRL+C to terminate the server. If you are using OSX and if the server
terminates prematurely before you can see anything in your browser, try to run
the same command by putting 'sudo ' at the beginning of it (you will be likely
pro

[2020-11-05 05:09] RicardoGCCR commented on #1548
Hi,
I managed to run anvi-display-pan on Windows Terminal (with ubuntu), following the approach suggested in the issue #993 :
https://github.com/merenlab/anvio/issues/993

I copy the solution from issue #993:

############################
 Can you try adding flags below when running anvi-display-pan

--server-only --ip-address 127.0.0.1
Then after seeing message

* The server is now listening the

[2020-11-05 15:26] meren commented on #1548
Thank you very much for updating us with your solution, @RicardoGCCR.

I am not going to close this issue so we can remember to include some tips for similar situations here:

http://merenlab.org/software/anvio/help/programs/anvi-interactive/

The source file of which is here:

https://github.com/merenlab/anvio/blob/master/anvio/docs/programs/anvi-interactive.md

[2020-11-05 15:46] RicardoGCCR commented on #1548
Cheers!
Thank you for your service.
Ricardo

[2020-11-06 15:47] sklasek commented on #1534
Hi John,
Late follow-up, but thanks for the info. I got my sysadmin to run this successfully.
Scott

[2020-11-06 16:00] meren opened #1550 "[BUG/FEATURE] A thread to improve anvi'o inspection page"
I am using the active branch of anvi'o to test @isaacfink21's recent changes to the anvi'o inspection page for contigs. Following is a bunch of bugs and/or feature requests for usability. Thank you for your efforts, Isaac. This is going very well.

Here are some suggestions on these for starters,

- [x] **Settings panel accessibility**
- [x] **Tabs in the settings panel**
- [x] **The default color

[2020-11-06 19:10] meren commented on #1550
# anvi-inspect snafu

When the interface is initiated through `anvi-inspect`, we get an error:

[code]

[2020-11-08 00:29] isaacfink21 commented on #1550
Thanks for all this! I just added two commits (4bafe29 and 0af69e3) that address these issues.

As for this issue, I initially added the 'Reset function colors' button to reset any unintended color changes back to the current state - the user has to manually save the state to save gene colors. Now that I’m reviewing it, though, I see that it adds an unnecessary step - I think it would make more se

[2020-11-08 16:41] meren commented on #1550
Thank you very much! I will continue testing.

Yes, I think the user should manually save the state to store gene colors permanently across anvi-interactive sessions. But if they make a change, it should be kept across split pages within a session even if they don't store the state :) So we basically can add every change to the existing global state object.

[2020-11-08 18:18] meren commented on #1550
Hey @isaacfink21, I've made some cosmetic changes on the panel. Please pull from main and take a look.

One remaining issue at the moment is that when I click on the green button here,

![image](https://user-images.githubusercontent.com/197307/98478172-64953380-21bc-11eb-96c9-e7a2f68f2394.png)

it immediately goes to black:

![image](https://user-images.githubusercontent.com/197307/98478331-71198c

[2020-11-08 20:28] meren commented on #1550
- [ ] Settings panel should come hidden (otherwise it becomes annoying very quickly to having to hide it every time :))

[2020-11-08 20:56] meren commented on #1550
- [ ] I think we should turn that button into a checkbox for brevity and consistency:

![image](https://user-images.githubusercontent.com/197307/98483737-6e289680-21d0-11eb-91af-421a6d2222db.png)

[2020-11-09 17:48] McGlock opened #1551 "anvi-profile IndexError"
## Short description of the problem

I am hitting an error when running the anvi-profile step from the Metagenomics Tutorial. It's not clear what the issue is, but it seems to be occuring with a specific contig.

## anvi'o version
[code]

## System info
OS = Red Hat Enterprise Linux Server release 7.8 (Maipo)
Installed anvio via Anaconda

## Detailed description of the issue
I am trying to follow

[2020-11-09 18:53] ekiefl commented on #1551
Hi @McGlock, thanks for your report and reproducible files.

This error has been addressed in the development branch of anvi'o, and these changes will be in the upcoming anvi'o release, scheduled for January 2021. Basically, your `contigs.fa` has bad characters. If you were on the development branch, or in v7, you would have received this error during `anvi-gen-contigs-database`:

[code]

Sorry yo

[2020-11-09 18:53] #1551 closed

[2020-11-09 20:53] McGlock commented on #1551
Hey Evan,
Thank you for the quick and helpful response!
I'll try to install the dev branch and use your solution.
Thanks!
Ryan

On Mon, Nov 9, 2020 at 10:54 AM Evan Kiefl <notifications@github.com> wrote:

--
Ryan J. McLaughlin, MSc

e1: mclaughlinr2@gmail.com
c: 814.758.4570
linkedin
<https://www.linkedin.com/in/ryan-mclaughlin-725b09117/>

[2020-11-10 12:15] razz1618 opened #1552 "Batch process in anvio"
Hi, i have recently assembled and binned (using squeezemeta pipeline) 10 different metagenomic samples separately. I want to add it to ANVIO's and visualize, curate, and further process the bins. Is it possible to batch create the contig.db and profile.db from these 10 contig.fa and their respective BAM files.  My idea is to further merge this data so that finally I can get a single chart with all

[2020-11-10 14:35] meren commented on #1552
It is quite doable as many groups do this including ourselves. You can either **create your own batch script** in BASH that uses `anvi-gen-contigs-database` to profile your FASTA file(s), `anvi-profile` to profile your BAM files, and `anvi-import-collection` to import your bins into the profile database, OR you can use [anvi'o snakemake workflows](http://merenlab.org/2018/07/09/anvio-snakemake-wor

[2020-11-10 14:35] #1552 closed

[2020-11-10 19:15] Jessica-Pan opened #1553 "Completing the documentation"
Hello everyone! Here is a full list of things that still need to be documented in anvi’o as of 11/10/2020.

Feel free to take over any one of these tasks or send me things to add to the list if I missed something or an existing description is unclear in any way. Thank you in advance!

**Section 1**: Programs and artifacts that haven’t been described, but are displayed on the help page on the websi

[2020-11-11 14:27] jzrapp opened #1554 "[Technical Problem] Config Error: List index out of range during anvi-setup-kegg-kofams"
## Short description of the problem

Dear anvio team, @ivagljiva and @meren,

I'm trying to play with your new estimate-metabolism functionality, and in order to do so setup kegg kofams. However, the setup keeps getting interrupted when it gets to Parsing KEGG Module M00006.

## anvi'o version
[code]

Anvi'o version ...............................: esther (v6.2-master)
Profile DB version .........

[2020-11-11 16:54] ivagljiva commented on #1554
Hi @jzrapp, thank you very much for testing this tool, and also for this very detailed bug report :)

This was probably caused by a recent update to KEGG. I am looking into it now.

[2020-11-11 19:12] ivagljiva commented on #1554
Indeed, this bug was caused by the 'REFERENCE' lines in the module files `M00006` and `M00007`. Typically these lines have a `PMID` in the subsequent field, but these two modules, for some reason, no longer have this:
[code]

I have fixed our parsing function so that it no longer fails in these circumstances. The setup should now work.

@jzrapp Please run `git pull` in your local anvi'o folder and

[2020-11-11 19:14] meren commented on #1554
The perks of working directly with the dynamic upstream data :)

Thank you very much for your patience, @jzrapp, and thank you for fixing it so quickly, @ivagljiva!

[2020-11-11 19:23] jzrapp commented on #1554
Thanks a lot, @ivagljiva, for looking into this so quickly! And shout out to the whole team for never letting me wait on any issue for more than one day.. I'm so impressed!
I'm rerunning it now, and will reach out in case your fix didn't solve my issue!

[2020-11-12 09:54] chandnisidhu opened #1555 "Issue with anvi-profile"
Hi,

I am getting this error while using anvi-profile:

Traceback (most recent call last):
  File "/home/csidhu/miniconda3/envs/anvio-6.2/bin/anvi-profile", line 5, in <module>
    import anvio.profiler as profiler
  File "/home/csidhu/miniconda3/envs/anvio-6.2/lib/python3.6/site-packages/anvio/profiler.py", line 24, in <module>
    from anvio.tables.indels import TableForIndels
ModuleNotFoundErro

[2020-11-12 13:28] meren commented on #1555
Something must have gone wrong with your profile database. Please remove it and re-run anvi-profile. If you get the same error, please let us know.

[2020-11-12 13:28] #1555 closed

[2020-11-12 13:42] ekiefl opened #1556 "[FEATURE] --help should include `__resources__` tags"
## The need

`anvi-help` produces great info about resources. So do the anvi'o help docs. It would be nice if when `--help` is used in a command, the information in the `__resources__` variables was displayed.

![image](https://user-images.githubusercontent.com/8688665/98947044-4e3bf000-24ba-11eb-83d8-c4cc0c8ff95a.png)

## The solution

`argparse` gymnastics

## Beneficiaries

Everyone.

[2020-11-12 14:06] meren commented on #1556
Also it would be great to provide a link to the online resource for a given program (unless we want to implement a terminal Markdown viewer which we certainly should not) 😂

[2020-11-12 14:12] ekiefl commented on #1556
This is the feature request. For example, right now we have:

[code]

It would be great to have:

[code]

[2020-11-12 14:16] ekiefl commented on #1556
OH you mean a link to the anvi'o help docs page, right?

[code]

[2020-11-12 16:03] meren commented on #1556
Yes :) What you sent looks perfect :)

But I think it should be at the very end of the help menu rather than at the very beginning since it will improve usability and exposure of that info.

[2020-11-12 16:15] chandnisidhu commented on #1555
Hi,

It is giving the following error now:

Traceback (most recent call last):
  File "/home/csidhu/miniconda3/envs/anvio-6.2/bin/anvi-profile", line 5, in <module>
    import anvio.profiler as profiler
  File "/home/csidhu/miniconda3/envs/anvio-6.2/lib/python3.6/site-packages/anvio/profiler.py", line 19, in <module>
    import anvio.clustering as clustering
  File "/home/csidhu/miniconda3/envs/an

[2020-11-12 16:55] meren commented on #1555
Sorry, this is a problem related to your system and outside the scope of anvi'o related problems. Google may be more effective helping you solve this one :)

Please make sure `anvi-self-test --suite mini` runs properly on your computer first before trying to profile things.

Best,

[2020-11-13 09:57] jzrapp commented on #1461
Hi @ivagljiva,

getting closer to actually estimating the metabolism in my data. But there are a few things that came up on the way.

I'm working on two co-assemblies for which I created MAGs - one fairly small dataset, one very big. For the smaller one, I ran

`anvi-run-kegg-kofams -c contigs.db -T 10` without a problem, but for the larger one, the job finished despite config errors along the way

[2020-11-13 10:01] jzrapp commented on #1554
Hi @ivagljiva,

getting closer to actually estimating the metabolism in my data. But there are a few things that came up on the way.

I'm working on two co-assemblies for which I created MAGs - one fairly small dataset, one very big. For the smaller one, I ran

`anvi-run-kegg-kofams -c contigs.db -T 10` without a problem, but for the larger one, the job finished despite config errors along the way

[2020-11-13 18:09] ivagljiva commented on #1554
@jzrapp This is an interesting error that I have not seen before.

I think you are right. The job finished successfully because some of the threads finished, but 4 of the threads were killed for some reason. That reason is unclear - the only thing I can tell you from those Config Errors is that the thread command returned with a negative status code (a termination signal). I suspect that this happ

[2020-11-13 19:14] meren commented on #1554
Yeah, this is kind of an interesting error. I think we should keep an eye on exceptions thrown in threads and kill the entire parent process by terminating all threads when we see one, @ivagljiva (please LMK if you need more input for this).

It will be difficult to test it, but perhaps you can have a random number generator that causes an error in threads that generates even numbers or something

[2020-11-13 19:16] meren commented on #1554
thank you for reporting this, @jzrapp! I agree with @ivagljiva that this looks like doing of the operating system :)

[2020-11-13 19:53] jzrapp commented on #1554
Thank you both! Yes, I think it would be better if the whole job was killed when individual threads are terminated. So sad when you think it finished and then realize that something's wrong :(
I'm rerunning it with more allocated resources and fewer threads! The other dataset finished without error and I'm excited to play with the output! If I have more ideas or comments on the usability of estima

[2020-11-13 20:07] ivagljiva commented on #1554
Not yet, but I would be thrilled if you were to open new Feature Request issue(s) with any ideas or comments you have for improving this section of the code base. Thank you very much @jzrapp :)

[2020-11-13 21:22] ekiefl commented on #1554
To anyone who wants to address this, I recently implemented something similar in `anvi-profile` multithreading: if one of the threads gives an error, it sends back an error which the main thread catches and relays.

[2020-11-13 22:31] ivagljiva commented on #1554
Dear @jzrapp,

I have just implemented this, so in the future, if you want to annotate KOs in only certain bins, you can save those bins in a collection and run
[code]

[2020-11-13 23:12] meren commented on #1554
Hey @ivagljiva, I am impressed that the module is flexible enough to be able to run KOfams on a single bin, but I think it is a step towards a dangerous direction.

When you allow users to annotate only some contigs in their contigs databases with functions, and then set the `self` table that those functions were run, the fact that they were only run on a subset of contigs will not be obvious anyw

[2020-11-13 23:15] ivagljiva commented on #1554
@meren That makes sense. I will revert all related commits.

@jzrapp Please use the strategy that Meren suggested with `anvi-split` if you want to annotate only a few bins.

[2020-11-16 15:58] xuechunxu opened #1557 ".h5 should revised to .db"
Hey,

In manual (http://merenlab.org/data/prochlorococcus-metapangenome/), The genomes storage file should end with '-GENOMES.db', not 'GENOMES.h5'. Maybe because you used h5 in old version.
![image](https://user-images.githubusercontent.com/23622076/99276273-75ead980-2867-11eb-933c-45f046dfaa75.png)

Best,
Chunxu

[2020-11-16 18:21] ekiefl commented on #1557
Thanks for the report.

Like our documentation, perhaps our tutorials should be part of the codebase too, and could therefore be versioned to avoid issues like this. It is a lot of work to update tutorials, but I think I speak for everyone that the largest deterrent is **not** that a lot has to be changed, but rather that the codebase is a moving target, and that your changes will not stand the te

[2020-11-16 23:05] FlorianTrigodet opened #1559 "[BUG] Inspect page - Get Sequence for a Range or Selection"
## Short description of the problem

When you want to get the sequence for a given selection, there is a sneaky `\n` in the actual sequence window.

## anvi'o version

Up-to-date master version.

## System info

MacOS 10.14.06

## Detailed description of the issue

![ezgif com-gif-maker](https://user-images.githubusercontent.com/10922896/99318684-cb09f980-282d-11eb-916b-6fa06a0ff9fd.gif)

## Files

[2020-11-17 03:00] meren commented on #1557
Yes :/ I agree that the disconnected repositories for code and documentation is not really helping.

[2020-11-17 03:40] meren opened #1560 "[BUG] Ribosomal RNAs are no longer red in the inspect page"
## Short description of the problem

Ribosomal RNAs in the interface are not red anymoar :(

## Detailed description of the issue

![image](https://user-images.githubusercontent.com/197307/99343742-1cc57a80-2854-11eb-85c4-87fa83040220.png)

This is because we split Ribosomal RNA HMMs and now they have new names. Constants.js needs updatin'.

[2020-11-17 17:20] meren opened #1561 "[BUG] anvi-profile does not populate the misc data table for "Num SCVs reported" data"
## Detailed description of the issue

![image](https://user-images.githubusercontent.com/197307/99423878-a4e46800-28c6-11eb-9dd6-fc5d96817880.png)

## anvi'o version

The `main` branch.

## Files to reproduce

Mini test should reproduce this.

[2020-11-17 17:23] meren opened #1562 "[FEATURE] Sort HMM layers displayed in the interactive interface"
## The need

Currently there is no alphabetical order to these additional layers, but it would have been great if there was:

![image](https://user-images.githubusercontent.com/197307/99424200-0a385900-28c7-11eb-83da-2e8119c3c9a1.png)

## The solution

Probably change something in the `interactive.py` where additional data are appended to the final views data.

## Beneficiaries

Anyone who may enj

[2020-11-17 19:35] jsevereyn opened #1563 "Doubt with Prodigal ORFs detection"
Hello Anvi'o team, thank you for your help

I Have an issue but I'm not sure what to ask. So, let me tell you the whole short version.

I'm following the pan-genomics tutorial for a set of 11 external genomes of Acidithiobacillus ferrooxidans. In the generation of the contigs.db, for one of the genomes (X) Prodigal detected 6175 ORFs, way above those detected in the rest of the strains (3300 avera

[2020-11-18 01:03] isaacfink21 commented on #1559
Should be fixed now 👍

[2020-11-18 01:09] #1559 closed

[2020-11-18 03:18] meren commented on #1563
Hey @jsevereyn,

I figured that the reason for that is the tremendous number of short contigs in your FASTA file.

Essentially, 90% of the contigs in this FASTA file is less than 1,000 nucleotides long, and a crazy amount of them is contamination from another organism.

[code]

Not an anvi'o bug :)

Best,

[2020-11-18 03:18] #1563 closed

[2020-11-22 21:37] meren opened #1564 "[BUG] Multithreading issue with anvi-run-hmms"
## Short description of the problem

anvi-run-hmms works well on a contigs database as a single thread, but fails when running in multiple threads.

## anvi'o version

This happens with the main branch.

## Detailed description of the issue

Running it with a **single thread**, everything is fine:

[code]

Running it with **multiple threads**:

[code]

Indeed, there is something wrong with the `hm

[2020-11-22 21:42] meren commented on #1564
I guess I see it better now. Here is the output from a single thread:

[code]

There are multiple of these in the multithreaded mode, of course:

[code]

And this is how the look like:

[code]

So basically all hits were in one of the chunks of the input FASTA file, and probably somehow merging all these four into a single `hmm.table` output in the temp directory is what went wrong.

[2020-11-22 22:10] meren commented on #1564
OK. This is all happening here:

[code]

Only when it is running as a single thread, this function reads this line:

[code]

as this:

[code]

What is wrong with this function is beyond me. It is the single-threaded mode that ruins the output. But multi-threaded mode gives the error :/

[2020-11-22 22:26] meren commented on #1564
:(((

OK. There are way too many issues here. But the end-of-line discrepancies is related to this piece of code:

[code]

The lines follow this section uses `clip_description_index` to trim the line, but OF COURSE this assumes that the where the word 'description' is found will also match to the beginning of the description in the lines for the hits. Bad assumption.

[2020-11-22 22:34] meren commented on #1564
The long story short so far;

- Multi-threaded mode fails to cut the description line properly, hence fails. This needs fixing.
- Single-threaded mode cuts it badly (by removing ACTUAL data from the file), but things go smoothly anyway. This needs fixing, too.
- Why is there a difference between multi-threaded and single-threaded behavior is still not clear to me.

[2020-11-22 22:51] meren commented on #1564
OK. One thing learned. This only happens as a result of a perfect storm:

![image](https://user-images.githubusercontent.com/197307/99918895-a60b0000-2cdf-11eb-9648-11715f46a1ff.png)

HMMER sets the locations for each output field as a function of the first line. For one to get this STUPID error, all these must happen at the same time:

- The FASTA file you used to generate the contigs database ha

[2020-11-22 23:09] meren commented on #1564
I still have no idea why there is a difference between single-threaded and multi-threaded modes. But what I know is, when you run HMMER 4 different times, it sets the distances between different columns of its output table differently. Go figure:

[code]

Mind you, three out of four of these have no hits. But in multi-threaded mode, our code finds `description` here, and cuts the next lines from t

[2020-11-22 23:19] meren commented on #1564
To prove this, I created a file with the contig names above:

[code]

Exported them:

[code]

Renamed the contigs names to something shorter:

[code]

Generated a contigs db:

[code]

Run HMMs:

[code]

and OF COURSE everything worked:

![image](https://user-images.githubusercontent.com/197307/99920055-ba063000-2ce6-11eb-8a67-037ac68ea725.png)

[2020-11-22 23:44] meren commented on #1564
A bullet-proof solution to this is the following:

- Add a `simplify_names=False` flag for `utils.export_sequences_from_contigs_db` and return a names conversion dictionary,
- Find each instance in the codebase where `HMMer` class is inherited,
- Upstream of that code, find `export_sequences_from_contigs_db` for `*:CONTIG` type HMMs and call the function with `simplify_names=True`,
- Downstream of

[2020-11-23 00:23] ivagljiva commented on #1564
This is insane. :( And it reminds me that we need to stop doing 'fancy' parsing of the HMMER output in the driver and move that to the parser code. I was planning to fix that after I finish with updating the multi-threading part of the code. In general, lots of things need to be fixed with HMMER. :(

![image](https://user-images.githubusercontent.com/10360586/99921356-76fc8a80-2cef-11eb-99ee-d3b73

[2020-11-23 00:30] meren commented on #1564
Maybe in the future we should switch from work with `*_ouptut` files to `*_table` files.

But I am closing this issue now after wasting my entire day on it rather than working on our more time-critical things :/

[2020-11-23 00:30] #1564 closed

[2020-11-23 01:07] ekiefl commented on #1564
Sorry this happened to you @meren. I wrote this piece of garbage:

[code]

Apologies it has backfired. Adding this was a necessary evil, as the loop used to look like this:

[code]

The hard-coded **18** worked for us for years, but only by miracle. IIRC 18 was the number of columns for amino acids, but for nucleotides the number is something like 15 or 16. Yet amazingly, python does not register

[2020-11-23 03:11] meren opened #1565 "[BUG] Gene sequences shown in the interface do not match to actual gene sequences"
## Short description of the problem

Gene sequence reported in the inspect page buttons is incorrect.

## anvi'o version

Current main.

## Detailed description of the issue

This is what the sequence looks like in the inspect page:

![image](https://user-images.githubusercontent.com/197307/99926320-eaf65d00-2d06-11eb-9c29-1b48f5756804.png)

This is what you get when you ask for it from the comman

[2020-11-23 03:33] meren commented on #1564
No worries at all, @ekiefl. It wasn't your fault as you couldn't foresee that the HMMER output was not as consistent as it seemed. I realized that it works perfectly in most cases but when we use contig names as target, then those contigs databases with long and variable length contig names fail for HMMs that do not target AA sequences.

If we ever want to change this, I think we shouldn't bother

[2020-11-23 15:00] ivagljiva commented on #1553
I promise to take care of `anvi-db-info` and `anvi-script-process-genbank-metadata` this week :)

[2020-11-23 21:00] meren commented on #1565
I'm realizing this is not about the interface, @isaacfink21. I think this is happening due to my recent changes. So you don't need to worry about this one. I will try to address it.

[2020-11-24 04:05] #1565 closed

[2020-11-24 14:14] meren commented on #1560
This is actually fixed.

[2020-11-24 14:14] #1560 closed

[2020-11-24 14:19] meren commented on #1530
This is discussed and resolved in #1564.

[2020-11-24 14:19] #1530 closed

[2020-11-24 14:19] #1525 closed

[2020-11-24 14:23] meren commented on #1511
We certainly should not allow only a single sample associated with a category instead of a cryptic error like this :) @ivagljiva, can you please try reproducing this one?

Thanks for the report!

[2020-11-24 14:25] meren commented on #1471
We must find out what the hell is up with the extra character.

[2020-11-24 18:22] ivagljiva commented on #1511
I have attempted to reproduce this and failed, with both `anvio-6.2` and anvi'o `main`. 😖

@JuliaMcGonigle, could you perhaps take a look below at the description of my test data/results and let me know if there is something I am missing to be able to reproduce this error? Or, if you feel it would be easier, you could share your files and then I could try reproducing it with your dataset. Thank yo

[2020-11-24 21:11] Sirbius opened #1567 "[FEATURE] New COG database version 2020"
## The need
Hi there,
A new version of the COG database has been released in September 2020 and since there are good improvement, as announced [here](https://www.ncbi.nlm.nih.gov/research/cog), I was wondering if we could import it on anvi'o.

## The solution
Ideally, just few changes in the anvi-setup-ncbi-cogs script where it points at the [ftp page](https://www.ncbi.nlm.nih.gov/research/cog-pro

[2020-11-24 21:40] JuliaMcGonigle commented on #1511
Hello,

Since posting this I had a Windows update painfully break my network adapter that could only be solved by a hard reset that also removed WSL and all files in those directories, which I stupidly did not backup first. So I sadly don't have all of the OG files anymore. I can give you some more info however.

For additional information both the genome storage and pan databases were created on

[2020-11-24 22:13] ivagljiva commented on #1511
Ah, that is sad to hear @JuliaMcGonigle. Stupid Windows indeed... 😞

Well, it seems we will probably not be able to reproduce the error and find out where it is coming from, so unfortunately there is not much I can do to fix it just yet. We will have to wait and see if it comes up again. I will close this issue for now, but if you (or anyone else) finds it again in the future, feel free to re-open

[2020-11-24 22:54] xvazquezc commented on #1567
I'd suggest to keep some backwards compatibility if somebody needs to use the older (current) version. I think there is something alike in the scg data used from the GTDB

[2020-11-25 00:01] meren commented on #1567
Thanks for the report, @Sirbius. I will look into this (although a very preliminary investigation showed that they changed everything, so it will take some effort to get it into anvi'o).

I agree, that would be ideal. But I am not sure what would be the best way to do it. Thinking out loud here, the best way I can think of would be the following:

* Write a migration script to rename all occurrenc

[2020-11-25 16:45] meren commented on #1567
Regarding this part of your comment @Sirbius,

@ivagljiva is working on generalizing @adw96's method to compute enrichment statistic, which will accept any functional source to calculate enrichment scores. Since we store `COG_FUNCTION` and `COG_CATEGORY` as distinct functional sources per gene, in theory you will be able to do enrichment analyses on `COG_CATEGORY` seamlessly :)

[2020-11-25 17:08] RicardoGCCR opened #1568 "Config error: Bad news of the day: the database at (...).db was generated with an anvi'o version that is 'newer' (...)"
Hi,
I was trying to run the anvi-display-pan in my laptop with the files produced on the university cluster. In the past, I run it without any issue with the command:
$ anvi-display-pan -p Clado_2_new_run-PAN.db -g Clado_2_new_run-PAN.db --server-only --ip-address 127.0.0.1

But now I am getting the following error:

Config Error: Bad news of the day: the database at Clado_2_new_run-PAN.db was gen

[2020-11-25 17:28] meren commented on #1568
Hi @RicardoGCCR, there is no other technically possible explanation for the error you are getting: the database was generated in a newer version of anvi'o. NCBI BLAST vs DIAMOND can not cause this.

Just for fun, can you also please send the output of this command:

[code]

[2020-11-25 18:37] ivagljiva commented on #1567
In fact, you should already be able to do this for pangenome functional enrichment with `anvi-get-enriched-functions-per-pan-group --annotation-source COG_CATEGORY`.

The program I am working on that generalizes this script, `anvi-compute-enrichment-stats`, will eventually allow you to also do functional enrichment for bins in a collection. :)

[2020-11-25 18:40] RicardoGCCR commented on #1568
Hi @meren,
Thank you for your fast reply.

This is the output from my laptop:

DB Info (no touch)
===============================================
Database Path ................................: Clado_2_new_run-PAN.db
Description ..................................: _No description is provided_
Type .........................................: pan
Version ......................................: 13

DB

[2020-11-25 18:43] meren commented on #1568
Very weird since versions match.

One way to address this is to go to the anvi'o environment where you get the "db was generated with an anvi'o version that is 'newer' than the one you are actively using right now" error, and generate a small pangenome to see what does the anvi-db-info for the resulting pan db says.

[2020-11-25 18:57] Sirbius commented on #1567
Yes guys,
I already did the enrichment with the COG function.
I was just saying that in its output file could be useful another column
with the COG categories (A, B, C...) as present for example in the output
file of anvio-summarize.

The program I am working on that generalizes this script,

That will be awesome!!
Thanks!!

[2020-11-25 19:10] RicardoGCCR commented on #1568
How about the output of the previous db that I run in the past, which still works fine with the anvi-pan-display?
See :

anvi-db-info Clado_2-PAN.db

DB Info (no touch)
===============================================
Database Path ................................: Clado_2-PAN.db
Description ..................................: _No description is provided_
Type ......................................

[2020-11-25 19:12] meren commented on #1567
Ah, I see. It is not technically quite feasible since our design treats COG functions and COG categories as distinct sources for functional annotation :/

[2020-11-25 19:16] meren commented on #1568
Ah, I just realized something. You are running this command:

[code]

To which you give your PAN database twice. The second one should be the genomes storage.

[2020-11-25 19:17] Sirbius commented on #1567
Then,
No problem, I would just retrieve them from the other file when needed!
Cheers,

Silvia :)

Il mer 25 nov 2020, 20:12 A. Murat Eren <notifications@github.com> ha
scritto:

[2020-11-25 19:17] meren commented on #1568
Anvi'o should give you a different type of error when you make this mistake, rather than saying your genomes storage has the wrong version. I will fix it in the codebase.

[2020-11-25 19:27] RicardoGCCR commented on #1568
Oh!!! Please forgive me! I can't believe it! (it was an error of copy-paste and due to a very similar names between the db and the pan output).
Thank you for noticing...
It is running fine now, of course...

Ricardo

Regards,
Ricardo

[2020-11-25 19:28] ivagljiva commented on #1432
@IsabelFE and @aberaslop, I have started to look into this, and realized I would benefit from some clarification from you guys. :)

When you say you want to do functional enrichment on "bins in a collection", do you mean that you would bin some gene clusters in your pangenome (into, for example, Core GCs and Accessory GCs) and you want to look for functions that are enriched in each bin of gene cl

[2020-11-25 19:52] #1568 closed

[2020-11-25 19:53] meren commented on #1568
Thank you for your patience with anvi'o, @RicardoGCCR! :)

[2020-11-26 04:13] li0604 opened #1569 "Config Error: You must specify a collection id :/"
Dear professors,

I have install anvio followed the Web guidance and checked. It works. However, when I run anvi-summarize, it shows error as follwing:
Config Error: You must specify a collection id :/

The script:
anvi-summarize -o KS/ \
               -p KS/KS_Pan-PAN.db \
	       -g 2KS-GENOMES.db

Would you mind give me some suggestion on this error?
Thanks a lot.

[2020-11-26 04:35] meren commented on #1569
Hi @li0604,

Please run this first:

[code]

And then this:

[code]

[2020-11-26 04:35] #1569 closed

[2020-11-27 00:00] meren commented on #1567
@xvazquezc, I implemented this (see the PR #1570) and it is available in the branch `update_cogs` in case you would like to test it before we merge it.

[2020-11-27 13:15] Sirbius commented on #1567
Hi @Meren,

Could you push these new improvements on the docker file? Thanks!!

[2020-11-27 18:11] meren commented on #1567
I don't think I will be able to that any time soon, @Sirbius. If you are unable to follow the active repository through GitHub, it will have to wait until the official release of `v7`.

[2020-11-29 23:50] xvazquezc commented on #1567
Do you still need testing on this?

[2020-11-29 23:55] meren commented on #1567
Sure, if you have time and energy, @xvazquezc :) That would be great to have one more person other than myself and @ivagljiva to test it and tell us if it feels alright.

[2020-11-30 01:07] xvazquezc commented on #1567
OK, I've tested the migration of the COG annotations from an old profile and it converts the COG annotations. I've set up the new COG20 and made the calls too. No issues with any of this.

I've been able to install the old COGs at the same time, however, before that, I tried to run the COG14 annotation and...
[code]

Weird thing is that if you run `anvi-setup-ncbi-cogs --version COG14` (as suggest

[2020-11-30 03:04] meren commented on #1567
Great catch, @xvazquezc! Thank you very much for looking into this :) It is always great to have an external pair of eyes.

I will fix this and merge it to the main repository.

[2020-11-30 07:44] Lily-WL opened #1573 "Is it normal to get gen clusters with the same COG id?"
Hi, Meren. Thanks for your programe. Following the tutorial of pangenomics, I got a summary *.txt. However, I found that some gene clusters usually correspongded to same COG id, such as the following table. And I found gene cluster that speicial for a group of genomes shared the same COG id with other gene cluster which may special for some other genomes. As a result, although different groups of

[2020-11-30 15:07] IsabelFE commented on #1432
Hi @ivagljiva, I was thinking in Core GCs vs. Accessory GCs. But I have been thinking about this more and I am not sure if it makes sense. Then functional enrichment per pan group that is implemented now goes by each cluster and decides if that specific cluster is enriched in a group of genomes vs. another. The issue with Core vs. Accessory is that one gene cluster will either be in a bin or in th

[2020-11-30 15:09] meren commented on #1432
Hey @IsabelFE, @ivagljiva and I discussed about this and came to the conclusion that the frequency of functions would be too low (too many distinct functions at low frequency in either groups) for a proper statistical analysis. The summary output should give everything necessary to summarize the counts of functions using that spreadsheet.

Best,

[2020-11-30 15:19] IsabelFE commented on #1432
Thanks @meren, that is what I did. Best

[2020-11-30 15:56] ivagljiva commented on #1432
Thanks for your input, @IsabelFE! I am going to close this issue since we decided not to implement this. :) But if there is anything else we can fix or improve, please let us know!

[2020-11-30 15:56] #1432 closed

[2020-11-30 19:38] meren commented on #1573
Hi Lily,

Just to make sure it is clear, anvi'o is a [team effort](https://github.com/merenlab/anvio/blob/master/AUTHORS.txt) and is developed and maintained thanks to the contributions of many people :) Plus, it belongs to the public as per the General Public License: So anvi'o is as much yours as it is anvi'o developers'.

Regarding your question: It is normal! Sequence space is much more divers

[2020-11-30 19:38] #1573 closed

[2020-12-01 19:15] ISonets opened #1574 "[BUG] Anvi'o v6.2 installation issue"
# Anvi'o v6.2 install problems
## Short description of the problem

Greetings!
I have anvi'o install issue. I'm currently trying to install anvi'o 6.2 on my Linux server using conda. All were done according to tutorial. But it turns out a major problem for me.
Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible sol

[2020-12-01 20:17] meren commented on #1574
Four hours is not unheard of with conda :/ We know people who waited much longer than that. Sorry you are dealing with that. But it will eventually resolve.

Best,

[2020-12-01 20:17] #1574 closed

[2020-12-02 04:44] meren commented on #1567
This is now in anvi'o main branch via #1570.

Thank you all!

[2020-12-02 04:44] #1567 closed

[2020-12-02 05:19] meren commented on #1557
This is now fixed.

[2020-12-02 05:19] #1557 closed

[2020-12-02 15:58] meren opened #1575 "Search for a codename for anvi'o v7"
As we are preparing for `v7`, it is time to set a codename. As you know, the last three major anvi'o releases had codenames commemorating scientists of the past, whose contributions have been overlooked by their peers.

Please send your ideas, vote for ones that are already sent, and help us finalize one of the most challenging parts of making an anvi'o release :) Here is a reminder of the codenam

[2020-12-02 16:21] rbartelme commented on #1575
Ada or Lovelace, after Ada Lovelace

[2020-12-02 16:29] aassie commented on #1575
Lynn Margulis, godmother of Symbiosis =)

[2020-12-02 16:35] meren commented on #1575
@ShaiberAlon writes on Slack:

[2020-12-02 16:35] susheelbhanu commented on #1575
Maybe this is not a great suggestion given the current circumstances but, `June Almeida`, for first identifying coronaviruses.

[2020-12-02 16:37] meren commented on #1575
Emil Ruff on Twitter:

[2020-12-02 16:37] cibberson commented on #1575
Barbara McClintock for her discovery of “jumping genes” (transposons)

[2020-12-02 16:38] sam217pa commented on #1575
Hi, maybe **Erwin Chargaff** could be a great choice? He was scooped out of the Nobel prize for the DNA 3D structure but widely acknowledged as being the one that came out with base-pairing rules.

[2020-12-02 16:40] mschecht commented on #1575
I nominate Ruth Ella Moore, a professor of bacteriology who was the first African-American woman to receive a PhD in a natural science.

https://en.wikipedia.org/wiki/Ruth_Ella_Moore

[2020-12-02 16:43] shreyaramachandran commented on #1575
I remember the awe I felt leanring that Maud Menten of Michaelis-Menten kinetics was a woman, and wish more people knew!

[2020-12-02 17:01] sam217pa commented on #1575
There is also **Fanny Hesse**, which first used the agar-agar for cultivating bacteria, but wasn't acknowledged by Koch for doing so.
"Hesse worked in an unpaid capacity to assist her husband through preparing bacterial growth media, cleaning equipment and producing illustrations for publications." https://en.wikipedia.org/wiki/Fanny_Hesse

[2020-12-02 17:10] luuuuuuuke commented on #1575
Matilda Gage: "Gage was the daughter of an exceptionally forward-thinking father, an abolitionist and doctor who raised his daughter to practice medicine. No medical school in her area would accept a woman, so instead, while the mother of five children, she channeled her intellect into abolitionist activism (her home was a stop on the Underground Railroad), as well as the burgeoning suffragist mov

[2020-12-02 17:35] MADscientist314 commented on #1575
#### I nominate English chemist and X-ray crystallographer `Rosalind Franklin`
![image of Rosalind Franklin](https://upload.wikimedia.org/wikipedia/en/e/e9/Rosalind_Franklin_%281920-1958%29.jpg)
https://en.wikipedia.org/wiki/Rosalind_Franklin

[2020-12-02 19:31] meren commented on #1575
Zena Cardman on Twitter:

![image](https://user-images.githubusercontent.com/197307/100921831-b327ac00-34a2-11eb-8611-a261bd32c1e8.png)

[2020-12-02 22:15] JennJess commented on #1575
Henrietta for Henrietta Lacks, someone whose cells most scientists have handled or learnt of. Though not a scientist her contribution can't be overlooked.

[2020-12-03 00:31] ellasiera commented on #1575
Katherine Johnson, NASA mathematician, passed away last February and could always use more commemoration.
https://en.wikipedia.org/wiki/Katherine_Johnson

[2020-12-03 04:01] ankit4035 commented on #1575
I would like to suggest name of "Fanny Hesse". She was the one who suggested use of agar instead of gelatin as a medium for bacterial culturing and still not credited for her work.

[2020-12-03 05:26] cdiener commented on #1575
Emmy, for (Amalie) Emmy Noether
https://en.m.wikipedia.org/wiki/Emmy_Noether

[2020-12-03 09:24] Lopesas commented on #1575
Briliant and elegant way to support WiS. Thanks for being an ally! Here my suggestion...Eunice Newton Foote, thanks to her experiments we today talk about the effects of greenhouse gases: https://en.m.wikipedia.org/wiki/Eunice_Newton_Foote or

[2020-12-03 16:22] PChuckran commented on #1510
I'm having a nearly identical issue. Did you ever find a solution?

[2020-12-03 20:24] #1511 closed

[2020-12-03 22:53] meren commented on #1542
@FlorianTrigodet, I implemented this and merged it to the main repository.

The same program is now called `anvi-script-get-primer-matches`.

Please test it and let me know how it feels.

[2020-12-03 22:54] FlorianTrigodet commented on #1542
Thanks a lot, I'll try it right now :)

[2020-12-03 23:03] meren commented on #1542
@FlorianTrigodet, the program is documented here:

https://merenlab.org/software/anvio/help/main/programs/anvi-script-get-primer-matches/

And the artifact `samples-txt` here:

https://merenlab.org/software/anvio/help/main/artifacts/samples-txt/

If you see any ways to improve them, please feel free to edit either.

[2020-12-04 06:28] tpriest0 commented on #1575
Marjory Stephenson - a pioneer in advancing our understanding on bacterial metabolisms and also the first person to extract a bacterial enzyme from a cell.

OR..alternative solution which is applicable for the current situation we are faced by:

June Almeida - the first person to visualise and identify the family of coronaviruses. She also improved and developed various microscopy techniques for v

[2020-12-04 15:16] meren commented on #1575
@MGKmicro on Twitter:

[2020-12-04 15:19] meren commented on #1575
@MichaelTangher1 on Twitter:

[2020-12-04 18:34] FlorianTrigodet commented on #1542
Seems to work but does not use the `--output-dir` argument. No errors, it just go with the default `./MATCHING_SEQUENCES` directory.

[2020-12-07 16:14] ekiefl commented on #1556
Feature added in https://github.com/merenlab/anvio/pull/1572

[2020-12-07 16:14] #1556 closed

[2020-12-07 16:18] ekiefl commented on #1523
Solving this error requires identifying a specific case in which things go bad. Now that I'm looking out for it, eventually I will find such a case, but it probably will not happen before v7.

[2020-12-07 16:20] ekiefl commented on #1471
I will spend 1 hour on this today

[2020-12-07 16:35] ekiefl commented on #1398
As per @brymerr921's issue, this is now resolved by adding an additional column to the external gene calls file in which the amino acid sequence can be supplied. If present, anvi'o will not attempt its own translation of the DNA sequence.

[2020-12-07 16:35] #1398 closed

[2020-12-07 16:44] ekiefl commented on #1327
I see your concern. Yet many people will run `anvi-compute-genome-similarity` without providing a pangenome and will rightfully assume those filters are applied to the output data. I like the current implementation, as you get what you ask for. I think any filtering of this data solely for the purpose of visualization should be done by visualization code. I will close this for now.

[2020-12-07 16:44] #1327 closed

[2020-12-07 16:50] ShaiberAlon commented on #1327
Makes sense.

[2020-12-07 18:22] ekiefl commented on #1307
What is the status on this? I think this is now implemented.

[2020-12-07 18:26] meren commented on #1307
It is! :)

[2020-12-07 18:26] #1307 closed

[2020-12-07 20:59] ekiefl commented on #1302
By this I assume you mean that the gene caller ids are not ordered sequentially in ascending order (with interval of 1).

I can create another instance in which things fail when this is the case. Here is a minimum reproducible example, that uses the infant gut data as a starting point. I swap gene id 5 with gene id 50. Then I try and export a locus that includes genes 4-10. Since gene 5 is now way

[2020-12-07 20:59] #1323 closed

[2020-12-07 21:29] ekiefl commented on #1316
I took a quick look but as you say @ShaiberAlon, it requires first building the DAG and would require a lot more effort.

[2020-12-07 21:29] #1316 closed

[2020-12-07 21:45] #943 closed

[2020-12-07 21:56] ekiefl commented on #744
I think we may finally be able to lay this issue to rest. At the top of the homepage for our [connected network of documentation](https://merenlab.org/software/anvio/help/main/) is a bunch of notices that provide different sources for "how to get help".

Perhaps its more suitable to move these notices to https://merenlab.org/software/anvio/#help, where one of them would link to https://merenlab.or

[2020-12-07 22:02] #736 closed

[2020-12-07 22:04] ekiefl commented on #1324
This isn't really an anvi'o issue

[2020-12-07 22:04] #1324 closed

[2020-12-07 22:09] meren commented on #1548
5dfa83932c797e8ba57cbba620f26883ae47628e closes this :)

[2020-12-07 22:09] #1548 closed

[2020-12-07 22:18] ShaiberAlon commented on #1323
Has it already been two weeks? ;-)

[2020-12-07 22:54] ekiefl commented on #1158
Eventually this will need to be done. When the time is right, this will be naturally catalyzed by expansion of functionality, perhaps for indels or trna seq

[2020-12-07 22:54] #1158 closed

[2020-12-07 23:16] ekiefl commented on #1243
Just completed updating online documentation of `anvi-cluster-with-concoct`: https://github.com/merenlab/web/commit/84fbcff284f51d9ef61a6861b2a4b7d5a2457504

The only remaining item is a tutorial for `anvi-dereplicate-genomes`. This would certainly be nice to have, but in lieu of a tutorial, we now have a great help doc thanks to @Jessica-Pan that details `anvi-dereplicate-genomes`.

Closing this

[2020-12-07 23:16] #1243 closed

[2020-12-07 23:24] ekiefl commented on #744
Nevermind! We have an explicit "how to get help page": https://merenlab.org/2019/10/07/getting-help/ written by @ivagljiva. Since this post summarizes every source of help, I took the liberty of this commit: febc5859f21376a708e7399467c170479c8cee45

Hope people agree with making this more accessible.

Regardless, closing this issue.

[2020-12-07 23:24] #744 closed

[2020-12-07 23:25] meren commented on #744
I like this solution! Thank you, @ekiefl!

[2020-12-07 23:28] meren commented on #1323
I am not sure about this one but it certainly has been more than 2 weeks since you said it would be about 2 weeks for something else :p

Something else that will be public on December 16.

[2020-12-07 23:32] ekiefl commented on #1323
Haha this is why putting things in writing is always a bad idea.

[2020-12-08 00:03] meren commented on #1302
I think for each gene caller source, gene calls must be sequential increasing by 1. It is likely that in the future the contigs database will support multiple gene callers to add their stuff. Then we will have a set of gene calls that go from 0 to X, and perhaps another set of gene calls that go from X to Y. So we shouldn't expect them to start from 0, but we should expect them to increment by one

[2020-12-08 00:29] ekiefl commented on #1302
If that is the expected behavior, then we have a bug, because the above code successfully makes a contigs db with external genes that do not have sequentially increasing numbers. It goes 0,1,2,3,4,**50**,6,7,...,49,**5**,51,52...

[2020-12-08 00:34] meren commented on #1302
A proper solution would also need to check `start` / `stop` positions (or `start + ((stop - start) / 2)` positions?) to make sure it is not just shuffling of the external gene calls file with properly ordered gene caller ids and start/stop positions, but it is a major snafu :(

[2020-12-08 06:59] razz1618 opened #1581 "[FEATURE] Post processing after assigning bins/MAGs"
Hi,

I am not sure whether these features are already incorporated into ANVIO but I could not find it on ANVIO web (maybe I missed it).

So,  I have a contig.db - contigs with size 1000bp, annotated, and already clustered and refined into bins. How can I view features (functional /taxonomic annotations) of only the bins and not all contigs (If possible can subtract the contigs not clustered into t

[2020-12-08 14:56] meren commented on #1581
Hi @razz1618,

There are multiple ways to do that. You can use `anvi-summarize` to get summary outputs for a given collection, or you can use `anvi-split` to get individual profile and contigs databases for each bin in a collection.

[2020-12-08 14:56] #1581 closed

[2020-12-08 17:12] #1471 closed

[2020-12-09 05:40] razz1618 commented on #1581
I have already used anvi-summerize which gave me HTML output. will anvi-split for each bin (contig and profile db) will give me functional annotation in anvio-interactive? I tried anvio with all bins in collection mode and later found that the functional annotation search option is not working in collection mode.  My initial question may not be clear. What I mean is to do this in anvio-interactive

[2020-12-09 13:27] meren commented on #1581
I see. There is no option in anvi'o to show functional annotations in the interface per bin or per contig. But you could add additional layers into any anvi'o display to show presence or absence of certain functions or pathways you're interested in per bin in collection mode.

If you were to send a sketch of what you have in mind in terms of visualization of your bins, perhaps I could make better

[2020-12-09 13:50] razz1618 commented on #1581
I see. Great, I will try adding layer and see if I can get the desired outcome. Anyways, it is not a big deal, the same can be done manually. For reference, I have attached a picture of my clustered bins. Though I could not modify it properly, but you can get an idea about the visualization and probably if possible can provide some suggestions (If cannot also, I can understand as it is outside the

[2020-12-09 14:57] meren commented on #1581
If this is anvi'o `main` branch, you could use [anvi-estimate-scg-taxonomy](https://merenlab.org/software/anvio/help/main/programs/anvi-estimate-scg-taxonomy/) to get a taxonomy matrix for your bins, and then add it to your `anvi-interactive` call in collection mode using the parameter `--additional-layers`. Then, you would see additional layers from phylum to species for each genome bin (which ca

[2020-12-09 15:01] meren opened #1583 "[FEATURE] Automatically added taxonomy layers to anvi-interactive collection mode"
## The need

Collection mode serves as a way to display the distribution of each bin across samples (rather than contigs, which is the default mode). As highlighted in #1581 it would be useful to automatically add SCG taxonomy to improve that display.

## The solution

Learn if SCG taxonomy was run for a given CONTIGS.db, initiate the SCG taxonomy class, update additional layers dict.

## Benefici

[2020-12-09 18:13] tanaes opened #1586 "[BUG] r-tidyverse dependencies broken on main install"
## Short description of the problem

Following the main branch GitHub installation instructions [here](https://merenlab.org/2016/06/26/installation-v2/), I ended up getting failures during `anvi-self-test` that traced to being unable to load `tidyverse` due to out-of-date dependency issues.

## anvi'o version

`esther (v6.2-master)`

## System info

server running `CentOS 7.6.1810`

## Detailed de

[2020-12-09 20:53] ekiefl opened #1587 "There is too much redundancy between `anvi-get-aa-counts` and `anvi-get-codon-frequencies`"
From what I can tell, these should really be the same program. In fact, `anvi-get-aa-conts -c CONTIGS.db -o test --gene-caller-ids goi -o test1` and `anvi-get-codon-frequencies -c CONTIGS.db -o test2 --return-AA` both yield the same output table:

[code]

Yet they each have features not shared by the other. Consolidating all of the features into one program would help limit the redundancy in our p

[2020-12-09 22:09] meren commented on #1586
Thank you very much for the heads up, @tanaes! I hope we will get this sorted out for `v7`. I'm sure we will revisit this issue to remember version numbers that worked for you.

[2020-12-09 23:01] ivagljiva opened #1588 "[BUG] Cannot set --cluster-contigs to false for anvi-profile in metagenomics workflow"
## Short description of the problem

I am trying to produce single profiles without clustering. I have set the `--cluster-contigs` flag to `false` in my config file for the metagenomics workflow, but this flag is still being added to the `anvi-profile` rule.

## anvi'o version

[code]

## System info

Midway

## Detailed description of the issue

See screenshots below:
![image](https://user-images

[2020-12-10 12:09] razz1618 commented on #1581
Thanks. i will try that.

[2020-12-10 17:59] ekiefl commented on #1588
So here's the function:

[code]

This seems like a design flaw. First of all, the warning is with regard to the `else` clause, so should be _in_ the `else` clause, not the `if` clause. Second, is this really a behavior we want? Forcing `--cluster-contigs` for single profiles seems the opposite of the advice provided in `anvi-profile`:

[code]

This is not my area of expertise so maybe I am missing

[2020-12-10 20:55] aline385 opened #1591 "Config error using anvi-gen-contigs-database with external-gene-calls"
## Short description of the problem

A config error is raise when I try to run anvi-gen-contigs-database with external-gene-calls : "There are more fields in the file 'gene_calls.txt' than the expected fields"

## anvi'o version

Anvi'o version ...............................: esther (v6.2)
Profile DB version ...........................: 31
Contigs DB version ...........................: 14
Pan DB

[2020-12-10 20:58] aline385 commented on #1591
The files are not uploading on dropbox, so here they are :
[config_error.tar.gz](https://github.com/merenlab/anvio/files/5675564/config_error.tar.gz)

box, so here they are :

[2020-12-10 21:16] ivagljiva commented on #1591
Hi @aline385,

I think this is happening because your gene calls file has a `call_type` column. The fields that anvio-6.2 expects are `['gene_callers_id', 'contig', 'start' , 'stop'  , 'direction', 'partial', 'source', 'version']`, and `call_type` is not one of those.

`call_type` was added later to the expected fields list, so perhaps you generated that external gene calls file using the developm

[2020-12-10 21:21] meren commented on #1591
This is because our documentation follows the `main` repository when most people are still using `v6.2`. For instance this external gene calls artifact: https://merenlab.org/software/anvio/help/main/artifacts/external-gene-calls/

This will no longer be a problem with anvi'o `v7`, but meanwhile apologies for the inconvenience, @aline385 :( You simply need to remove the `call_type` column for now.

[2020-12-10 21:26] ivagljiva commented on #1591
Also, I just realized that `gff_parser.py` is not tracked in the anvi'o repository. It is [here](https://github.com/karkman/gff_parser) instead :) So the current version of that program is probably not the one that is compatible with anvio-v6.2 (@meren, please correct me if I am wrong)

[2020-12-10 21:56] meren commented on #1591
Funny enough, this problem was brought up very recently here as well: https://github.com/karkman/gff_parser/issues/7

In an ideal world, gff_parser can produce a suitable external gene calls file for `--anvio-v6-or-earlier` :)

[2020-12-11 01:43] razz1618 commented on #1581
Hi,
I included taxonomy via additional layers and now I am looking at the functional annotation of the bins. I used COGG, Eggnogg, and KEGG for functional annotation.

When I look at the gene-call.txt of a **single bin**, there is one column named EGGNOG_BEST_TAX which is pointing to different taxa for each gene-call and these taxa are not related to the representing bin. Is it a matter of concern

[2020-12-11 02:05] meren opened #1593 "[BUG] HMMs that span through multiple splits explodes anvi'o if some splits are excluded during binning / refinement"
Jon Sanders run into the following issue during `anvi-summarize` and sent the following traceback to anvi'o Slack:

[code]

He mentioned the following:

Switching to the `main` branch did not solve the problem, either. He kindly sent the files through e-mail for me to reproduce this bug. I will document my journey with these data here.

---

I am now looking at these databases, and while I can see

[2020-12-11 07:37] aline385 commented on #1591
Thank you very much ! It works now that I removed the call_type column :)

[2020-12-11 07:37] #1591 closed

[2020-12-11 15:27] tanaes commented on #1593
Ahhh ok I think I know how this happened then! There were a couple bins that improved dramatically if I actually split internally to a contig. Probably a misassembly -- i suspect it's no accident that it occurs within an rRNA operon!

[2020-12-11 18:48] meren commented on #1581
Hey @razz1618,

EGGNOG_BEST_TAX tells you which sequences from which taxa were used to make that functional prediction for your genes. It does not necessarily reflect the actual taxonomy of a given genome.

[2020-12-11 21:43] matthewlawrenceklein commented on #1450
Hi @tdelmont and anyone else tracking this! We're currently working on implementing support value visualization, and we'd like to re-open a dialog with the anvi'o community. At present, support value visualization is handled via 'additional settings' in the main panel. Here's a quick screen grab of the UI and subsequent render:

<img width="1927" alt="Screen Shot 2020-12-11 at 3 25 22 PM" src="htt

[2020-12-12 00:46] BladoHikikomori commented on #1479
Thanks buddy !
I just solved my bug with this !

[2020-12-12 03:50] razz1618 commented on #1581
I see. thanks. that makes sense.

[2020-12-12 09:25] tdelmont commented on #1450
@matthewlawrenceklein this is really exciting many thanks on behalf of those interested in this development within anvi'o.

Morgan Gaia is a postdoc expert in phylogenies that could help us with ideas. Provided that people have time before the winter break, maybe we could try to set-up a zoom and chat regarding the opportunities of this work for people interested in the visualization of phylogenet

[2020-12-12 17:12] tanaes commented on #1593
This feels like the same bug, but on my *next* bin refining venture, I ended up with the following error:

[code]

So it's running into problems with a gene call here, and deleting HMMs isn't sufficient to make it work! When I export gene calls, sure enough there is a gap in my ID list covering that range.

Is there an easy way to delete the gene calls table from a contigs db?

[2020-12-12 17:30] meren commented on #1593
These split genes are exclusively going to be associated with HMMs that are of type Ribosomal RNA :/

Can you please also remove the following ones to make sure they are out of your way?

[code]

If this doesn't work I will offer my resignation from science.

[2020-12-12 17:37] tanaes commented on #1593
I'm so glad there is no one able to accept your offer of resignation, because I already tried deleting the HMMs! Didn't work. :(

Anything below offer a hint?

[code]

[2020-12-12 17:42] meren commented on #1593
Ah 🤦

These are still the same files you sent me, right, Jon?

I will look into this today or tomorrow and will let you know once the `main` can summarize your files properly.

[2020-12-12 17:52] meren commented on #1593
Interesting, I can't reproduce this one. Can you please run these commands and let me know if they work for you first:

[code]

then you can remove the `SPLIT` directory:

[code]

[2020-12-12 18:02] tanaes commented on #1593
This is actually a new contigs and profile database, from a separate set of samples altogether!

Same issue with the split bin:

[code]

[2020-12-12 18:08] meren commented on #1593
I see. This looks like an entirely different problem. A gene caller id (`1293816`) not found in `genes_in_contigs_dict` is unheard of :) I am not sure how did that happen. the only possible way for that to happen is ... well I really have no clue. I will first focus on the first problem, and I will perhaps ask your help to get my hands on this new contigs db to look for the other.

[2020-12-12 19:08] tanaes commented on #1593
You bet, and thanks again! Sorry for causing so much trouble!

[2020-12-12 19:24] meren commented on #1593
No, please, this is golden (to address some critical bugs), and I am very thankful for your patient :)

[2020-12-12 22:01] meren commented on #1593
Hey @tanaes, if you pull from the `main` branch, the summary of the first dataset you've sent me should be working without any issues with HMMs.

Can you please let me know if it is the case?

[2020-12-14 17:03] tanaes commented on #1593
Yay!!! It totally worked! Thanks a million!

[2020-12-14 18:05] meren commented on #1593
Thank you for your help to figure this one out :)

[2020-12-14 18:05] #1593 closed

[2020-12-14 19:00] tanaes opened #1596 "[BUG] gene_callers_id KeyError on anvi-summarize"
## Short description of the problem

I'm encountering an issue where, after manually refining bins, calling `anvi-summarize` yields the following error message:

[code]

## anvi'o version

[code]

## System info

CentOS 7.6.1810, installed from GitHub main anvio branch per instructions.

## Detailed description of the issue

Here's the command and output:

[code]

Intriguingly, there *does* seem t

[2020-12-14 22:21] matthewlawrenceklein commented on #1450
@tdelmont Excellent! Let's schedule a time in the coming weeks for a zoom session, which we can also throw to the anvi'o community at large. Feel free to email me directly - mlklein@uchicago.edu

best,
-matthew

[2020-12-14 23:18] meren commented on #1596
Hey @tanaes, I'm working on this and have a question. From which version of the contigs database did you migrate the one you sent me? I want to make sure by going through the migration scripts one by one first to make sure we don't do anything that may cause this.

Thank you,

[2020-12-15 03:04] meren commented on #1596
Hey Jon,

I spent a very long time on this problem, but I was unable to find out what might have happened to these databases that left them in their current state. This looks like it has something to do with gene calls added and removed by HMMs that operate on contigs rather than gene calls. As you will find in an e-mail from me in your inbox, I asked your help with more data :) Thank you for your

[2020-12-15 03:36] meren opened #1598 "Should we migrate out `Ribosomal_RNAs` from contigs databases?"
We recently changed the name and underlying models for HMMs.

Because these models run on contigs, they add gene calls. If the user runs `anvi-run-hmms` on a contigs db that was generated during `v6.2` and before, this is what they will get:

![image](https://user-images.githubusercontent.com/197307/102167428-fe06d380-3e53-11eb-982c-a71698ea49fd.png)

Gene calls coming from the new model:

![image

[2020-12-15 20:16] meren commented on #1598
OK. I think this is the most appropriate option, so I am going with that one unless anyone is upset with it.

[2020-12-15 20:18] #1598 closed

[2020-12-16 16:36] #1554 closed

[2020-12-16 21:23] #1561 closed

[2020-12-17 04:22] meren commented on #1596
I found the reason for this error, and it is ugly, so brace yourselves :(

# The Bug

Let's start with the fix for the bug:

[code]

So essentially, the code was selecting `entry_id`s and not `gene_caller_id`s for Transfer_RNAs as `relevant_gene_calls` to be removed from the database. Then the code proceeds to run this after a few lines, which irreversibly removes genes that were not supposed to b

[2020-12-17 19:12] PatoUru opened #1601 "TypeError: Cannot read property '25' of undefined"
Hi all,
I ran the following command line:
$ anvi-display-pan -p Pangenome2021/Pangenome2021-PAN.db -g C-GENOMES.db -t tree-newick-gtdb

I got the following error
![image](https://user-images.githubusercontent.com/47186701/102531240-bfa22c00-4080-11eb-806f-7be85a561a2f.png)

I performed the protein alignment from 17 MAGs in gtdbk, and then the phylogenetic tree was constructed in MEGA10 (exported i

[2020-12-17 19:19] meren commented on #1601
Hi @PatoUru,

I'm afraid you're getting this error because the `tree-newick-gtdb` contains names that start with numeric characters. Can you please double-check that?

But apart form that, you're providing a tree file that describes your genomes to replace the tree that is meant to describe your gene clusters. The `-t` adds a tree to replace the dendrogram in the center, which is identified with n

[2020-12-17 19:37] PatoUru commented on #1601
Thank you very much for your answer!!
**tree-newick-gtdb:**
((((((AMX14:0.05576653,AMX68:0.04860886)1.0000:0.10404042,(AMX15:0.05534578,AMX39:0.08002258)1.0000:0.07772235)1.0000:0.04868159,AMX55:0.13302416)1.0000:0.11794780,(MO118:0.31001016,MO16:0.17927527)1.0000:0.06426011)1.0000:0.17372416,(AMX9:0.25369015,(AMX57:0.16045843,RH21:0.24289284)0.8000:0.04991906)1.0000:0.20251593)1.0000:0.05813438,M

[2020-12-17 20:27] meren commented on #1601
Hi @PatoUru, this helps. Thank you.

You don't have the tree shown as (1) in your pan because of this:

![image](https://user-images.githubusercontent.com/197307/102539477-5e279080-4073-11eb-98bb-7afe80f4c138.png)

You have way too many gene clusters to generate that tree efficiently, so anvi'o skips trying to do that altogether.

But as far as I can se from your pangenome, these genomes are extre

[2020-12-17 20:27] #1601 closed

[2020-12-17 20:47] PatoUru commented on #1601
In the pangenome I included 17 MAGs from 3 different ecosystems: AMX, RH and MO. All MAGs (or almost all) belong to the same class. My idea was to determine if there was a separation of MAGs according to the ecosystem, and also to determine if there were specific functions (singletons) in each ecosystem. The ANI value is less than 90 between mags, therefore they seem to be very different! Would yo

[2020-12-17 21:06] meren commented on #1601
I think this would be a good question to ask on anvi'o Slack channel to collect opinions on what would be the best way to compare these genomes. If you clarify your question, I'm sure you will hear some opinoins.

I probably would go for a functional pangenome (which is described in the pangenomics tutorial) or comparing their metabolic potential (which is explained here, but will only be availabl

[2020-12-17 21:15] tanaes commented on #1596
Thanks so much for finding and fixing this!

I've run your proposed fix and can confirm that it works on my corrupted contigs dbs. For convenience I packaged everything in a little bash script:

[code]

[2020-12-17 21:57] meren commented on #1596
Thank you very much, @tanaes!

[2020-12-17 21:57] #1596 closed

[2020-12-18 05:59] maziz2 opened #1602 "[BUG] iu-filter-quality-minoche is crashing"
Hi

I am running this tutorial on my metagenomics data
https://merenlab.org/tutorials/assembly-based-metagenomics/

I am at the step where I run iu-filter-quality-minoche for quality filtering

Here is the command I run
for ini in 01_QC/*.ini; do sbatch  -J SSI_metagen -t 14-00:00:00 -p defq --wrap="iu-filter-quality-minoche $ini"; done

Here is the error I get ( i get it for all 42 samples but im

[2020-12-18 07:07] meren commented on #1602
Hi, please add this to your command: --ignore-deflines

[2020-12-18 07:07] #1602 closed

[2020-12-18 16:01] tanaes opened #1603 "[BUG] Strange .git file appearing in .html directory from anvio-summarize"
## Short description of the problem

This is a very small thing and probably idiosyncratic to my own usage, but I thought I'd record it here just in case.

I've been using git to sync my bin summaries between the server and my laptop.

(Aside: I include the following lines in my `.gitignore` so that I just sync the summary report, and not a zillion bin files!

[code]
)

Recently, calls to `anvi-su

[2020-12-18 19:32] meren commented on #1603
Hereby I declare you the finder of most interesting bugs in anvi'o :)

Thank you for taking the time to report it. I will try to figure out why this may be happening :)

[2020-12-19 07:30] tdelmont commented on #1450
@matthewlawrenceklein sorry for the delays for some reasons I do not get any notifications from Github...

I will interact with you by email to speedup the process

Tom

[2020-12-20 21:40] tanaes commented on #1603
My middle name is "edge case" 🤪

[2020-12-20 22:38] #1603 closed

[2020-12-20 22:52] meren commented on #1603
This should be now solved, @tanaes :)

[2020-12-22 04:09] razz1618 opened #1604 "Performance issue with anvi-display-pan"
Hi,
Recently I finished pangenomics analysis on my 124 MAGs. When I start the interactive mode the process gets killed at initialize gene clusters (on my 8 core i7-16GBram PC). If I use  **--skip-init-functions**, the command starts the browser but later on just hangs on clicking the "draw" tab. This is sure because of the large number of gene clusters in my data.
I tried to fire up the command on

[2020-12-22 17:47] FlorianTrigodet opened #1605 "[BUG] Performance issue with anvi-run-hmms"
## Short description of the problem

`anvi-run-hmms` is taking too long for a single genome.

## anvi'o version

[code]

## System info

Using the github main branch, on Linux.

## Detailed description of the issue

`anvi-run-hmms` has been running for more than 16 hours (5 threads) for a single genome of ~3 Mbp. And that's a lot of time for a single genome.

[code]

[2020-12-22 17:49] FlorianTrigodet commented on #1605
I can also see other `anvi-run-hmms` that have been running for more than 6 days (5 threads) on the same server, and for single genome also.

[2020-12-22 18:36] ivagljiva commented on #1605
This is concerning, especially considering there is only one target sequence.
[code]

I wonder if there is a bug in this case which is causing it to hang.

[2020-12-22 18:43] ivagljiva commented on #1605
This is where that warning is coming from in our `hmmer.py` driver:
[code]
The warning states that we will use a single process with 5 cores instead of 5 threads with 1 core each, but there is nothing in that `if` clause that actually changes the number of threads. That makes me think that we are instead running 5 threads (with 5 cores each), and that 4 of those have nothing to do because there is

[2020-12-22 18:47] FlorianTrigodet opened #1606 "[BUG] anvi-script-get-primer-matches summary bug"
## Short description of the problem

`anvi-script-get-primer-matches` failed to summarized the output.

## anvi'o version

[code]

## Detailed description of the issue

Here was the output of my command:
[code]

[2020-12-22 20:02] ivagljiva commented on #1605
## Reproduce the bug

[code]
I ended up with two gene calls in the test database, but regardless we can trigger this case by giving it 5 threads:
![image](https://user-images.githubusercontent.com/10360586/102925824-b5ee3f00-4459-11eb-8ad2-41359cfef45d.png)

It has been going at it for about 15 minutes, way too long for just 2 gene calls, so I think that is enough to say it is hanging.

In contras

[2020-12-22 20:03] #1605 closed

[2020-12-22 20:13] #1606 closed

[2020-12-22 20:13] meren commented on #1606
Apologies for the bug. It is now good to go :)

[2020-12-22 20:18] meren commented on #1605
Thank you for figuring this one out and fixing it, Iva :)

[2020-12-24 03:02] meren commented on #1604
Hi @razz1618,

You have `241,142` gene clusters. The anvi'o pangenomics workflow is not suitable to study such large pangenomes.

If you are getting more than 200K gene clusters with only 124 MAGs, you are very likely doing a mistake. Pangenomics is most powerful when relatively closely related genomes are compared. But it seems you are comparing a large collection of genomes that belong to vastly

[2020-12-24 03:03] #1604 closed

[2020-12-25 16:21] BI202020 commented on #1479
thanks @NVOostende.  it worked!

[2020-12-26 03:05] xuechunxu opened #1609 "✖ anvi-gen-variability-profile encountered an error after 0:00:04.463324"

[2020-12-27 16:58] #1609 closed

[2020-12-29 06:04] meren commented on #1588
So what are we doing about this? :)

[2020-12-29 06:05] meren commented on #1586
I think I managed to solve this in our new conda recipes :)

[2020-12-29 06:05] #1586 closed

[2020-12-29 06:06] meren commented on #1562
Plus, perhaps we shouldn't show layers that have no data?

It really is becoming very distracting there.

![image](https://user-images.githubusercontent.com/197307/103262166-aeeb9300-4969-11eb-8fb4-994c924912c5.png)

[2020-12-29 06:28] ivagljiva commented on #1588
I think we should fix it so that the users can actually set a 'false' value for `--cluster-contigs` if they want to, but if no value is set the defaults should be 'true' for merged profiles and 'false' for single profiles. If you think that makes sense, I will take a stab at it tomorrow...er, today. much later today. :)

[2020-12-29 11:39] SofiMarcos opened #1610 "Interactive interface not working"
## Interactive interface not working

Hi Anvi'o team! When running anvi-self-test --suite mini in a virtual machine (Ubuntu 18.04), previous steps go well but in the interactive part something goes wrong.

## anvi'o version 6.2

## code error:
Traceback (most recent call last):
  File "/home/lan/miniconda3/envs/anvio-6.2/bin/anvi-interactive", line 120, in <module>
    d = interactive.Interactive(

[2020-12-29 16:38] meren commented on #1610
Hi @SofiMarcos,

I became aware of this issue yesterday while preparing for `v7`. This is due to a change in newer versions of scikit-learn. Perhaps `mamba` is faster because it doesn't necessarily resolve exact dependencies and takes the liberty of installing newer versions of libraries. I am not sure.

But nevertheless, If you run the following command, this is the output you want to see for thi

[2020-12-29 16:38] #1610 closed

[2020-12-30 04:07] #1588 closed

[2020-12-30 08:23] tdelmont opened #1613 "Abundance stats: importing the number of metagenomic reads per sample into PROFILE.db"
## The need

Get the relative abundance of MAGs across samples. We have a lot of confusion (rightfully in my opinion) within the anvi'o community about the abundance numbers in the summary output.

## The solution

Offer the option to incorporate a text file with sample.name as column A and number.of.metagenomic.reads as column B into PROFILE.db.

Then, during summary the relative abundance of MAG

[2020-12-30 14:33] meren commented on #1562
#1612 addressed this.

[2020-12-30 14:33] #1562 closed

[2020-12-31 15:20] meren commented on #1613
When people use the anvi'o Snakemake workflows, the actual number of reads are stored in the misc data tables for single and merged profile databases automatically under the name `total_num_reads`.

The same mechanism can be used to import a [misc data layers](https://merenlab.org/software/anvio/help/main/artifacts/misc-data-layers/) information via the program [anvi-import-misc-data](https://mere

[2021-01-02 02:52] meren commented on #1550
I think it is time to retire this issue :)

[2021-01-02 02:52] #1550 closed

[2021-01-02 02:56] meren commented on #1575
Thank you all very much for your suggestions. Given its release cycle, I think it is safe to assume that the treasure of codenames suggested under this issue will certainly outlive anvi'o :) I _hope_ the choice for `v7` will please most of you.

I am looking forward to use more of the suggestions going forward.

I wish you all a happy 2021, and thank you again.

[2021-01-02 02:56] #1575 closed

[2021-01-02 03:16] #1515 closed

[2021-01-02 03:16] meren commented on #1515
This should be now working :)

[2021-01-02 03:18] meren commented on #1553
I think we can retire this issue :) Thank you very much, @Jessica-Pan! I think the most important ones are now taken care of.

[2021-01-02 03:18] #1553 closed

[2021-01-02 03:19] meren commented on #1431
<3

[2021-01-02 03:19] #1431 closed

[2021-01-02 21:03] meren commented on #1450
Closed by #1618, which implements a preliminary version of this :)

[2021-01-02 21:03] #1450 closed

[2021-01-03 21:33] semiller10 opened #1621 "[FEATURE] Improve how anvi-trnaseq handles INDELs"
I created a [branch](https://github.com/merenlab/anvio/tree/trnaseq-indels) to modify how `anvi-trnaseq` deals with INDELs (presently only deletions, which are more common than insertions). Two substantive changes in the prediction of deletions are planned.

1. `anvi-trnaseq` currently predicts where deletions **could** be found in normalized tRNA sequences, around the sites of potential modificat

[2021-01-04 18:16] dspeth opened #1622 "[BUG] docs suggestion for install of h5py"
## Short description of the problem

h5py not included in install instructions for v7

## anvi'o version

Replace this text with the output of this command:

Anvi'o .......................................: hope (v7)

Profile database .............................: 35
Contigs database .............................: 20
Pan database .................................: 14
Genome data storage ..........

[2021-01-04 18:42] meren commented on #1622
Thank you, @dspeth! Good point. I updated the installation doc via https://github.com/merenlab/web/commit/64ad6ac50cff51d080a1fb1f357f3089f26ec872.

[2021-01-04 18:42] #1622 closed

[2021-01-04 20:07] dspeth opened #1623 "[BUG] anvi-setup-pdb-database fails because of "Config Error: Cannot call `DB.remove_some_rows_from_table` in read-only instance""
## Short description of the problem

write read-only file by anvi-setup-pdb-database, subsequent "broken pipe" error

## anvi'o version

Anvi'o .......................................: hope (v7)

Profile database .............................: 35
Contigs database .............................: 20
Pan database .................................: 14
Genome data storage ..........................: 7
A

[2021-01-04 20:11] meren commented on #1623
Thank you, @dspeth!

[2021-01-04 20:39] dspeth opened #1624 "[BUG] anvi-setup-trna-taxonomy fails at AAA database"
## Short description of the problem

anvi-setup-trna-taxonomy fails at AAA database

## anvi'o version

Anvi'o .......................................: hope (v7)

Profile database .............................: 35
Contigs database .............................: 20
Pan database .................................: 14
Genome data storage ..........................: 7
Auxiliary data storage ...........

[2021-01-04 20:58] meren commented on #1624
Thank you very much, @dspeth!

This is weird as I tested this on Linux! Can you please run the same command with a `--debug` flag?

[2021-01-04 21:05] dspeth commented on #1624
Here you go @meren

![image](https://user-images.githubusercontent.com/5320639/103579404-1be0ba80-4e8d-11eb-9144-1cf0ef8065bd.png)

Can't immediately see anything wrong with the temp files:
![image](https://user-images.githubusercontent.com/5320639/103579597-67936400-4e8d-11eb-84ca-7d3f1c759730.png)

[2021-01-04 21:53] meren commented on #1624
Crap. I think it will not be a problem if you update your BLAST to `2.10.1`. You can see your version if you type `blastn -version`.

If you don't want to update, you can solve this by first running this to learn the file path,

[code]

then opening that file and replacing this line:

[code]

with this one:

[code]

Please let me know how it goes and thank you again!

[2021-01-04 21:59] meren commented on #1624
I'm planning to update the BLAST installation line from

[code]
to

[code]

I will test how this goes and write back.

[2021-01-04 22:02] dspeth commented on #1624
update was not a problem, as nothing was downgraded or changed (solving took a few mins though).
just for info: It did pull in entrez-direct, expat and a whole host of perl packages

anvi-setup-trna-taxonomy worked fine after updating

[2021-01-04 22:05] meren commented on #1624
On my system it caused the following error:

[code]

I have no clue how to address this.

[2021-01-04 22:32] dspeth commented on #1624
conda operates in ways I don't fully understand. This command works for me in a fresh env, but there are a number of differences in the solution (R 4.0.3 vs R 3.6.1 for example). No idea how possible solutions are chosen when versions are not specified.

conda install -y -c bioconda "sqlite >=3.31.1" prodigal mcl muscle hmmer diamond "blast=2.10.1" megahit spades bowtie2 bwa samtools centrifuge tr

[2021-01-06 16:26] meren opened #1625 "[BUG] checks for tRNA anticodon BLAST dbs are not robust"
## Short description of the problem

The current way to handle BLAST dbs for anticodons is far from being elegant, which results in difficult to address errors with changing versions of BLAST as demonstrated in #1624.

## anvi'o version

This involves the `main` branch as well as `v7`.

[2021-01-06 18:02] meren commented on #1624
I am closing this with #1626. Not only this PR solves it in the main branch, but also in `v7` package associated with the release as an asset retrospectively.

[2021-01-06 18:02] meren commented on #1624
Thank you again for your help, @dspeth.

[2021-01-06 18:02] #1624 closed

[2021-01-06 18:03] meren commented on #1625
#1626 closes this.

[2021-01-06 18:03] #1625 closed

[2021-01-07 18:00] ivagljiva opened #1629 "[FEATURE] Normalize by numerical layer data"
## The need

This is applicable mostly to metagenomics (and manual mode) in `anvi-interactive`. As I understand it, we currently can normalize coverage data by the number of reads mapping to our contigs. However, we would also like to be able to normalize by other things, such as the total number of reads per sample.

## The solution

We should have a generic solution enabling users to normalize t

[2021-01-07 19:02] watsonar opened #1630 "[BUG] anvi-pan-genome KeyError, possibly related to DIAMOND code?"
## Short description of the problem

`anvi-pan-genome` produced the following error:
[code]
## anvi'o version

[code]

## System info

I am using the Meren lab's Midway partition at UChicago.

## Detailed description of the issue

I am using the pangenomics workflow with a new config.json file compatible with v7, on contigs databases recently upgraded to v7. I had previously made this pangenome be

[2021-01-08 03:44] efogarty11 opened #1632 "[BUG] migration of profile.db from v33 to v35"
## Short description of the problem

When I try to migrate a profile database from v33 to v35 it appears to work but I get a config error when I try to use the profile for anything else.

## anvi'o version

anvio main on midway

## Detailed description of the issue

I ran this command to migrate the profile:

[code]

and it looks like it migrated without a problem:
[code]

But when I try to run an

[2021-01-08 03:57] meren commented on #1632
Ok. I did a very quick test with freshly downloaded Infant gut dataset to make sure this is not impacting databases generated during `v6.2`.

Here is my tests for @ivagljiva to also take a look:

First download the data and save a copy of the original `PROFILE.db`:

[code]
anvi-db-info PROFILE.db

DB Info (no touch)
===============================================
Database Path ....................

[2021-01-08 04:02] meren commented on #1632
Note, my sqlite version is the following:

[code]

[2021-01-08 04:06] meren commented on #1632
@ivagljiva, regarding the following comment on anvi'o slack:

Did you test this with IGD on the same system @efogarty11 tested it where sqlite version seems to be `3.31.1`?

Thank you both,

[2021-01-08 04:57] ivagljiva commented on #1632
@meren I tested it on my laptop, where I have the same sqlite version as @efogarty11:
[code]

However, I am also on the development branch so that could play a role as well:
[code]

For the record, to replicate the error I did this:
[code]

But just to triple check, I just repeated what you did above, and spoilers, this time there were no issues:
[code]
So yes, the step-by-step migration works.

T

[2021-01-08 16:13] watsonar opened #1633 "[FEATURE] a way to delete functional annotations"
## The need

Anvi'o does not have a way to delete sets of functional annotations.

## The solution

A way to delete functional annotations from a particular source. :)

## Beneficiaries

Me, and also Meren who asked me to make this issue, and likely others!

[2021-01-08 17:25] meren commented on #1632
@ivagljiva, do you think @efogarty11's attempt to migrate may have failed due to an improperly closed database file? It is a very large db, and if the next process started before it was written to disk fully (which is what happens when dbs are not closed properly at the end of the process) that may have had an influence.

But I still don't understand how, if it were to be the case, you could repro

[2021-01-08 17:36] ivagljiva commented on #1632
@meren, that was my only guess as to what had happened. We have all the proper calls to `disconnect()` as far as I can see in the migrate scripts, maybe that process could take a long time on large databases? such that it was not fully closed by the time the next migrate script opened it again? Do you think that is a possibility?

I am also very confused about how I reproduced it with IGD (twice!

[2021-01-08 18:40] meren commented on #1632
This should never happen since those are not asynchronous functions and they 'wait' until the process is complete.

But this,

sounds like a race condition. Your I/O pressure is high or your CPU is busy? You see the problem. And you don't in other cases. This message you shred on Slack also points towards an evil of that sorts:

When you do step by step, it is more likely to not see it. When you d

[2021-01-08 18:53] meren commented on #1632
We can do this with relatively larger profile databases, such as this one that is 814 Mb.

Set the stage:

[code]

Then,

[code]

These should work on any computer system with anvi'o `v7`.

[2021-01-08 23:39] ivagljiva commented on #1632
Makes sense. I was running `anvi-run-kegg-kofams -T 4` on several contigs dbs last night, might have been when I replicated the error.

After updating my anvi'o environments, I tried your test loops and got 'PASS' for everything, even when I tried running `anvi-run-kegg-kofams -T 4` at the same time to put more stress on my system.

So maybe upgrading my sqlite3 fixed this, or maybe it is just an

[2021-01-09 04:50] #1633 closed

[2021-01-09 04:51] meren commented on #1633
A new program, `anvi-delete-functions`, is now in the main branch, @watsonar :)

[2021-01-09 21:59] mschecht opened #1636 "Installation of pysam breaks during v7 installation"
## Short description of the problem

Hi everyone, I had an installation issue for v7 that I solved and wanted to document it here just in case it comes up for someone else. During the installation tutorial, I had an error at the step `pip install anvio-7.tar.gz` in the [installation tutorial](https://merenlab.org/2016/06/26/installation-v2/#3-install-anvio).

## System info
macOS Big Sur

$ system

[2021-01-09 21:59] #1636 closed

[2021-01-10 19:57] ekiefl commented on #1623
Hey @dspeth thank you for the report. This has been fixed with this commit: 65ec4a380132f601697a2309af6ffe034bb17726

The problem was that the database you were creating was itself in a read-only mode.

[2021-01-10 19:57] #1623 closed

[2021-01-11 19:10] ivagljiva opened #1637 "[BUG] pandas version issue for anvi-estimate-metabolism --matrix-format"
## Short description of the problem

As reported on the anvi'o Slack, users with newer versions of `pandas` may get the following error when running `anvi-estimate-metabolism --matrix-format`:

[code]

The reason this happens is that newer versions of `pandas` do not have `labels` attribute in the `MultiIndex` class.

## anvi'o version

[code]

The version of `pandas` that I know works (on my syst

[2021-01-11 20:24] meren commented on #1637
We already have it though :)

https://github.com/merenlab/anvio/blob/master/requirements.txt

[2021-01-11 20:26] ivagljiva commented on #1637
😲 I wonder why that error came up then.

Well, at least it is now documented here so if anyone else has a similar issue, the fix is listed. I will close this now :)

[2021-01-11 20:26] #1637 closed

[2021-01-12 00:42] ekiefl commented on #1637
If/when we migrate to pandas >1, we are likely to run into many such errors.

Related issue: https://github.com/merenlab/anvio/issues/1474

[2021-01-12 18:14] dspeth opened #1638 "[BUG] [SOLVED] anvi-run-kegg-kofams HMM annotation fails and subsequently hangs"
## Solution

The problem is due to a bug in HMMER `v3.3.1`. If you downgrade it the following way, the error will be resolved:

[code]

## Short description of the problem

both anvi-run-hmms and and anvi-run-kegg-kofams encounter errors when running hmms on specific databases, but not the same one. The errors cause the programs to hang.

## anvi'o version

[code]

## System info

Linux, RedHat 8.

[2021-01-12 18:25] meren commented on #1638
I'm sorry you run into these annoying errors, @dspeth.

I will start by addressing the fact that `anvi-run-hmm` does not log which db it is working on. Since you are not using the development branch, I will suggest you to edit a particular file as I will make minimal changes in the code.

[2021-01-12 18:29] dspeth commented on #1638
Hi @meren, ah no worries about the logging. i won't create a feature request then, and patiently await 7.1 :P
To your credit, I had noticed the lack of db identifying output before, but just never bothered me because everything always ran smooth :D

[2021-01-12 18:35] meren commented on #1638
Hey @dspeth,

If you want to do some hacking, feel free to run this on your terminal, which will tell you a file path:

[code]

Open it in your text editor, and either jump to 146, or search for `("HMM sources` in the file (which occurs only once). Once you find the line, add the following line above that line:

[code]

So it looks like this:

![image](https://user-images.githubusercontent.com/197

[2021-01-12 18:44] dspeth commented on #1638
I'll get you the contigs db in about 5hrs @meren

I keep a local copy of the gtdb species representatives as anvio dbs for easy use in phylogenomics, pangenomics etc. Was attempting to run hmms on them after the port from 6 to 7 because I wanted to update the rRNA hmms. So it's one of the 30000+ dbs :D

tangentially related: does anvi-run-hmms support a list of hmms? I tried a few options to just

[2021-01-12 18:55] meren commented on #1638
Wait. I think I can solve the `anvi-run-hmms` issue without needing a database.

Don't worry about it! It has nothing to do with HMMs I realized, so don't start everything over :)

We are actually planning to create a continuously integrated archive of these genomes online. You are beating us to it :)

So you are asking for `-I` command to accept a comma-spearated list of HMM sources? We can do th

[2021-01-12 18:57] dspeth commented on #1638
hold up, forgot to add something. While the error seems the same in both anvi-run-hmms and anvi-run-kegg-kofams, the handling of the progress after the keyboard interrupt is different.

anvi-run-kegg-kofams, being nice (a little too nice) deletes all the temp files.

anvi-run-hmms, the wild child, just says f*** it and moves on, leaving the temp files available. This is what the log says:
![image]

[2021-01-12 18:59] dspeth commented on #1638
and on the `-I` flag:
yes, that was exactly what I was asking. That way, it becomes easier to update the "Ribosomal RNAs" hmm to the new ones with 6 distinct hmms

[2021-01-12 19:02] meren commented on #1638
e2d861145e4fb72713d60f857fa5ef027822f31e solves the cryptic `anvi-run-hmms` error due to "'NoneType' object has no attirbute 'find'", but clearly there is something even deeper here.

If I'm reading your message correctly, You should find in that temp dir the `AA_gene_sequences.fa.3` with a gene that is longer than 100K amino acid residues :.

[2021-01-12 19:04] meren commented on #1638
Although I am not sure if it should be given to GTDB, Prodigal, or Daan at this point :)

If you still have access to `AA_gene_sequences.fa.3`, can you confirm if there is a weird looking gene in it?

[2021-01-12 19:10] dspeth commented on #1638
I had looked, and there are genes with many many X residues in it, just didn't think it was over 100K.
But now I'm second guessing myself and checked properly, and indeed it is longer than 100K residues:

MPGGRWARPCSRSTCTSRAAWARAKCRSFSPAAPCPRPPTAGGRASGPGWAAGAARRADXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
# 1298 lines of X residues
XXXXXX

[2021-01-12 19:12] meren commented on #1638
Now I'm curious if this is a genome with a crazy number of `N`s, or is it anvi'o screwing things up somehow :/

[2021-01-12 19:15] dspeth commented on #1638
Still, doesn't seem to solve the anvi-run-kegg-kofams issue. Possibly unrelated. Let me see if I can run this with --debug to preserve temp files

[2021-01-12 19:16] meren commented on #1638
I wouldn't do that for that many genomes, @dspeth :( Let's ask @ivagljiva for the best practice.

Perhaps we should generate a contigs db for `GCA_003647425`.

[2021-01-12 19:16] dspeth commented on #1638
as for the other one, I'll tell you later today :D
but since it is a gtdb genome that shoudn't be the case. Otherwise I can go complain with donovan and phil

[2021-01-12 19:18] dspeth commented on #1638
ah, @meren the failure for anvi-run-kegg-kofams was on an unrelated project, with only 427 genomes in it, and there I do know the culprit db specifically.

Ironically, anvi-run-hmms runs smoothly on it

[2021-01-12 19:34] dspeth commented on #1638
here's the `--debug` output from the moment anvi-run-kegg-kofams throws an error.

Nothing quite as obvious as the problem with anvi-run-hmms seems to be happening, but I might be checking the wrong log files?

![image](https://user-images.githubusercontent.com/5320639/104363483-178a5200-54ca-11eb-8e33-d62e5f498f27.png)
![image](https://user-images.githubusercontent.com/5320639/104363496-1c4f0600-

[2021-01-12 19:57] meren commented on #1638
How long does it take for you to get this error on that other project, @dspeth? Are you able to share the contigs db with @ivagljiva privately so she can take a look and isolate the error?

[2021-01-12 20:02] meren commented on #1638
@dspeth, #1639 now solves this tangential point in the development branch and will be in `v7.1` unless you change your mind and switch to the development branch :)

[2021-01-12 20:15] dspeth commented on #1638
@meren, thanks!

I emailed iva the contigs db. As I mentioned buried somewhere above,. I generated this particular db from a public mag (GCA_003647425), but in a previous version of anvio. I'm guessing 6, but could even be 5.

[2021-01-12 20:19] dspeth commented on #1638
@meren the normal runtime for anvi-run-kegg-kofams is ballpark 2 minutes with these settings on our server, so i run into this  issue with this particular db before that time.
when running single threaded, the same happens

[2021-01-12 20:22] meren commented on #1638
Thank you very much for your help, @dspeth. The version of the contigs db should not affect anything. I'm sure we will discover a bug with our current codebase and fix it :)

[2021-01-13 00:03] ivagljiva commented on #1638
@dspeth, I managed to replicate your error on my system. Yay :)

It seems like only thread 0 is failing. So I took the portion of the sequences that thread 0 was working on, and ran the same `hmmsearch` command that it was running on that file (`AA_gene_sequences.fa.0`), outside of anvi'o. This is what I got:

![image](https://user-images.githubusercontent.com/10360586/104387724-52f24400-54fd-11eb

[2021-01-13 00:15] meren commented on #1638
@ivagljiva, what is the content of the `AA_gene_sequences.fa.0` looks like?

[2021-01-13 00:16] meren commented on #1638
There must be something weird with the sequences, and we probably want to be able to catch that way earlier, perhaps all the way at the `anvi-gen-contigs-database` stage.

If it is not too big, can you please make this contigs db available in this issue?

[2021-01-13 01:22] meren commented on #1638
As I was suspecting, the contigs.db contains multiple genes over 10K nucleotides. I wonder if the new version of HMMER has a problem with that :/

[code]

|gene_callers_id|stop - start|
|:--|:--:|
|29|**11448**|
|39|7416|
|95|7761|
|224|5490|
|368|**10230**|
|483|9912|
|723|7011|
|783|5556|
|868|7194|
|870|6165|
|969|5631|
|1148|5448|
|1245|5160|
|1542|5571|
|1555|5811|
|1693|5553|
|1814|6087|
|20

[2021-01-13 01:43] meren commented on #1638
Here is what I did:

[code]

External gene calls parsed fine:

[code]

This run with no problem, which uses `hmmscan`:

[code]

This gave me the following error, which uses `hmmsearch`:

[code]

Indeed, this is the gene sequence:

[code]

If I move the FASTA file with this gene into my work directory,

[code]

and run this command (which is exactly what anvi'o runs here), I can confirm that it pro

[2021-01-13 01:57] meren commented on #1638
My HMMER version was this:

[code]

I downgraded it to `3.2.1`:

[code]

So the same output looked like this:

[code]

Then running the same command worked:

[code]

[2021-01-13 01:57] meren commented on #1638
# TL;DR

The solution:

[code]

[2021-01-13 02:25] ivagljiva commented on #1638
That was some brilliant sleuthing, @meren :)

[2021-01-13 02:28] dspeth commented on #1638
thanks @meren and @ivagljiva!

did you still want the contigs db for the anvi-run-hmm issue to see whether there is an upstream problem in anvio or in the data? I have since figured out which one that is

[2021-01-13 02:31] meren commented on #1638
If you downgrade you HMMER, I suspect that error will be resolved, too, @dspeth. If it doesn't, please send me the contigs.db via e-mail and I will look into it as a separate issue :)

[2021-01-13 02:34] dspeth commented on #1638
@meren, that's fair. will check after sorting out hmmer

But it still seems a little sketchy for anvio to go on and predict 100k genes for some reason. Let me crosscheck with standalone prodigal and see what happens

[2021-01-13 02:53] meren commented on #1638
I completely agree. I think there should be an error during the generation of a contigs database where the user can overwrite with a flag like `--skip-check-gene-length`.

Thank you very much for your help with these, @dspeth. Looking forward to hearing how your investigation goes with the standalone prodigal.

[2021-01-13 03:35] dspeth commented on #1638
the issue was with this GTDB entry (https://gtdb.ecogenomic.org/genomes?gid=GCA_003029985.1), which turns out to be 136 contigs irresponsibly joined by Ns into a single scaffold.

running standalone prodigal gives >9000 lines of just X residues across the genome

running prodigal with the `-m` flag solves that issue almost completely and results in only 4 lines in the entire proteome file with 1 o

[2021-01-13 04:06] meren commented on #1638
This sounds like a good idea to me and it is easy to change (search for prodigal in https://github.com/merenlab/anvio/blob/master/anvio/threadingops.py). But since it is such an important change (that will influence people's pangenomes and everything downstream), I feel like this would need a decision with a broader participation. A new issue would be most appropriate, I think. I will open an issu

[2021-01-13 05:10] dspeth commented on #1638
Glad we figured it out @meren. I agree those two characters represent a sizeable change, so I'll let you figure out how to best get community participation ;-)

a default `-m` has my vote

[2021-01-13 17:00] meren opened #1641 "A proposal to use `prodigal` in anvi'o with the `-m` flag by default"
# Background

Anvi'o uses prodigal as the default gene caller. While we are aware of the many limitations of using a single gene caller especially for metagenomic assemblies that may include contigs that are coming from different lineages of life with different genetic code, this is the best we can do for now.

As of today, and in `v7`, `prodigal` is run by anvi'o with the default parameters of,

[2021-01-13 17:04] meren commented on #1638
Hey @dspeth, here is the issue asking input for this change: #1641.

[2021-01-13 18:00] sjaenick commented on #1638
Is this fixed for hmmer 3.3.2? If not, please report at https://github.com/EddyRivasLab/hmmer

[2021-01-13 18:04] meren commented on #1638
@sjaenick, there is no conda package for `v3.3.2` so I couldn't test it.

[2021-01-13 18:07] ekiefl commented on #1641
@FlorianTrigodet, you have done a lot of tests on the quality of prodigal's gene calling. Are any of those findings relevant to this discussion?

I was curious how often do we see an `N` in genes. As a completely non-exhaustive exercise, I calculated the number of genes in some 20 contigs databases I had on hand and found the following:

[code]

Basically, a minimal number of amino acid sequences

[2021-01-13 18:35] meren commented on #1641
@ekiefl, @FlorianTrigodet, @dspeth, I am also curious what does 'runs of `N`' exactly mean in prodigal lingo. I don't think prodigal will ignores when it is in `-m` mode _any_ gene call with one or two ambiguous bases (since it says "runs of `N` rather than any occurrence, but perhaps I'm reading too much into it). But if that is the case, it may be important for us to know the number of `N`s that

[2021-01-13 19:29] FlorianTrigodet commented on #1641
I have tested the "metagenomics" vs "single" mode of Prodigal on MAGs. Right now anvi'o uses the meta mode on the contigs (which make sense), but we could consider re-running prodigal in single-genome mode once we have a collection of MAG (on average it generates more and smaller genes-call). But I haven't looked into `N` in genes.

I agree that we should have the `-m` argument by default in anvi'

[2021-01-13 19:30] meren commented on #1641
Well, looking through the prodigal code was not so much fun, so I wrote this Python program that generates versions of the same template sequence with different number of `N`s:

[code]

Running it gave me the `genes.fa` that contained 500 sequences that has 0 to 499 `N`s. I run it like this:

[code]

And I got all the sequences properly identified:

[code]

When I run it this way, without `-m`, ho

[2021-01-13 21:10] dspeth commented on #1641
@meren, I did see some proteins with X residues in the GTDB genome that started this discussion, even when running with `-m` suggesting it doesn't consider 3 Ns a "run of Ns". In your test, what's the largest number of Xs added to the protein aa sequence when running prodigal with `-m`?

[2021-01-13 21:11] PatoUru commented on #1525
**Hi Meren!
I think I have the same error with the anvi-setup-ncbi-cogs command (ANVIO V7):**

Config Error: Something went wrong while decompressing the downloaded file :/ It is likely
              that the download failed and only part of the file was downloaded. If you would
              like to try again, please run the setup command with the flag `--reset`. Here is
              what the do

[2021-01-13 21:15] meren commented on #1641
17, in this one with 48 `N`s:

[code]

After 48, there is not a single `X` for downstream sequences, and all of them are identical to this, where the beginning of the sequence is truncated and aligns to the original sequence the way shown in my previous message:

[code]

[2021-01-13 21:21] dspeth commented on #1641
that checks out. I don't know any flavour of C, but did some trawling through the prodigal codebase:

the variable `MASK_SIZE` defined here seems to be the key:
https://github.com/hyattpd/Prodigal/blob/GoogleImport/sequence.h

and lines 73 and 184 of this file is where the magic happens:
https://github.com/hyattpd/Prodigal/blob/GoogleImport/sequence.c

[2021-01-13 21:43] meren commented on #1641
That is correct, @dspeth. `-m` turns on `do_mask`, so the code enters that section.

[2021-01-13 21:51] meren commented on #1525
Sorry to hear, @PatoUru. What is your operating system? How did you install anvi'o?

[2021-01-13 22:19] PatoUru commented on #1525
The operating system is Ubuntu 20.04 and I followed this link https://merenlab.org/2016/06/26/installation-v2/
(2) Setup an anvi’o environment
    **--> Slower but reliable option**
(3) Install anvi’o
(4) Check your installation

Maybe I could install it again and see what happens?

[2021-01-13 22:38] meren commented on #1525
It is very annoying because I can't see any reason why this might be happening :(

I haven't heard this problem from anyone else although it is tested on many systems by now. I am sorry I am not very useful here.

[2021-01-14 00:46] meren commented on #1641
(I have to admit that in these kinds of threads I always expect @xvazquezc to come and tell us something we didn't think of 😂 (so I am patiently waiting)).

[2021-01-14 23:49] xvazquezc commented on #1641
haha thanks @meren
Unfortunately, the only thing I can say is that `-m` appears to be a deprecated option _similar_ to `-e 1` (_Genes cannot run into gaps._). See https://github.com/hyattpd/prodigal/wiki/cheat-sheet
No idea if the output and/or behaviour is exactly the same though.

Certainly, allowing 50 Ns seems absurd unless the genome is derived from a reference-based assembly (gapped length i

[2021-01-15 00:20] dspeth opened #1642 "[FEATURE] Replace this text with a concise description of the feature"
## The need

thanks for `anvi-estimate-metabolism` @ivagljiva! I really enjoy how well it works with `anvi-compute-enriched-functions`. My suggestion (and i know I wasn't the first ;-) ) to make it even better is to add a criterion for presence of a kegg module in a MAG/SAG/genomem in addition to module completion as currently implemented.

## The solution

I'd suggest adding the metaPOAP presence

[2021-01-15 00:26] dspeth commented on #1641
@xvazquezc I browsed that documentation as well, in search for the meaning of `-m` hoping I wouldn't have to trawl the code :P The doc page is older than the latest release of prodigal (08/2014 vs 02/2016) and the `-m` flag comes  from the sparse help of release 2.6.3.

My takeaway was that `-m` got de-deprecated

With `-m` 50 N nucleotides are still allowed
without any number goes

[2021-01-15 04:49] xvazquezc commented on #1641
You are totally right. I wouldn't be surprised that the docs were based on the v3 which was planned for years but that will never be released.

My guess is that this situation will mainly happen with external genomes. Another way to deal with it to avoid having to modify Prodigal specifically could be to make anvi'o split the contigs with trails of Ns during the importing, and/or, maybe even bette

[2021-01-15 12:46] sarah872 opened #1643 "Installation of anvio 7 - Error building wheel"
## Short description of the problem

I cannot install anvio 7 due to an error when installing psutil, pysam & python-levenshtein through pip.

## System info

System Version: macOS 11.1 (20C69)
Kernel Version: Darwin 20.2.0

## Detailed description of the issue

I tried the following steps (as they are in the Installation help page):
[code]
Here, the wheels for the packages `pysam`, `psutil`& `pyt

[2021-01-15 15:42] mschecht commented on #1643
Hi @sarah872, I'm sorry you are having issues with your installation. Thank you very much for attaching the complete log file :)

Your conda env is linked to an older c-compiler on your mac: `x86_64-apple-darwin13.4.0-clang`. I would recommend linking your conda env to the newest version available for mac called `x86_64-apple-darwin20.2.0`. I addressed a similar error in a separate issue #1636.

P

[2021-01-15 19:03] meren commented on #1641
Thanks for all the input! :)

This scares me since it may create some downstream headaches. When we split contigs into smaller ones based on trail of Ns, we will have to give new and unique names to each piece, which will not match to the input sequence deflines :/

I think this is something we need certainly and I will try to implement this in `anvi-script-reformat-fasta`.

Meanwhile, AFAICS, the

[2021-01-16 11:12] sarah872 commented on #1643
Thanks for pointing out the old `clang` version.
The `sudo rm -rf /Library/Developer/CommandLineTools && xcode-select --install` unfortunately did not help, as pip still used the old `clang` to compile. However, I managed after
1. deleting all other anvio-related conda environments (anvio-6.2, anvio-6.3, anvio-master)
2. removing the github copy of `anvio-master` (mine was in `~/github/anvio`)
3.

[2021-01-16 11:12] #1643 closed

[2021-01-18 17:54] meren opened #1644 "[BUG] killing anvi-run-kegg-kofams prematurely leads to "this contigs database has already been annotated" error when re-running anvi-run-kegg-kofams"
Anvi'o should update the `self` table as the very last step of running KOfams and only after a successful completion of the run.

[2021-01-20 22:00] VMJarocki opened #1646 "Error: mdb_env_open: Cannot allocate memory"
## Short description of the problem

Recieve "Error: mdb_env_open: Cannot allocate memory" when attempting to run anvi-setup-ncbi-cogs

## anvi'o version

Replace this text with the output of this command:

v7

## System info

Linux, conda

## Detailed description of the issue

$ anvi-setup-ncbi-cogs

WARNING
===============================================
This program will first check whether you

[2021-01-21 16:24] meren commented on #1646
Try running this before running the `anvi-setup-ncbi-cogs`:

[code]

[2021-01-21 16:24] #1646 closed

[2021-01-21 21:07] VMJarocki commented on #1646
Thanks, worked a treat 👍

[2021-01-22 11:55] Sirbius opened #1647 "Issue with new anvi-setup-ncbi-cogs"
## anvi-setup-ncbi-cogs gets stuck

Hi guys, it's me again.
I'm trying to use the new awesome COG20 but got problem with anvi-setup-ncbi-cogs. Since I had problems with the automathic download, I downloaded with wget the files from [NCBI COG database](ftp://ftp.ncbi.nih.gov/pub/COG/COG2020/data), selected the folder with --cog-data-dir but it get stuck at the BLAST search db, giving back the promp

[2021-01-22 17:50] ivagljiva commented on #1647
Hey @Sirbius, let's see if we can figure out your problem :) It looks like the setup script was able to find the raw files you downloaded, which is great.

Can you possibly run this command again with the `--debug` flag and let me know what you see in the output?
Also, after this program gives back the prompt, if you look in `share/Groups/Pathology/COG-DATA-DIR/COG20/DB_BLAST/COG/`, do you see sev

[2021-01-22 18:04] ivagljiva commented on #1647
(Also @Sirbius - if you don't mind saying, what sort of issues are you having with the automatic download? If it is not a server-specific problem, we may be able to solve it)

[2021-01-22 19:27] Sirbius commented on #1647
Hi @ivagljiva, thank you for your reply.
I have to say, I only need to download automatically only the fa.gz file, there is no problem with the others and they are automatically downloaded in the proper folder, inside RAW_DATA_FROM_NCBI.
This is the output with the --debug option, but I guess it's not so informative..
`:: anvi'o v7 ::  /home/silviat/Pathology >>> anvi-setup-ncbi-cogs --cog-version

[2021-01-22 19:38] meren opened #1648 "[BUG] Anvi'o states are not flexible enough"
## The need

A user defined minimal state should work well when imported, even if it does not describe the entire visual interface exhaustively.

## The solution

The interactive interface should take in a state file with a grain of salt. If a piece of information exists in it, it should use it. But if something is missing, it shouldn't give an error and use the defaults instead.

# Example

The a

[2021-01-22 19:45] meren commented on #1647
I think the best solution here is to delete everything under COG via

[code]

(while making extra sure there is no space between `*` and `/`)

And try again. The original file seems to be broken.

[2021-01-22 19:46] lvelosuarez commented on #1647
Hi everyone,
I have the very same problem. I've been trying to run anvi-setup-ncbi cogs for 2 days now with more or less the same outputs than Sirbius...  I also tried to download the cog database myself with same results.
![Screen Shot 2021-01-22 at 20 46 17](https://user-images.githubusercontent.com/29945064/105537875-e17f7600-5cf2-11eb-860d-a9b66bf923f6.png)

[2021-01-22 19:53] lvelosuarez commented on #1647
Sorry to bother... I rerun several times and at the end it worked... I don't know why it did not work yesterday and it worked today to be honest

[2021-01-22 19:56] meren commented on #1647
Sorry to hear, @lvelosuarez, but I'm glad it worked eventually :/ Because we insist on using upstream data rather than storing it in our distribution, server connectivity issues between you and the upstream sometimes results in incomplete downloads, and anvi'o doesn't realize it's been a very long time and should simply try again from scratch.

Random developer Idea: It would've been excellent to

[2021-01-23 11:39] Sirbius commented on #1647
Ok, I've been trying to delete and re-run anvi-setup-ncbi-cogs and I always get this error:
[code]
I also think that sometimes it just randomly works. I'll try again from the office with a better network connection, otherwise I'll just stick to COG14 :(

[2021-01-24 17:04] Sirbius commented on #1647
Hi guys,
Just FYI. After today random run, I found the BLAST_DB/ and DIAMOND_DB/ inside the COG20/ and could read the log.txt (same as --debug option I guess).
[code]
Since the script stops when creating the database, I thought I could just build up everything on my own by downloading the files and then create the db with the below commands, which perfectly worked. Could you tell me what else the

[2021-01-24 17:36] meren commented on #1647
So how is this happening again? This should never happen:

[code]

Both `COG14` and `COG20` should be underneath the directory `COG-DATA-DIR/`. Perhaps there is a problem with user-specified directories :/ I will look into this now.

The script runs a lot of other things to ensure integrity between files. It is not possible to do it manually :(

[2021-01-24 18:12] meren commented on #1647
Nope. It's not about that either. I was able to setup both versions of COG without any problem in separate directories underneath a user-defined path:

[code]

[2021-01-25 15:38] meren opened #1650 "[FEATURE] Grids AND Shades"
The current default behavior in the interactive interface is to either mark selections with a colored area, or grids. The latter is turned on via the "Show grids" checkbox and automatically turns off the colored area:

![image](https://user-images.githubusercontent.com/197307/105727462-b9f5fc80-5ef0-11eb-9c40-77f1e9671511.png)

It would be much better to have "Show shades" as an additional option,

[2021-01-26 15:45] efogarty11 opened #1651 "[BUG] anvi-display-functions only returns key error"
## Short description of the problem

No matter what inputs I give to `anvi-display-functions` it returns a key error.

## anvi'o version

anvio dev (on midway).

## Detailed description of the issue

I tried to run `anvi-display-functions`, but no matter what version of the command I ran I got the same key error.

Here are all the commands that I tried out:
[code]

They all give this error:
[code]

[2021-01-26 22:57] efogarty11 commented on #1651
Note: This turned out to be a problem with my env so I'm closing this.

[2021-01-26 22:57] #1651 closed

[2021-01-26 23:06] efogarty11 opened #1652 "[FEATURE] add legend to anvio displays with intensity setting"
## The need

It'd be nice to have an accompanying legend when exporting svgs of anvi'o figures that have used the intensity setting.

For example, here's a figure I'm looking at:
![image](https://user-images.githubusercontent.com/38365171/105917726-6078f500-5ff8-11eb-8fdb-10b2506962a7.png)

But if I export it as an SVG to make into a figure, I don't have an accompanying legend to show that detecti

[2021-01-26 23:07] meren commented on #1652
I agree this is a need  :/

[2021-01-27 01:42] meren opened #1653 "Why can't anvi'o be nice: A feature request"
## The need

SO I AM FINALLY TOO TIRED OF TYPING `-p PROFILE.db -c CONTIGS.db` EVERY TIME I WANT ANVI'O TO DO SOMETHING STUPID. JUST FIGURE IT OUT. MAKE IT HAPPEN. LET ME GET AWAY BY TYPING `anvi-interactive` OR `anvi-display-pan`. WHAT IS THE BIG DEAL EH? WHY CAN'T YOU BE NICE YOU STUPID CALCULATOR :(

## The solution

Well. Our beloved anvi'o knows all of its databases, their types, and the netw

[2021-01-27 02:19] ivagljiva commented on #1653
😂

seriously, though, this will be next-level stuff. pretty soon anvi'o will be reading everyone's minds and taking over the world

[2021-01-27 23:37] ivagljiva opened #1654 "[BUG] anvi-estimate-functional-enrichment does not work with metagenome mode modules output"
## Short description of the problem

If you run `anvi-estimate-metabolism --metagenome-mode` and then use the modules mode output for `anvi-estimate-functional-enrichment`, the enrichment script is sad and dies. This is due to a non-unique index.

## anvi'o version

Replace this text with the output of this command:

[code]
(but also applies to `v7`)

## Detailed description of the issue

Here is

[2021-01-28 05:20] ivagljiva commented on #1654
[Done](https://github.com/merenlab/anvio/pull/1655). BOOM 💥

[2021-01-28 05:20] #1654 closed

[2021-01-28 14:11] tpriest0 opened #1656 "anvi-estimate-metabolism failing with AttributeError even when using pandas 0.25"
First of all thank you for another awesome Anvi'o release!

Unfortunately I have come across a problem with 'anvi-estimate-metabolism' when using multiple bins in a collection via the '-i' option.

The script failed with an 'AttributeError: 'MultiIndex' object has no attribute 'labels'.

I noticed that there was a bug already identified but apparently only for later pandas releases. I am experienc

[2021-01-28 16:38] ivagljiva commented on #1656
Hey @tpriest0, I am sorry that this continues to be an issue for you. The script is working on my end with multiple bins in a collection (I tested the same command you used, but with my own collection of 6 bins), so I am not sure why it is not working in your case.

I know you are on pandas 0.25.1, but just in case this is a weird environment conflict could you please try to set this version expli

[2021-01-28 18:41] meren commented on #1654
🎊

[2021-01-29 00:23] meren commented on #1641
This is now in the main branch. Thank you all very much!

[2021-01-29 00:23] #1641 closed

[2021-01-29 10:36] tpriest0 commented on #1656
That seems to have solved the problem thank you! When I ran this command, it stated it was uninstalling pandas 1.1.1 that was already installed, despite the listed version of pandas being 0.25.1

Thanks for your help!

[2021-01-29 17:24] ivagljiva commented on #1656
Yay :)

[2021-01-29 17:24] #1656 closed

[2021-01-29 18:00] ivagljiva opened #1658 "[BUG] `anvi-estimate-metabolism --matrix-format` produces incorrect output for metagenome input"
## Short description of the problem

Metagenome mode estimates metabolism within each contig separately, but the --matrix-format output is aggregating the estimation results for each contig and reporting them for the metagenome as a whole. Which is very wrong. So I am very sad.

## anvi'o version

`v7` and `v7-dev`

## Detailed description of the issue

You can run `anvi-estimate-metabolism --matr

[2021-01-30 23:45] ivagljiva commented on #1658
Solved in #1659

[2021-01-30 23:45] #1658 closed

[2021-02-01 19:13] ISonets opened #1661 "[BUG] anvi-gen-contigs-database:errors with importing AUGUSTUS v.3.4.0 external gene calls"
## Short description of the problem

1 major problem when dealing with AUGUSTUS gene calls(more details below)

## anvi'o version
[code]

## System info
The system is Ubuntu 16.04 LTS running on server.

## Detailed description of the issue
Greetings! I am trying to use anvi'o for my *Dekkera bruxellensis* pangenomics project. I need to create **contigs-db**, and to do so, I made gene predictions

[2021-02-01 19:56] meren commented on #1661
Are you sure you used `anvi-script-augustus-output-to-external-gene-calls`?

[2021-02-01 20:34] ISonets commented on #1661
Yes, I used this script to obtain TXT file from GFF3 output.

[2021-02-01 22:20] meren commented on #1661
Yes, this was due to a legitimate bug in the `dbops` module. It is now fixed in the main branch.

If you are following the active repository, you can run `git pull` and everything should work for your data.

Thanks for the test case.

[2021-02-01 22:20] #1661 closed

[2021-02-01 22:25] meren commented on #1661
(if you want to try this solution, you will also need to re-run `anvi-script-augustus-output-to-external-gene-calls` before re-running `anvi-gen-contigs-database`).

[2021-02-01 22:42] ISonets commented on #1661
Thanks a lot! I will try to rerun my analysis ASAP.

[2021-02-02 21:25] #1644 closed

[2021-02-03 17:38] ISonets commented on #1661
So, I confirm: scripts and **contigs-db** generation works as it should be!
BUT there is 1 important note about ``` anvi-script-augustus-output-to-external-gene-calls``` (at least in v.3.4.0). After working, script provides some descriptive data in **aa_sequence** column for each gene call hit (example on screen shot):
![Screenshot from 2021-02-03 20-26-36](https://user-images.githubusercontent.co

[2021-02-03 17:51] meren commented on #1661
@ISonets, I thought I fixed it in `anvi-script-augustus-output-to-external-gene-calls` via 82c672081565741d6cb6013c80255ee04bbdbb06 yesterday. Now I'm wondering if it wasn't comprehensive enough. Are you using the same file you sent me in `issues.zip` when you observe those additional information added to AA seuqences?

[2021-02-03 17:54] meren commented on #1661
Running this command on files you sent me yesterday,

[code]

Results in [this file](https://github.com/merenlab/anvio/files/5920482/ext.txt.zip) which doesn't have those excess text after AA sequences.

[2021-02-03 18:03] ISonets commented on #1661
Oops, some misunderstanding. I sent you edited files(but didn't mention it, I am very sorry for this). Process was:
1. run AUGUSTUS => .gff file
2. .gff to .txt using ```augustus-output-to-external-gene-calls``` script => file with this additional info
3. removing this info using sed command I wrote => .txt file suitable for contigs-db generation
3. trying to generate contigs-db => lots of errors

[2021-02-03 18:08] meren commented on #1661
@ISonets, can you please send me the GFF file you get from the very first step?

[2021-02-03 18:27] ISonets commented on #1661
Hmm, I think this is not your fault.  I checked your commit about augustus (82c7620), and I don't have these changes. I have an explanation:
I use anvi'o on server using SSH, and I don't have root on this server. So I'm unable to clone .git because libcurl3 wasn't installed (and I'm unable to install it). Instead I manualy edited dbops.py and augustus script as described in your 2 commtis describi

[2021-02-03 18:50] meren commented on #1661
I see. Then you should be able to copy the program `anvi-script-augustus-output-to-external-gene-calls` from the main repository into your home directory, like this,

[code]

and run it the following way:

[code]

[2021-02-07 18:20] meren opened #1664 "[FEATURE] Text option for 'layers'"
## The need

While we can display categorical data as either colors or text for a given layer through the 'Main' panel, we can only show them as colors for a given layer we access through the 'Layers' panel:

![image](https://user-images.githubusercontent.com/197307/107155546-9f834080-693e-11eb-86fc-362b5ada3455.png)

## The solution

Adding an option for those layers similar to the ones adjusted

[2021-02-09 11:42] phiweger opened #1665 "[FEATURE] Phylogenomics tutorial is outdated"
## The need

The [phylogenomics tutorial](https://merenlab.org/2017/06/07/phylogenomics/) uses the now deprecated Campbell et al. collection.

## The solution

Integrate the latest collections:

## Beneficiaries

Me, bc/ I am a noob and don't quite know what to replace the `Campbell_et_al` with :)

[code]

Thanks a lot!

[2021-02-09 13:48] bentpetersendk opened #1666 "'anvi-profile' was killed but profile.db is still written"
I recently found this issue 'https://github.com/merenlab/anvio/issues/632' which is still valid, but for other reasons.

For some reason 4 of my anvi-profile runs were killed:
"* Anvi'o profiler received SIGINT, terminating all processes..."

The problem is just that the rest of the process continued and I ended with a logfile saying "Happy", which it should not be ;-)

All profile.db were created

[2021-02-09 23:14] GodloveD opened #1667 "[BUG] --help can't encode ascii chars"
## Short description of the problem

Many, most, or all commands will not display --help and fail with errors like the following:
[code]

## anvi'o version

[code]

## System info

Problem within Ubuntu 18 container, CentOS 7 container, and CentOS 7 bare metal all installed within conda environments.

## Detailed description of the issue

Here are a few examples:
[code]

[2021-02-09 23:17] GodloveD opened #1668 "[BUG] can't find anvi-script-FASTA-to-contigs-db"
## Short description of the problem

The documentation [here](https://merenlab.org/2017/06/07/phylogenomics/) suggests there should be a wrapper script called `anvi-script-FASTA-to-contigs-db`.  I've searched this repo and the conda environment and cannot find either the script or the string within any files.

## anvi'o version

[code]

[2021-02-09 23:20] meren commented on #1667
Hi @GodloveD,

This is due to the fact that your terminal settings / locale does not support UTF8. Here is an example:

[code]

[code]

In contrast,

[code]

[code]

I hope this is something you can solve by setting your locale to support UTF-8.

Best,

[2021-02-09 23:20] #1667 closed

[2021-02-09 23:45] meren commented on #1668
Thank you very much for pointing this out, @GodloveD!

We got rid of that script recently and clearly forgot to update the documentation :) I have now fixed it.

(I realized there are other parts that also need to be updated there, so I will take care of them, too).

Best,

[2021-02-09 23:45] #1668 closed

[2021-02-10 01:10] meren commented on #1665
This is now done as I updated multiple things in the document via https://github.com/merenlab/web/commit/e88714259ff65c510073aba97ef2d2029da7f4e2 :) Thank you, @phiweger!

[2021-02-10 01:10] #1665 closed

[2021-02-10 10:39] phiweger commented on #1665
awesome speed thx @meren !

[2021-02-10 15:20] pavlo888 opened #1669 "Failed installation of version 7 on Ubuntu 20.04"
## Short description of the problem

I cannot successfully install anvio-7 in a Ubuntu 20.04 environment. I have tried installing it using the yml file and creating a conda environment. However, when I try to check the version of the installation I get an error.

## anvi'o version

[code]
Any idea what could be wrong?

[2021-02-10 15:47] GodloveD commented on #1667
Very helpful.  Thank you.

[2021-02-10 15:47] GodloveD commented on #1668
Thank you for verifying that this script no longer exists.  😸

[2021-02-11 20:28] ekiefl opened #1670 "A complete redesign of HMMs is needed"
As the number of ways and manners in which anvi'o interacts with HMMs has grown and grown, the quality of our HMM code has begun to deteriorate. Here, I have compiled a list of problems that I have identified.

## **Parsing is shared between both the driver and the parser.**

`HMMer` from `anvio.drivers.hmmer.py` is a multi-threaded driver for `HMMer` which concatenates output files from individua

[2021-02-12 17:27] juliette-thieb opened #1671 "anvi-setup-ncbi-cogs issue"
Hello everyone,

I am trying to annotate genes on a hundred genome/contigs databases files by running cogs but I have a UnicodeDecodeError problem with the anvi-setup-ncbi-cogs command, I first got this message:

[code]

Then, I tried anvi-setup-ncbi-cogs --reset and still got the same issue with this message:

[code]

I don't know how to solve this, does anyone had this issue ? Thank you.

## Sys

[2021-02-12 22:49] meren commented on #1671
Hi @juliette-thieb,

How did you install anvi'o?

[2021-02-12 22:52] meren commented on #1666
Thank you, @bentpetersendk.

I guess the best way to do it will be a db integrity check at the end of `anvi-profile`, right before 'Happy' :)

Best,

[2021-02-13 17:29] meren opened #1673 "A new design for self table of anvi'o databases to retain their history"
I wanted to mention this as a potential future design effort. I will use the contigs database as an example, but it is applicable to any anvi'o database.

## The problem

The codebase includes many classes that operate on db artifacts and update these artifacts with new data. For instance, when you run `anvi-run-kegg-kofams` you get your KOfams that influence the results of `anvi-estimate-metaboli

[2021-02-14 17:53] juliette-thieb commented on #1671
Hi @meren,
I installed it with conda (version conda 4.9.2) and followed the "slower and more reliable option" of the installation page

[2021-02-14 18:28] meren commented on #1671
Hi @juliette-thieb, if you try to re-run the same command with `--reset` flag, do you get the same error?

[2021-02-14 20:20] juliette-thieb commented on #1671
Yes I did and still got the same error, I also tried with the just-do-it flag

[2021-02-15 02:04] brookeweigel opened #1674 "[BUG] "anvi-dereplicate-genomes" defaulting to the "centrality" --representative-method instead of the Qscore method"
## Short description of the problem

I'm having an issue with "anvi-dereplicate-genomes" defaulting to the "centrality" --representative-method instead of the Qscore method when using pyANI, even through the bins associated with my internal genomes file clearly have good completion and redundancy scores associated with them.

## anvi'o version 7
[code]

Anvi'o .....................................

[2021-02-15 08:52] juliette-thieb commented on #1671
I retried this morning at the lab with the command anvi-setup-ncbi-cogs --reset and got a new error message (I was at home with poor internet connection the previous times, I'm not sure it had an impact though):

[code]

[2021-02-15 16:29] mschecht opened #1675 "[FEATURE] add flag to `anvi-run-hmms` to export raw output of `hmmscan`"
## The need

`anvi-run-hmms` only provides the best hit based on e-value. It would be great if the user could have access to the raw `hmmscan` output files to look at other sequences that aligned to the hmm models provided by anvio.

## The solution

I think a solution to this problem would be to add a parameter to `anvi-run-hmms` which allows the user to provide a path to a directory to put the r

[2021-02-15 21:01] ekiefl commented on #1673
I like this. Certainly this would be very useful for users (`anvi-db-info`) and for programmers (with the `store_configuration` and `read_configuration` API).

However, in my opinion this not necessarily storing a databases _history_, but rather storing its current state. For example if someone ran KOfams again on this database, it would overwrite these rows with the updated information.

I'm bein

[2021-02-15 21:36] meren commented on #1673
Yes, indeed. I meant the state (but couldn't say it since state is so so associated with the interactive interface) :)

[2021-02-16 11:41] jscheffing opened #1677 "can't open interactive interface"
## Short description of the problem

Hello Anvi'o-Team!
I'm familiarizing with Anvi'o and some other programs for a new metagenomics project I started this month. This is all very new for me so please be patient if I don't understand things right from the beginning :)

I downloaded and installed anvi'o v7 as described on this website: https://merenlab.org/2016/06/26/installation-v2/#running-the-mi

[2021-02-16 14:19] meren commented on #1677
Which operating system are you using? And how did you install anvio
exactly? Did you install it on your own computer or a remote server?
Finally, if you go to http://localhost:8080 when server is running, does it
work in that case?

Best,

On Tue, Feb 16, 2021, 5:41 AM jscheffing <notifications@github.com> wrote:

[2021-02-16 15:34] jscheffing commented on #1677
I used the Ubuntu App from the Microsoft Store for the installation. Because all the data is on our lab server, I have to work with a ssh tunnel to connect to our server.
And no, it doesn't work, even if the server is running. Every time i run the self-test, anvi'o says that the server is running with the given http-address, but I can't connect anyway.

Best wishes,
Jutta

[2021-02-16 15:38] meren commented on #1677
@jscheffing, I understand that you are running anvi'o on a remote server and trying to open an interactive interface on your local computer. The local link anvi'o gives you will certainly not work in that case unless you set your connection up to be able to do that with proper forwarding of information.

Please take a look at this:

https://merenlab.org/2015/11/28/visualizing-from-a-server/

Or th