[2018-11-22 00:46] meren commented on #1033
I know that error, Xabi. I caused that error, but fixed it after an hour or so, you shouldn't get it if you have an up-to-date master :/

We can add a flag to `anvi-import-misc-data`, something like, `--import-only-if-relevant`, which would only import the part of the input data that matches to the items in the target database. Would it help?

[2018-11-22 00:51] xvazquezc commented on #1033
I reinstalled from `master` less than 1 h ago :/

Yeah, that should do

[2018-11-22 00:56] meren commented on #1033
What is the output when you run this:

[code]

[2018-11-22 00:57] xvazquezc commented on #1033
[code]

[2018-11-22 01:01] meren commented on #1033
Well :( Then I have absolutely 0 idea where is that error coming from :(

[2018-11-22 01:05] xvazquezc commented on #1033
I'll try. Otherwise, I'll clear all dependencies and redo the virtual environment.

[2018-11-22 01:39] meren commented on #1033
Woohooo :)

[2018-11-22 02:59] xvazquezc commented on #1033
Hey @meren , is it possible to do clustering on the additional layers? So that would make easier to find groups of prots expressed differently in the diff treatments

[2018-11-22 12:34] meren commented on #1033
Indeed. There is already a not-so-elegant way to do it:

* Export additional layers of interest as a matrix.
* Use `anvi-matrix-to-newick` to create a tree of items (it may require you to do it with the `--transpose` flag).
* Use the tree with `anvi-interactive` with the `--tree` parameter, and select it from the combo in the interface (we can also implement a new program, i.e., `anvi-import-items

[2018-11-22 13:44] meren commented on #1021
Hi Srinidhi,

I understand the time limitations. As an alternative solution, I converted your Python file to an anvi'o script (added some controls and streamlined the code a bit while at it).

Please see the source code here:

https://gist.github.com/meren/47fae137e5d74922ea8853d1930b06dd

This file is ready to go into the anvi'o codebase next to [all the other scripts](https://github.com/merenlab

[2018-11-22 22:59] ShaiberAlon opened #1045 "Add bootstrap values to tree branches in anvi'o interactive interface"
I know this has been raised before by @tdelmont, and I think it justifies an issue.
@ozcan, I don't know how complicated this would be for you, but I'm quite certain that this would be a popular enhancement of the interface (especially now that there are options to reroot the the trees, I feel like adding bootstrap values is the last missing piece). If this will be done, I will definitely use it f

[2018-11-22 23:20] meren commented on #1045
If I am not mistaken, @ozcan has already made all the necessary changes for the interactive interface to be able to work with trees that contain bootstrap values. the problem is to display them in a meaningful way :/

[2018-11-22 23:33] xvazquezc commented on #1033
Yeah, I saw it. Thanks @meren !!

I'm getting into this step right now. I'll let you know for sure :)

[2018-11-22 23:47] ozcan commented on #1045
Hi @ShaiberAlon,
Our parser already can parse trees with bootstrap values, we implemented that while ago but unfortunately we do not display bootstrap values anywhere besides mouse tab at the moment. I would like to sit and discuss this after the vacation if you have some ideas to display them.
Best,

[2018-11-23 00:05] xvazquezc commented on #1033
Nice :sunglasses:

You guys are amazing!

![screenshot from 2018-11-23 11-01-20](https://user-images.githubusercontent.com/14157565/48924732-7158e800-ef0f-11e8-8895-de94d5a33053.png)

[2018-11-23 01:06] meren commented on #1033
Awesome!!! Thank you for your patience :)

[2018-11-23 01:41] ShaiberAlon commented on #1045
That's great @ozcan !

I would love to discuss this, and I will think about it more. For now, I'll use this thread to collect my thoughts.

I saw this, and we could consider something like this for what seems to me like a simple approach:
https://web.njit.edu/~usman/courses/bnfo602_spring18/root.jpg

In my opinion we should consider two things separately:
 - How would people use this feature while

[2018-11-23 02:36] xvazquezc commented on #1045
A very common way is using shapes/colours on the nodes. They are a common approach that many tree viewers incorporate, e.g. https://media.nature.com/lw926/nature-assets/ismej/journal/v10/n10/images/ismej201643f2.jpg

I'd also suggest to take a look to the controls in iTOL for ideas. It probably has way more controls than needed for anvi'o, but it can be a good source of inspiration.

[2018-11-23 11:11] srinidhi202 commented on #1021
Hi @meren,
That was very nice of you to do that! :) Thanks, and  I  have created a pull request now.  :)

Best regards,

[2018-11-23 13:17] meren commented on #1021
Thank you very much, @srinidhi202!

[2018-11-24 01:01] ekiefl commented on #1021
Hi @srinidhi202,

I have a small request. I have used the new anvio script to generate an output that looks like this:

[code]

When I try and load this file with IGV, I get the following error:

Do you see what might be wrong here?

Thanks very much making your script available to us.

Cheers,
Evan

[2018-11-25 08:17] srinidhi202 commented on #1021
Hi @ekiefl,
The order in which I printed the genotype and depth columns seemed to be the problem. I have now changed that part and created a pull request. Please let me know if all goes well now :)

Best,

[2018-11-25 09:01] tdelmont opened #1048 "Taxonomy as last layer by default?"
Hi,

this is not a bug, but a requests:
would it be possible to set taxonomy as last layer by default?

During binning when >20 metagenomes are involved, taxonomy is barely visible when close to the inner tree (default). I personally drag it as last layer every time, which involves manual labor...

Note that even in the anvi'o tutorial for the infant gut we ask the user to put it as last layer. It

[2018-11-25 09:02] tdelmont commented on #1048
and yes, this means I am binning on a Sunday morning...

[2018-11-25 16:13] meren commented on #1048
Hey @ozcan,

Can we put the named layer 'taxonomy' as the most outer layer unless a specific organization is stored in the state file? I think this would make things simpler for lots of people :)

Thanks,

[2018-11-26 17:14] #1048 closed

[2018-11-26 17:37] tdelmont commented on #1048
Many thanks @ozcan !!!!

[2018-11-26 18:29] ekiefl commented on #1021
Hi @srinidhi202,

It looks like that fixed the error, however another has appeared.

This error is produced from IGV when trying to load this 'VCF':

[code]

To me it sounded like an issue with the number of samples, so I generated a new VCF from a variability table that contains only one sample. The resulting VCF correctly loaded into IGV. So it seems like currently the script only works for vari

[2018-11-26 22:36] ShaiberAlon commented on #926
Opening this issue because we need to set the output of the second reformatted fasta as temporary (as described in the original issue comment above).

[2018-11-27 08:31] evensannesriiser commented on #1021
Hi guys,

Using Srinidhis script alone (the original version supplied to anvi'o), and without any other tweaking, I was perfectly able to produce a .vcf file for an anvi'o output containing 19 different samples.

`python3 ./anvi_reformatting_v1.py --input NZ_LN794352_snvs.txt --output $SNV_VCF_OUT/NZ_LN794352.vcf`

See attachments for input and output files.

Even

[NZ_LN794352_snvs.txt](https://g

[2018-11-28 05:34] Monchun opened #1049 "Bugs in the parser for emapper 1.0.3 annotation files"
Hi @meren
Recently you have updated the emapper parser for version 1.0.3. I tried to use emapper parser to import functions into the contig database following your tutorial. However, there raised a config error. Then I looked into the code you added. I think there is a small issue in the parser 2.
According to your code, you want to parse
 """
            0          1                    2

[2018-11-28 20:50] meren commented on #1049
I see. So the requirement for `g` is missing from the parser 2. Can you confirm?

Sorry I'm confused a bit :) Long day.

[2018-11-29 01:58] Monchun commented on #1049
Sorry, I didn't make it clear. anvi-export-gene-calls gave me amino acid sequence with headers (>0, >1, >2, e.g.). So, feeding this aa file, Emapper gave me the annotation like
| query_name 	| seed_eggNOG_ortholog 	| seed_ortholog_evalue 	| seed_ortholog_score 	| predicted_gene_name 	|        GO_terms       	| KEGG_pathways 	| BiGG_Reactions 	| Annotation_tax_scope 	| OGs

[2018-11-29 13:30] #1049 closed

[2018-11-29 13:31] meren commented on #1049
hi @Monchun,

I just made sure both parsers learn the gene caller id the same way (they both expect it to have the prefix).

Can you please try with the current `master`?

Thank you,

[2018-11-30 18:31] ShaiberAlon opened #1050 "ValueError when using anvi-get-sequences-for-gene-clusters"
I get the following error:
[code]

I tried using the fix suggested here: https://github.com/merenlab/anvio/issues/1007#issuecomment-429600866

And it didn't work.

To reproduce this, you can do the following easy steps:

1. checkout the anvio branch `metapan-workflow`.
2. go to `your-copy-of-the-anvio-repository/anvio/tests/`
3. run: `bash run_pangenomics_workflow_tests.sh sandbox/test-output`

An

[2018-11-30 18:46] ShaiberAlon commented on #1050
@meren, here is the problem:

[code]

[2018-11-30 19:05] ShaiberAlon commented on #1050
This fixes it so that I can do `anvi-display-pan`

[code]

[2018-11-30 19:17] meren commented on #1050
Oh, yes. This is the fix. But it is concerning we still need it :( I thought @ozcan had fixed it. Are you sure this is a pangenome generate from current or future `master`?

[2018-11-30 19:18] ShaiberAlon commented on #1050
I am sure. but @ozcan fixed a similar bug for `layer_additional_data`, and here it is `item_additional_data`.

[2018-11-30 19:18] ShaiberAlon commented on #1050
layers and items are different things @meren.

[2018-11-30 19:19] ShaiberAlon commented on #1050
Maybe that's why another fix is in order.

[2018-11-30 19:34] meren commented on #1050
Aha. Sorry, I missed that.

I hoped the way it was fixed would have worked against all of these issues regardless of the table :)

[2018-12-01 19:35] meren opened #1051 "Performance bottleneck in anvi-profile"
Dear @ozcan and @ShaiberAlon,

I uploaded one of Alon's extremely slow profiling jobs to a server that has impeccable I/O speed,  and edited the profile progress bar in the anvi’o codebase (5f3e3775cede776f27445affe73faf568fc9aa1c) so we can better see which step takes the most amount of time.

I set the parameter `--write-buffer-size 1` to see every step per contig. Take a look at the gif below:

[2018-12-01 19:39] ozcan commented on #1051
Okay, I will look into parallelizing that part. But I am quite confused about how to read new progress bar? Would you mind explaining what does each part mean? When I see SCVs there does it mean computing scv is done for that batch? And when I see diskette it means it is writing results for that batch?

[2018-12-01 19:49] meren commented on #1051
Sorry. The last thing you see indicates the current process.

The floppy appears during disk write operation for split coverages (SNVs and SCVs are doing their own disk write operations).

[2018-12-02 03:36] meren commented on #1051
Side note, with 6766ae90e4b7bda28ad35586b3c063d7ba89246c, what is in progress is denoted with a ⚙️until its done, and then replaced with a 👍

![image](https://user-images.githubusercontent.com/197307/49335264-e5e6f300-f5af-11e8-9b4f-32a581800d24.png)

This is done through the new `step_start` and `step_end` functions in `Progress` (a96906f924f084bf1ed2dfbdcfdb342910287f63) (because why not).

Here

[2018-12-02 05:41] ShaiberAlon opened #1054 "anvio doesn't show completion nor redundancy for a bin"

[2018-12-02 05:46] ozcan commented on #1054
I am going to have a blind guess about this as recently @watsonar reported the same thing. If there are multiple domains with more than 100% completion in the bin, anvi'o does not know which domain to pick and report. But if you click to button, you should be able to see individual domains with their completion and redundancy.  I have discussed this problem with @meren this Friday and he has a pla

[2018-12-02 05:52] meren commented on #1054
That is all very true :)

May I have access to that DB, @alon?

(this issue is the only thing I checked at this point, I apologize if you've already made it available by other means).

[2018-12-02 19:20] ShaiberAlon opened #1056 "getting "Terminal Error: You don't have a current progress bad :(" in anvi-profile"
I will share details with you privately.
This looks related to your recent changes @meren to the progress messages.

[2018-12-02 20:00] ShaiberAlon commented on #1056
Looks like this is resolved in `master`

[2018-12-02 20:00] #1056 closed

[2018-12-05 20:12] ShaiberAlon opened #1060 "--min-num-bins-gene-occurs doesn't work for external genomes in anvi-get-sequences-for-hmm-hits"
When using `--min-num-bins-gene-occurs` in `anvi-get-sequences-for-hmm-hits` with external genomes then you get this message:

[code]

They way I think it should work is:
1. replace `--min-num-bins-gene-occurs` to `--min-num-genomes-gene-occurs` (more compatible with the names `--external-genomes` and `--internal-genomes`
2. when this parameter is specified then the total number of internal + exte

[2018-12-05 20:17] meren commented on #1060
Both suggestions make sense.

For the (1), we need to make sure the parameter name change is reflected on any relevant web material.

For (2), would you like to do it or would you prefer me to do it? :)

Best,

[2018-12-05 20:24] ShaiberAlon opened #1061 "anvi-get-sequences-for-hmm-hits doesn't work for internal genomes"
Part of the problem is this:
https://github.com/merenlab/anvio/blob/50edb9265ced734070e0f57c130f6c90ea5adfd1/bin/anvi-get-sequences-for-hmm-hits#L73

But I bet that this is just the tip of the iceberg.

To be fair the help menu text kind of tells you that this is only for external genomes. But it is highly misleading that this program accepts `--internal-genomes` argument.

[code]

[2018-12-05 20:34] meren commented on #1061
It should be working with internal genomes :( I added rather recently, and have tested it. I must have forgotten to change `INPUT OPTION #3: EXTERNAL GENOMES FILE:` part.

The if statement you highlighted should work if you add `args.internal_genomes or ` before `args.external_genomes`. If it doesn't we are in trouble.

[2018-12-05 20:34] ShaiberAlon commented on #1060
I would prefer that you do t if you don't mind.
Especially because #1061 makes me worry that there are more hidden issues with this module.

[2018-12-05 20:36] meren commented on #1060
I see. I am looking at it now.

[2018-12-05 20:52] #1061 closed

[2018-12-05 20:53] meren commented on #1060
Can you try again after cf874b8673160fd9709087076e1db2d36da8dde3? :)

[2018-12-05 23:22] ShaiberAlon commented on #1060
This still doesn't work.

[2018-12-05 23:46] meren commented on #1060
I wanted to see whether closing was going to fix it :(

[2018-12-05 23:53] ShaiberAlon commented on #1060
You should open an issue with the GitHub people :-)

[2018-12-05 23:55] meren commented on #1060
Brilliant.

[2018-12-06 14:57] ShaiberAlon commented on #1060
Nope...

If you want to easily reproduce my issue, then checkout the branch `metapan-workflow`, and then run `./run_pangenomics_workflow_tests.sh` (in the anvio test folder).

[2018-12-06 20:46] srinidhi202 commented on #1021
Hello @ekiefl,
The script was indeed meant for multiple sample, however,  it was  also made for  `--quince-mode` output. I have now made some changes to the script to add "./."  (missing data) when some samples do not have entries for the particular position, in the default table output from  `anvi-gen-variability-profile`.  For example, here is how the output now looks like for the test file.

[c

[2018-12-06 21:08] dadahan opened #1063 "Workflow tutorial - Metagenomics workflow failing at megahit"
[code]

Running on OS X.

Unable to successfully run the script below on workflow tutorial data. Is failing on megahit.
```anvi-run-workflow -w metagenomics -c config-megahit.json```

Config file:
[code]

Log file:
[code]

Thank you!

[2018-12-06 22:31] ekiefl commented on #1021
Hi, thank you so much for addressing these problems. I also noticed you cleaned up the code significantly, I'm guessing it runs about twice as fast as it did since now the data is looped through only once.

In the future I'm planning on porting your code directly into an anvio module so that `anvi-gen-variablity-profile` can report VCF format directly. You can follow that branch here: https://gith

[2018-12-06 22:31] #1021 closed

[2018-12-07 17:21] #1051 closed

[2018-12-07 17:22] ozcan commented on #1051
This has been fixed on branch `parallel-SCVs`, now codon variability is computed in parallel in function `BAMProfiler.profile_contig_worker`.

[2018-12-09 20:01] ShaiberAlon opened #1067 "Support value for tree disappear after using "rotate""
When changing the topology of a tree using the right click menu, then when using "reroot" the support values are kept, but when using "rotate" then the support values disappear.

[2018-12-09 20:18] ShaiberAlon commented on #1063
Hi @dadahan,

Thank you for reporting this.
I couldn't reproduce this with the master version, so if you switch to work with the master version (if that's ok for you) then you should be fine.

Otherwise, could you share the contents of this log file (it is mentioned in your message):
[code]

[2018-12-10 21:59] ozcan opened #1068 "snakemake workflows creates a text file named PROFILE.db with error message inside"
@efogarty11 realized this problem. When running metagenomics workflows if there is nothing to merge snakemake rule still creates an empty PROFILE.db in the merged directory with an error message printed in it.
This is hard to notice because when the user tries to use PROFILE.db, Anvi'o programs just prints an error message saying "This is not a profile.db created by Anvi'o".

Luckily @ShaiberAlon

[2018-12-10 22:20] ShaiberAlon opened #1069 "anvi-script-gen-hmm-hits-matrix-across-genomes should accept internal and external genomes files"
It would be extremely useful to be able to give internal-genomes.txt and external-genomes.txt to this script.

In fact, internal-genomes is what is really important (since it practically accepts external genomes right now).

[2018-12-10 22:32] ShaiberAlon commented on #1067
yay! Thanks for fixing this @ozcan !

[2018-12-10 22:35] nakeene commented on #659
Hello, I am trying to install the latest Anvio version (5.2) on an HPC system using Conda and Linuxbrew and am having a pysam traceback error during the anvi-self-test every time that looks a little different than those reported above. I have used the following instructions for installation:
[code]
I have tried installing with different versions of pysam and nothing has worked so far. The output o

[2018-12-10 22:40] meren commented on #659
Your error log suggests the import request from anvi-init-bam, running by Python3, is responded by a package compiled with Python2 (and causing linkage errors, as you would expect). This should never happen in a properly configured system.

[2018-12-10 22:40] nakeene opened #1070 "anvi-self-test traceback and import error"
Output from anvi-self-test --version

`$ anvi-self-test --version
Anvi'o version ...............................: margaret (vunknown)
Profile DB version ...........................: 30
Contigs DB version ...........................: 12
Pan DB version ...............................: 12
Genome data storage version ..................: 6
Auxiliary data storage version ...............: 2
Structure DB

[2018-12-10 22:42] meren commented on #1070
Your error log suggests the import request from anvi-init-bam, running by Python3, is responded by a package compiled with Python2 (and causing linkage errors, as you would expect). This should never happen in a properly configured system.

[2018-12-10 22:46] nakeene commented on #1070
What do you suggest that I do to prevent this from happening?
I am running Python 3 in every virtual environment I've tried but it seems to be using Python 2 anyway?

[2018-12-10 22:56] meren commented on #1070
The best solution will require much more knowledge about the system. For instance the best solution very well could be

[code]

On the other hand by doing so you may make many people upset (but then why should they be happy if they are using Python2?).

[2018-12-10 23:01] nakeene commented on #1070
Yes, the entire HPC system is still using python 2. I cannot delete that version but I have contacted the IT department.

Is there any other way around this that you can think of.. or that has worked for others?

[2018-12-10 23:04] meren commented on #1070
Here is a suggestion. Remove all anvi'o you installed with brew or conda. And then follow this tutorial:

http://merenlab.org/2016/06/26/installation-v2/#installing-the-latest-stable-release-safe-mode

[2018-12-10 23:06] ozcan commented on #1070
Hi @nakeene, how does your `PYTHONPATH` looks like? Python searches for modules using that environment variable, if you change the order of directories inside that variable, you can make conda preferred. Conda installation script should prepend its path to there but it seems it didn't in your case.

You can check that using `env | grep PYTHONPATH`.

[2018-12-10 23:07] xvazquezc commented on #1070
Dumb question but, is conda in your PATH? You need to request the installer to add conda to it

[2018-12-10 23:21] nakeene commented on #1070
@xvazquezc Yes, conda is in my PATH. I think the issue is related to Python like @ozcan said previously.

Here is the output of `PYTHONPATH`
`$ env | grep PYTHONPATH
PYTHONPATH=/opt/bifxapps/python/lib64/python2.6/site-packages/:/opt/bifxapps/python/lib/python2.6/site-packages/:/opt/bifxapps/python/lib/python2.7/site-packages/:/opt/bifxapps/python/lib/python3.4/site-packages/
(anvio5) `

Clearly,

[2018-12-10 23:30] nakeene commented on #1070
@ozcan @meren @xvazquezc I fixed it!
I simply added
`export PYTHONPATH=/home/GLBRCORG/nakeene/bin/miniconda3/bin/python`
to my PATH and now it defaults to the correct version.

Thanks again for the help everyone!

[2018-12-10 23:30] #1070 closed

[2018-12-10 23:49] ozcan commented on #1070
Hi @nakeene,
Yes, I can see what you did might solve the issue. In your original `PYTHONPATH`, `/opt/bifxapps/python/lib/*` paths were prioritized. By simply removing them you let Python find modules in relative locations to your conda's python binary.

But the path you had put there has no effect because it is not a valid python path, it is the path of the python binary/executable that comes with

[2018-12-11 16:44] #1068 closed

[2018-12-11 22:13] ozcan opened #1071 "anvi-summarize (PanSummarizer) ignores collection name and outputs all gene clusters"
As in title

[2018-12-12 19:23] ozcan commented on #1071
Thanks for the explanation @meren. It makes sense now, I think I got confused because there were code parts related collection and retrieving bins in the collection but I think those parts only responsible for adding Bins column to the reported table, not for filtering.

[2018-12-12 19:23] #1071 closed

[2018-12-13 00:36] xvazquezc commented on #1033
Hi @meren ,
I've been finally tackling the stats on the metaproteomics data and I'm trying to figure out the best way to draw the results. After all, the strength of proteomics is doing differential analyses...

So, in case you are not familiar with differential expression analysis, what you get at the end is a p-value and a log of the fold change of the expression, either prots or RNA. And that's

[2018-12-13 03:11] dadahan commented on #1063
Hey Alon,
Thanks for the quick reply. I switched to the master version and all is working. Thank you!
Dylan

[2018-12-13 03:11] #1063 closed

[2018-12-13 03:17] ShaiberAlon commented on #1063
I'm glad to hear that!

[2018-12-13 08:45] evensannesriiser opened #1072 "Update gene annotations after database is generated?"
Dear anvi'o people,

After creating a database with `anvi-gen-contigs-database` with `--external-gene-calls` (during the Snakemake workflow), I realized some gene annotations were missing from the annotations file supplied with the NCBI reference genome I am using. I identified these genes (and their location) in the reference genome myself by blasting, and I now want to include these into the anv

[2018-12-13 23:07] xvazquezc commented on #1033
Thanks @meren , I want to try a couple of things first, otherwise I'll send you what I have in private later today.

[2018-12-15 18:48] meren commented on #1033
Hey @xvazquezc, here I will ping @ozcan and ask his opinion whether we can update the interface code to display negative values in 0-centered displays for bars. This wouldn't work for intensity, but should be doable for bars and lines.

Best,

[2018-12-15 23:01] meren opened #1073 "Hi-C data integration into anvi'o"
This is a small project to make the anvi'o interactive interface able to give the user the opportunity to work with Hi-C data (more information on this technology is [here](https://en.wikipedia.org/wiki/Chromosome_conformation_capture)).

Meren will describe the details of this project in great detail, and will provide a sample dataset when there is a volunteer.

[2018-12-16 18:36] ozcan commented on #1033
I will look into this in more detail, whether can we change the default behavior easily or is it easier to implement a new layer type for this purpose.

But in a meantime, our stack bar data type is pretty flexible and can be used for this purpose.
I have created a layer like below:
<img width="885" alt="screen shot 2018-12-16 at 12 31 36 pm" src="https://user-images.githubusercontent.com/940884/5

[2018-12-17 00:36] meren commented on #1033
This is an ingenious workaround, @ozcan. Although it may be too much to expect users to go through this every time their data contains negative values.

[2018-12-17 17:19] ShaiberAlon opened #1074 "Allow to choose translation table for prodigal when running anvi-gen-contigs-database"
Some bacteria use alternative translation. To support this, `prodigal` has this:

[code]

It would be nice to be able to specify that to `anvi-gen-contigs-database`.

[2018-12-17 21:21] meren commented on #1074
Are there example translation tables?

[2018-12-17 21:57] ShaiberAlon commented on #1074
Yes, for example the genome in this study:

https://www.ncbi.nlm.nih.gov/genome/16661

Is to be processed with table 25.

So it would be:

[code]

Here is the genome if you want to try:
[code]

If we want to go crazy we can also compare the gene calls with the ones they have on genbank:
ftp://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/000/350/285/GCA_000350285.1_OR1

[2018-12-17 22:08] meren commented on #1074
Yes, I don't see why we wouldn't add this to contigs database. Although I don't like the idea of adding a parameter to an anvi'o program to be passed to another program (since gene caller should be modular, although we seem to have failed to design the contigs db module to be able to support that).

[2018-12-17 22:11] ShaiberAlon commented on #1074
Thank you!

I understand.

[2018-12-18 23:27] maureenbug opened #1075 "homebrew install/anvi-db-migrate v5.2 error"
Hello,

I've been having trouble getting 5.2 working on my mac.

First off, here's this:
[code]

After installing 5.2, I tried to update my db files, and would get this error message:

[code]

I uninstalled anvio (all my previous version) and HDF5, and reinstalled everything... I still get the same problem.

I saw some similar issues on here, and tried to install anvio (homebrew) from the source.

[2018-12-19 13:59] charlie-durant commented on #895
Yes, thank you! This ended up working for me (on a Linux VM) too, but I spent a while trying to figure out why anvi'o commands couldn't be found before I saw the 'source activate anvio5' line here. Could this also be included in the [installation instructions](http://merenlab.org/2016/06/26/installation-v2/#painless-installation-with-conda)? :)

[2018-12-19 16:34] ozcan commented on #1075
Hey @maureenbug,
Can you try installing with `brew install merenlab/anvio/anvio --build-from-source --verbose` ?

It will take slightly longer than installing pre-built package but it will compile it for your system, so maybe this can solve version mismatch.

Also you may give a shot to conda installation method.
Best,

[2018-12-19 19:18] maureenbug commented on #1075
Thanks for getting back to me! When I try to install it that way, I get this error:

[code]

But I went ahead and installed conda so I could install anvio... which worked perfectly, and everything is up and running smoothly.

Thanks!

[2018-12-19 19:18] #1075 closed

[2018-12-25 03:27] ShaiberAlon opened #1077 "anvi-script-process-genbank-metadata should check for bad characters in organism_name column"
For example:

[code]

Then you will get the error:

[code]

And this is because the `organism_name` is `Mycoplasma bovoculi M165/69`. So the `/` is killing everything. This is easy to fix manually, which is what I did for now, but I figured I would make an issue.

[2018-12-25 08:16] meren commented on #1077
I've been making small changes lately, but I agree that we need to have a foolproof method to do this. I will take a look.

[2018-12-25 08:52] #1077 closed

[2018-12-25 08:53] meren commented on #1077
I didn't test it utterly well, but I hope this solves it, Alon.

[2018-12-25 12:09] #1074 closed

[2018-12-25 12:09] meren commented on #1074
Please take a look and let me know if it works as expected, alon :)

[2018-12-26 12:32] tdelmont opened #1078 "Real-time completion during binning: strange behavior using the Master"
On the master.

I have been doing extensive binning using the master of anvi'o, and I identified a strange behavior, which might be due to ongoing efforts to better identify eukaryotic MAGs.

I finally got a good example and here I am, sharing it here:

This is what I get with this first selection:

<img width="1077" alt="screen shot 2018-12-26 at 1 25 51 pm" src="https://user-images.githubusercon

[2018-12-26 21:47] ShaiberAlon opened #1079 "anvi-script-process-genbank-metadata shouldn't generate external gene calls for genebank entries with no gene calls"
For example:

[code]

If there are no gene calls then I think the best behavior is to warn the user with a `run.warning` message, and then in the `fasta.txt` file there wouldn't be entries for the external gene calls and the external functions.

[2018-12-26 23:59] ShaiberAlon commented on #1074
@meren, I have been experimenting with this, and was getting weird things.

I documented a bunch of details below, but here I will give you the bottom line:
I think that when `--prodigal-translation-table` then prodigal should be used with `-p single`, because anvio always uses prodigal with `-p meta`, but then prodigal ignores the translation table (There is an opened issue on the github repo for

[2018-12-27 09:40] tdelmont opened #1081 "Need for an anvi'o script to change the SAMPLE ID of a completed profile DB"
In an ideal world, anvi'o users would carefully read options and never make the mistake of generating multiple profile databases with the same SAMPLE Id prior to merging them. Such situation is problematic, and currently the only option is to re-do the profiling effort. This can be a significant burden for large metagenomic projects, and I came across this unpleasant situation recently.

One optio

[2018-12-27 16:14] #1081 closed

[2018-12-27 16:15] meren commented on #1081
In the current `master` you can run this command:

[code]

I hope this works.

[2018-12-27 16:19] meren commented on #1074
Thank you very much for looking into these 👍

[2018-12-27 16:31] #1079 closed

[2018-12-27 16:32] meren commented on #1079
This is now addressed. If there are no gene calls in GBK file,

* `anvi-script-process-genbank`  shows a warning, and does not generate any output files for gene calls or functions,
* `anvi-script-process-genbank-metadata` does not show any warning, but does put `None` for columns external gene calls and functions in `FASTA_TXT` output.

I hope this is useful.

[2018-12-27 16:33] ShaiberAlon commented on #1079
Great. Thank you!

[2019-01-01 21:17] ShaiberAlon opened #1082 "Not all legend options are displayed if misc-data is imported after state exists"
If a state is created before importing misc-data (I had the problem specifically when importing layers information (i.e. `anvi-import-misc-data -t layers`), then the legends tab doesn't show the options for the new layers (even though the new layers are seen in the interactive interface).

To reproduce this you can take any profile/pan database which already has a default state, and then import so

[2019-01-02 17:10] ozcan commented on #1082
Thanks for catching and reporting this @ShaiberAlon, the commit solves the issue but control flow is bit complex there, I will try to simplify it further.

[2019-01-02 17:12] ShaiberAlon commented on #1082
Thanks for solving it @ozcan .

[2019-01-03 19:43] ShaiberAlon opened #1083 "anvi-mcg-classifier should use the GENES.db if one exists and create one if it doesn't exist"
Since `anvi-mcg-classifier` uses the gene coverage stats, it makes sense to use the GENES database.

[2019-01-03 20:39] meren commented on #1083
We can also say (at the level of `anvi-mcg-classifier`) "create a genes db first", for which we have a program, `anvi-gen-gene-level-stats-databases` .. or that program could be the template to call necessary functions to generate one automatically. I am not sure how to address this at the moment :)

[2019-01-04 22:05] ShaiberAlon opened #1084 "anvi-pan-genome should include the number of singletons in the misc data table even if --min-occurrence is used"
Currently, if `--min-occurrence` is used (with value higher than 1), then the number of singletons is set to zero for all genomes.

[2019-01-06 11:05] Caizhaohui commented on #1007
Hey Meren

I have a similar problem .
(anvio) czh@ubuntu:~/Desktop/anvio_work$ anvi-self-test --version
Anvi'o version ...............................: margaret (vunknown)
Profile DB version ...........................: 30
Contigs DB version ...........................: 12
Pan DB version ...............................: 12
Genome data storage version ..................: 6
Auxiliary data storage ve

[2019-01-06 15:52] meren commented on #1007
Hi @Caizhaohui,

We apologize for this bug and thank you for reaching out to us.

If you put your genomes storage and pan database files (only those two) into a new directory, and send a Dropbox download link for the _zipped directory_ to a.murat.eren and ozcanesen at gmail.com addresses we can try to take a look and tell you exactly how to fix this.

Best,

[2019-01-07 16:15] ozcan commented on #949
Hi @ggloor,

Thank you for reporting this and linking the solution, many people experienced this problem on new OSX and this link helped us to resolve it quickly.

Best,

[2019-01-07 16:15] #949 closed

[2019-01-20 17:10] petersonben50 opened #1085 "Add feature to count taxonomic annotations (through Kaiju/Centrifuge) for bin(s) in interactive mode"
Hello all! Thanks to Jarrod and the anvio team for developing the Kaiju parser, I’m really enjoying that, especially the breakdown of contigs within each taxonomic group (under Legends).

I would like to request a feature that breaks down this taxonomic affiliation by the bins that are being viewed in the interactive mode. It should recalculate the values as the bins are refined further. I think t

[2019-01-21 01:46] AstrobioMike commented on #968
Hey folks, sorry to bring this issue up again, but it seems to be happening still with the stable v2.

[code]

Installed via pip following the instructions page.

Like before, the exported state json file has things in the correct order, but when loading it for some reason layers additional data layers revert to some initial order.

[2019-01-21 16:35] jarrodscott opened #1086 "anvi-import-taxonomy-for-layers error using krakenuniq output"
As some of you know, krakenhll in now krakenuniq (https://github.com/fbreitwieser/krakenuniq). If you set up the kraken DB like I did using something like `krakenuniq-download --db DB --taxa "archaea,bacteria,viral,fungi,protozoa"` you will of course get fungi in the db.

Next, you classify using `krakenuniq` and `krakenuniq-mpa-report` to generate the report to use to import to layers in anvio. I

[2019-01-22 15:30] ozcan opened #1087 "Reporting the DNA sequence of the selected area on inspect window"

[2019-01-22 16:06] #1087 closed

[2019-01-22 16:12] meren commented on #1087
Thank you very much for this, @ozcan :) Here is just a little request while it is fresh!

Currently it gives you this:

![image](https://user-images.githubusercontent.com/197307/51548433-ebcdb780-1e2d-11e9-9db8-d6ec6cd9808e.png)

I think it would have been more helpful if it gave the following in the window instead of what it shows now (so when you copy-paste, it immediately works for searching on

[2019-01-22 19:14] meren commented on #1087
Works like magic :) Thank you @ozcan!

[2019-01-23 12:09] tdelmont opened #1088 "Taxonomy layer when using anvi-refine across bins in a collection"
Hi,

Tom using the Master,

This is for the opportunity of improved experience from the user's side on binning:

When we start binning clusters, or refining bins, we use anvi-refine over and over. One can save a state as default so that the visualization is optimal for the project, one bin after the other. This is very convenient, but is linked to a small "bug": the taxonomy layer is filled with b

[2019-01-23 12:53] tdelmont commented on #1088
Sorry,
I realize it also inflences the mean coverage view. If max value for a given metagenome was small in the first bin (the one used to save the default), then we ill not properly see coverage variation in another bin for which this metagenome has more signal.

I guess there is not easy way to save some parts of the state, not others, so I will totally understand if this issue is closed without

[2019-01-23 19:15] ShaiberAlon opened #1089 "anvi-get-sequences-for-gene-calls gives empty sequences for ribosomal gene calls when using --get-aa-sequences"
Instead, it should exclude any gene that has empty AA sequence.

[2019-01-27 23:39] carloshenriquezc opened #1090 "ANI calculation error"
Hi everyone,
I am trying to stimate ANI with SAGs, but I receive this message

Traceback (most recent call last):
  File "/home/carlos/anaconda3/envs/anvio5/bin/anvi-compute-ani", line 193, in <module>
    main(args)
  File "/home/carlos/anaconda3/envs/anvio5/bin/anvi-compute-ani", line 120, in main
    linkage=args.linkage, distance=args.distance)
  File "/home/carlos/anaconda3/envs/anvio5/lib/py

[2019-01-27 23:55] meren commented on #1090
@carloshenriquezc, because you simply removed the message which was asking you to mention some details about your installation before sending your issue, now I need to send an extra message to ask you about those. Do you see the waste of time and energy here?

Please read the entirety of the text in "New Issue" window if you would like to try again.

[2019-01-27 23:55] #1090 closed

[2019-01-28 00:06] carloshenriquezc opened #1091 "ANI calculation Error"
Anvi'o version ...............................: margaret (vunknown)
Profile DB version ...........................: 30
Contigs DB version ...........................: 12
Pan DB version ...............................: 12
Genome data storage version ..................: 6
Auxiliary data storage version ...............: 2
Structure DB version .........................: 1

installed with conda in Linu

[2019-01-28 16:56] meren commented on #1078
(I will work on this at some point before the next small release)

[2019-01-28 16:59] meren commented on #1054
This is associated with #1078.

[2019-01-28 16:59] #1054 closed

[2019-01-29 17:04] #1089 closed

[2019-01-29 17:33] ShaiberAlon commented on #1089
Thank you Ozcan!

[2019-01-31 00:17] AstrobioMike commented on #968
To put a face with this heartache, this is what I'm sending to collaborators:
![screen shot 2019-01-30 at 3 50 43 pm](https://user-images.githubusercontent.com/13923308/52021417-ddc10c00-24a9-11e9-88f0-4ec38ac2dd20.png)

And this is what they're getting when loading the state:
![screen shot 2019-01-30 at 4 14 59 pm](https://user-images.githubusercontent.com/13923308/52021513-53c57300-24aa-11e9-953

[2019-01-31 03:07] AstrobioMike commented on #968
No, sorry, didn't mean to be ambiguous. It's not correct when I load the state either.

Things are saved in the correct order inside the json file if you export the state. But for some reason that's not being used when loading the state. The order of the misc data seems to default to the initial configuration.

[2019-01-31 13:12] johnomics opened #1092 "Database doesn't load on another machine"
Hello,

Thank you for developing Anvi'o, it's fantastic.

I created a contigs database on a small server and now want to run some compute intensive steps on our compute cluster. But when I copy the database to the cluster, none of the Anvi’o tools will recognise it.

I'm running the same version of Anvi'o on both machines:
[code]

Both versions were installed with conda, apparently the same versio

[2019-01-31 14:16] meren commented on #1092
Very interesting!

Can you try this please on the cluster:

[code]

[2019-01-31 14:19] johnomics commented on #1092
[code]

[2019-01-31 14:58] meren commented on #1092
Thanks. Even more confusing :) Because you said they have the same size. How about this?

[code]

[2019-01-31 15:09] johnomics commented on #1092
Ah.... looks like our very sophisticated cluster filesystem doesn't play nicely with SQLite:
[code]

Same response with various test SQLite databases though, so almost certainly not an Anvi'o problem. Thanks for the rapid responses!

Best wishes
John

[2019-01-31 15:09] #1092 closed

[2019-02-01 17:59] ShaiberAlon opened #1093 "Error while adding default collection to blank profile"
This is re this commit: https://github.com/merenlab/anvio/commit/a5897f83b1d6a1a45bb0eba84fe266c99cdbc99e

@meren, I tried adding a default collection to a blank profile (by providing a contigs database along with the profile database), but I get this error:

[code]

[2019-02-01 19:14] asauk opened #1094 "Pangenome - no functional annotation and no genes"
[code]

Hi,

I am trying to run the pan genome function on linux (Compute Canada server) for some anvi'o bins using external gene calls with the attached bin info file. (I know this anvi'o version is out of date but updates won't install in Compute Canada).

The function runs but I get the below error about not having functional annotations and no genes are pulled from the contigs.db for the bins.

[2019-02-04 22:00] ShaiberAlon commented on #926
@meren, in your comment above, you suggested to change the default `--min-contig-length` of anvi-profile to 1000. Do you still want to do that?

[2019-02-04 22:00] ozcan commented on #968
Hi Mike,
Thank you for reminding this issue. It took some time but I think now this issue was fixed. We are going to release a new version pretty soon, including this fix. But the solution was simpler than I have expected, that is why I want to make sure that it is fixed before the release.

Can you test if you have a master and confirm? If you do not have master or would like to try on 5.2, you c

[2019-02-04 22:14] meren commented on #926
Yes :)

[2019-02-04 22:17] ShaiberAlon commented on #926
So me, or you? :-)

[2019-02-04 22:19] ShaiberAlon commented on #926
Ok PR awaits for you @meren :-)

[2019-02-04 22:21] #926 closed

[2019-02-04 22:51] AstrobioMike commented on #968
Yeppers, that seems to have fixed it @ozcan. You rock!

[2019-02-04 22:51] #968 closed

[2019-02-06 20:37] ShaiberAlon opened #1096 "--list-aligners param doesn't do anything when used for anvi-get-sequences-for-gene-clusters"

[2019-02-06 21:37] ShaiberAlon commented on #1084
@meren, if this is not too hard, then I think it would be nice to have this for the next version. I added the milestone. If you don't agree, then feel free to remove.

[2019-02-06 22:17] meren commented on #1084
I thought @ozcan fixed this. @ozcan, any comment? :)

[2019-02-06 22:18] ozcan commented on #1084
I have no idea about this issue, but I can take a look at it

[2019-02-07 18:56] ozcan commented on #1084
@meren , what about `num_gene_clusters`, should it report number gene cluster per genome before filtering or after filtering?

[2019-02-07 19:06] meren commented on #1084
Great idea.

How about this to meet your suggestion: If there is filtering, we can have two metrics, `num_gene_clusters` (final number of GCs), and `num_gene_clusters_raw` (actual number of GCs before any of the filters were applied)?

[2019-02-08 12:17] FlorianTrigodet commented on #854
Hi guys,

Using the master version.
The warning message to cite snakemake has a wrong doi
[code]
It should be 10.1093/bioinformatics/bts480

[2019-02-08 16:19] #1084 closed

[2019-02-08 16:37] efogarty11 opened #1097 "Display helpful error when there is a duplicate in the samples.txt file"
[code]

@ShaiberAlon this is the issue you asked me to submit. I tried to run a metagenomics snakemake workflow in references mode. I got this error:
![screen shot 2019-02-08 at 10 13 32 am](https://user-images.githubusercontent.com/38365171/52491484-d75b2000-2b8c-11e9-9001-1cf1cb03f757.png)
which I didn't realize meant that I had a duplicate in my samples.txt file. You said that you wanted to inc

[2019-02-08 17:46] watsonar opened #1098 "creating anvi-update-state-variable"
It has been suggested that an `anvi-update-state-variable` script would be useful!

This would be a script which takes a tab-separated value file, an anvi'o profile database, and the name of a state in that database. The tsv file would have two columns, one with a variable name and another with anew property (e.g. color) for that variable. For example, you could have a variable called g_Bacteroide

[2019-02-08 17:48] ozcan opened #1099 "Real time bin information table (hmm, taxonomy)"

[2019-02-08 19:05] meren opened #1100 "Remove CONCOCT clustering from defaults, add more algorithms"
Currently `anvi-merge` by default clusters contigs with CONCOCT. We also have a program called `anvi-cluster-with-concoct`.

I think,

* We should remove everything related to CONCOCT from `anvi-merge`.

* Replace `anvi-cluster-with-concoct` with `anvi-cluster-contigs`, and implement a modular infrastructure (CONCOCT being the only available as of today), but that can be extended with other binnin

[2019-02-08 19:07] meren commented on #1100
(related to #497)

[2019-02-08 19:18] ShaiberAlon opened #1101 "Error while trying to rotate items tree at the root node"
![image](https://user-images.githubusercontent.com/17661044/52500546-ded9f380-2ba3-11e9-9701-db850f065f59.png)

[2019-02-08 19:18] meren commented on #1085
Hi @petersonben50,

We thought about this request today and will try to address it under #1099 :)

Best wishes,

[2019-02-08 19:18] #1085 closed

[2019-02-08 23:53] meren commented on #1086
Hey @jarrodscott, can you please send us an example report so we can see whether the parser is working properly?

Thank you :)

[2019-02-09 00:13] jarrodscott commented on #1086
here you go. I believe the offending lines are 5810-5819. This is raw. I was able to get it to work by removing `k__Fungi|` from those lines. But of course there are other lines with `k__Fungi|` but they don't seem to upset anvio.
[WAR_SCR-kraken_mpa_report.txt](https://github.com/merenlab/anvio/files/2847323/WAR_SCR-kraken_mpa_report.txt)

[2019-02-10 19:13] #998 closed

[2019-02-10 21:46] #1088 closed

[2019-02-11 21:19] ozcan commented on #1101
Hey Alon, I wanted to fix this before the release but could not reproduce it. On main tree, selections/right click menu disabled by design, and on the layers additional tree rotate works. Do you mind sharing the project with me on slack?

[2019-02-11 22:10] ShaiberAlon opened #1102 "anvi-run-workflow should allow to use pre-existing contigs databases"
## Description

This is also related to #1027, and I might solve these together.

Sometimes you wanna use a contigs database that already exists, and it would be convenient to be able to specify it in the fasta.txt file.

An example I bumped into multiple times is wanting to use contigs database that were generated by anvi-split and hence don't confer to the directory structure that anvi-run-workf

[2019-02-13 15:12] FlorianTrigodet opened #1103 "Warning for the names in fasta.txt for the Pangenomics workflow"
[code]
Hi,

I was using the Pangenomic workflow and had some errors that were due to the the names I have written in the fasta.txt file.

These names are used to reformat the headers of the contigs fasta files as mentioned in the Snakemake:
(small typo there, but no judging)
[code]

Very sadly, I used the unwanted `-` in the names and that was the reason of the errors.
Do you think it is worth to

[2019-02-13 17:04] ShaiberAlon commented on #1103
I think that is a good idea @FlorianTrigodet.

Thank you for reporting!

[2019-02-13 18:03] ShaiberAlon opened #1104 "GREP_OPTIONS deprecation warning causes import_percent_of_reads_mapped to fail"
tl;dr:
This issue documents an issue and a workaround when running metagenomics workflow in an environment where GREP_OPTIONS is set.

Some people put the followin thing in their bashrc:

[code]

From some reason, this causes grep to issue the following warning every time it is used:
[code]

This causes the hacky rule `import_percent_of_reads_mapped` to fail (since it uses grep and things don't go

[2019-02-13 18:03] #1104 closed

[2019-02-13 19:27] ShaiberAlon commented on #1104
Ok, I have realized that the problem was not due to the grep warning message, but due to the fact that I had `-` in the names in my fasta.txt file (so re: #1103).

[2019-02-13 20:02] #1103 closed

[2019-02-13 20:53] ShaiberAlon commented on #1097
closed via #1105. Thank you @efogarty11 for reporting this.

[2019-02-13 20:53] #1097 closed

[2019-02-13 23:01] meren commented on #1086
Hey @jarrodscott,

Thank you very much for sending the example file. This is now fixed in `master`, but unfortunately it didn't make it into `v5.3` which we released just a couple of days ago :(

[2019-02-14 14:00] jarrodscott commented on #1086
Nice! It works great off the master but good to know :)

On Wed, Feb 13, 2019 at 6:02 PM A. Murat Eren <notifications@github.com>
wrote:

[2019-02-18 15:17] alienzj commented on #1011
Hello, @ShaiberAlon , I have a question I would like to ask you.
[code]
Is the above remove host sequence shell correct?
Glad you can help me ：）

[2019-02-21 07:28] xvazquezc opened #1108 "missing annotations after running anvi-gen-genomes-storage"
Hi folks,

I was trying to run a pangenomic analysis and I noticed something weird: the functional annotations from certain sources and genomes disappeared.

The pangenome contains 9 genomes, 3 from NCBI and 6 from metagenomes. But the later ones were exported into individual dbs. Therefore I included all of them as external genomes because there are no separated contig and profile dbs anymore.

A

[2019-02-21 15:37] meren commented on #1108
This is very interesting (and a bit concerning). First of all, the gene calls should never change :/ I have no idea how/why is that happening. And we would need to find out when the common functions to all genomes are being dropped.

How can we recapitulate this? Would you mind sending your contigs databases and the genome storage to @ozcan and I through a Dropbox download so we can play?

Apologi

[2019-02-21 20:54] ShaiberAlon opened #1109 "anvi-export-items-order is missing"
There is an `anvi-import-items-order`, and also there is a way to edit AND SAVE into the pan/profile database the items tree in the interactive interface. What is missing is an `anvi-export-items-order` so that a tree that was edited (and saved) in the interatvie session would later be exported from the database.

@ozcan, are you willing to implement such a thing? it would be very helpful because

[2019-02-21 21:20] ShaiberAlon opened #1110 "anvi-compute-ani puts alignment coverage as 1 whenever percent identity is 0?"
This is a minor issue:
I used anvi-compute-ani with `--method ANIm`, and I notice that whenever the percent identity is 0 then the alignment coverage is 1. That doesn't make sense to me... I think if the percent identity is 0 then alignment coverage should also be 0.

[2019-02-21 21:26] ozcan commented on #1110
Hmm, if this is the case in output files we get from PyANI, this needs to be solved on upstream.

[2019-02-21 21:52] ShaiberAlon commented on #1110
That's a good point @ozcan. I will take a look.

[2019-02-21 22:13] xvazquezc commented on #1108
I just shared the files with both of you.
Cheers,

[2019-02-22 03:01] meren commented on #1108
Hey @xvazquezc,

Thank you very much for sharing them. I did some tests.

There is definitely something wrong with the functions tables of your bins. Take `LFW_Bin_00024.db`. The number of gene calls in this contigs database differ for different tables:

[code]

Function calls until `3233` only includes COGs:

[code]

In contrast, gene calls after 3233 seems to be including all others but COGs:

[

[2019-02-22 03:26] xvazquezc commented on #1108
I think the bins derive from `anvi-split` (it's been a while...). Indeed the `gene_callers_id` from the bin don't match the InterProScan IDs. So, does `anvi-split` resets the gene numbering automatically?

Weird thing that I was allowed to import annotations for genes not present in the contigs db.

[2019-02-22 17:13] meren commented on #1108
Did you import these functions into the main contigs db from which you split these guys, or did you import functions into individual split contigs databases?

[2019-02-22 22:39] xvazquezc commented on #1108
I imported the functions into the individual split databases. But I ran IPS on the protein files exported directly from the main `contigs.db`.

I found the old master `contigs.db` and after importing the annotations into it and running my bins as internal genomes, it worked without a problem. I had to migrate all dbs to the new versions but aside of that all very straight forward.

[2019-02-24 23:23] xvazquezc opened #1112 "anvi-compute-ani memory usage with internal genomes"
Hi there,

I ran `anvi-compute-ani` on my pangenome using only external genomes and `-T 4` without problem (9 genomes in total). After fixing the reported issue with the numbering of the `gene_callers_id` (see #1108) by using my bins as internal genomes, `anvi-compute-ani` could not be completed due to lack of memory.

My master `contigs.db` is rather big and even with 32GB of memory it isn't able

[2019-02-24 23:27] meren commented on #1112
Aha! Great catch, @xvazquezc. Thank you.

@ozcan, can you please consider testing this with the INFANT-GUT-DATASET? If we are not running ANI calculations only with contigs relevant to internal genome bins, that is a bug we need to fix :)

(and maybe after this fix we can try the `anvi-upgrade` magic :)).

[2019-02-25 18:15] ShaiberAlon commented on #1011
Hi @alienzj ,

I am sorry for my delay in response.
Unfortunately, I don't have enough familiarity with the specific samtools commands you are using to evaluate your command line.

In general what we do is map reads to the human genome and we then remove every read that maps to the human genome. If that's what your command does, then I it would be similar to what we do.

[2019-02-26 00:11] xvazquezc opened #1113 "anvi-gen-genomes-storage imports incorrect genome_info for internal genomes"
Hi again,

I don't think this is expected but the `num_contigs` and `num_splits` from the `genome_info` of the `GENOMES.db` has the info from the db they derive not the info of the bins themselves.

Probably a minor thing though. All the other info in the whole `GENOMES.db` seems right.

Cheers,
Xabi

[2019-02-26 00:14] xvazquezc commented on #1113
PS:
[code]

[2019-02-26 00:39] meren commented on #1113
Excellent report. Thank you very much for catching this and reporting it.

Best,

[2019-02-27 19:53] ozcan commented on #1113
Thank you @xvazquezc for the detailed report! This is now fixed on master.

[2019-02-27 19:53] #1113 closed

[2019-02-28 17:01] ozcan commented on #1112
@meren I have tested this and calculations are correct, it exports the correct sequence. The problem here is that in order to avoid re-summarizing and wasting time I cache summaries of collections for internal genomes. This is a huge issue if the contigs database is big. I am going to optimize this.

[2019-02-28 17:19] meren commented on #1112
This is great, @ozcan. Thank you very much for looking into the optimization issue.

[2019-02-28 17:59] ozcan commented on #1112
Thank you for reporting @xvazquezc, this is now fixed and `anvi-compute-ani` has constant memory usage. However, I am not so sure about the scenario in which contigs database is much larger than the memory, please let us know.
![image](https://user-images.githubusercontent.com/940884/53587422-eb70bc80-3b4f-11e9-9b6f-6d3eba6c2fc8.png)
(black: old, blue: new)

[2019-02-28 18:35] meren commented on #1112
🥇

[2019-02-28 23:06] msevi commented on #755
I had the same issue. If you run the converted fa file through anvi-script-reformat-fasta and pass the output to anvi-script-FASTA-to-contigs-db it runs without error.

[2019-03-05 02:41] Caizhaohui commented on #1007
Hi @meren
         I'm sorry to reply you so late. I re-run these commands (anvi-script-FASTA-to-contigs-db, anvi-gen-genomes-storage, anvi-pan-genome, sqlite3..... you provided and anvi-display-pan) without any issues. I also run the anvio following the way of Arkadiy-Garber and I get an interactive pan genome picture. I  found that anvi-script-FASTA-to-contigs-db contain three steps (anvi-script

[2019-03-05 04:40] xvazquezc opened #1116 "anvi-compute-ani does not respect -T option"
Hi there,

I got a fresh Anvi'o 5.4.0 and when running `anvi-compute-ani` I realised that it was using all available threads, and not what I specified, i.e. `-T 4`. The screen info indicates the specified number of threads being used but the Ubuntu System monitor indicates 8 `blastn` processes and the resource monitor indeed shows all 8 available threads being used at 100%.

Have you seen this hap

[2019-03-05 16:48] ozcan commented on #1116
Hi @xvazquezc,

Thank you for the report. PyANI does not use the `--workers` parameters passed for `ANIb`, everything works as expected for `ANIm`.
I sent a pull request to PyANI to fix this issue https://github.com/widdowquinn/pyani/pull/127
It is a small change. if you do not want to wait, you can find the relevant file and change that line manually on your system.

Best,

[2019-03-05 16:49] #1116 closed

[2019-03-05 16:57] #1112 closed

[2019-03-07 00:34] xvazquezc commented on #1112
I just wanted to let you know that I was able to run the same data locally after @ozcan code mods (using anvi'o 5.4.0). It still peaked at 12.8GB with 6 internal + 4 external genomes, but it is way better than before.

As reference, the pangenome db in use is 8.3MB and the `contigs.db`, 630MB. I ran pyANI standalone for reference and all processes add up to <1GB.

[2019-03-07 11:57] johanneswerner opened #1118 "How does completeness/redundancy relate to checkm completeness/contamination?"
(I think this is a technical issue)

How do the values of completeness/redundancy that I get via anvi'o relate to what I receive when I analyze my bins in an analysis with checkm for completeness/contamination?

I find **huge** differences (I have refined my bins and analyzed the refined bins with anvi'o and checkm). I can share the entire table, but just to give one example.

| bin | anvi'o compl

[2019-03-07 12:10] johanneswerner commented on #1118
Okay, a quick check on the rest of the bins revealed that this issue does not seem to occur with high quality bins, but I still would like to understand what is going on here.

[2019-03-07 12:43] tdelmont commented on #1118
Hi,

This relates to ongoing bug reports regarding domain anvi'o considers for
reporting completion/redundancy.
It is likely that anvi'o considered Eukarya as the domain for this
contaminated bin, which resulted is low scores for both completion and
redundancy.

Such bug indeed does not occur for bins corresponding to sufficiently
complete genomes from any of the 3 domains of life.

Tom

On Thu, M

[2019-03-07 12:49] tdelmont commented on #1118
To clarify, checkM only works with Bacteria and Archaea. Anvi'o is now also compatible with eukaryotes and random forest is used to decide which domain to consider (Bacteria versus Archaea versus Eukarya) based on the occurence of single copy core genes from 3 distinct collections. The random forest strategy is currently being improved by Meren, and bug you reported will hopefully be soon resolved

[2019-03-07 12:53] johanneswerner commented on #1118
Ah, that is great, thank you for your help and all your explanations.

[2019-03-07 12:53] #1118 closed

[2019-03-07 13:26] meren commented on #1118
Tom is correct. In addition we hope that we will address this with `v6.0`.

[2019-03-08 13:06] evelienadri opened #1119 "Error when inspecting splits in anvi-interactive"
Hi Meren and co,

I'm running anvi-interactive on a contigs database with profiles that I have used and inspected before successfully. I recently got a new computer and upgraded the operating system from iMac 27" and macOS El Capitan to iMac Pro; macOS Mojave version 10.14.3. The Anvi'o version information is as follows:

[code]

In the interactive interface, when I click to inspect a split, I get

[2019-03-08 15:17] meren commented on #1119
It looks like the database file is corrupted. I would suggest you to re-download, or re-generate it from scratch (with `anvi-merge` if it is a merged profile, or with `anvi-profile` if it is a single profile).

[2019-03-08 15:17] #1119 closed

[2019-03-08 20:30] jcthrash opened #1120 "Determining which genes were excluded in phylogenomic concatenation"
[code]

I've been running the phylogenomics tutorial here:
[code]

It seems to be working great, although it's a little challenging to determine which genes are getting excluded from the concatenation. I can manually compare the header list from the first line of the concatenated alignment file with the overall list, but it would be very convenient if Anvi'o could list not just the genes that were

[2019-03-10 23:05] xvazquezc opened #1121 "anvi-self-test crashed in anvio 5.4.0"
Hi,
Following the [thread in Slack](https://anvio.slack.com/archives/C8SFMGYF3/p1552048687020300), my `anvi-self-test` crashed but for a different reason. Anvi'o seems to work fine though, at least with the pangenomics pipeline.

[code]

Anvi'o version:

[code]

and my conda environment:
[code]

[2019-03-11 00:13] meren commented on #1121
Gawd. It seems the CONCOCT module is not running properly :/

Can you please use the files in the following directory to run `anvi-cluster-with-concoct` on your machine?

[concoct_test.tar.gz](https://github.com/merenlab/anvio/files/2950209/concoct_test.tar.gz)

This is how the output messages look like in my terminal when I run the following commands in the directory above:

[code]

Thank you!

[2019-03-11 00:24] xvazquezc commented on #1121
Yep, CONCOCT module not working...

[code]

[2019-03-11 00:27] meren commented on #1121
Ah. This BLAS issue again. @ozcan had recently suggested someone to rebuild their contact environment for anvi'o with an additional directive for BLAS. I think it will fix this one but I don't remember where I saw that.

[2019-03-11 18:58] ozcan commented on #1121
Hi @xvazquezc,
This issue is related with openblas distribution conda installs. If you install using `create -n anvio53 -c conda-forge -c bioconda anvio==5.3.0 "blas=*=openblas"` it should work.

[2019-03-11 23:03] xvazquezc commented on #1121
Thanks @ozcan, that solved the CONCOCT issue.
However, `anvi-self-test` ends with this message, but I don't see anything obvious aside of the usual warning messages:
[code]

[2019-03-13 20:11] HurleyPhD opened #1122 "Update error with updated anvio-5.3"
=============================================
PLEASE READ THIS BEFORE SUBMITTING YOUR ISSUE
=============================================

Read the following text carefully, and remove it before submitting your issue.

THIS *IS* A TECHNICAL ISSUE
---------------------------------------------
We thank you in advance for your report. Please take a look at the items down below:

 * If this is a techn

[2019-03-13 22:52] #1122 closed

[2019-03-17 19:50] meren commented on #1120
(I looked at this, realized that it is much more challenging than I though given the complexity of the design of that part of the code, but will get back to it again at some point).

[2019-03-18 22:33] jarrodscott opened #1125 "Output issues with anvi-export-table on a GENOMES.db"
Running `anvi-export-table` on a `GENOMES.db` with the `--table gene_function_calls` flag produces a file where each row is a `genome_name`, followed by `entry_id` ,   `gene_callers_id`, `source`, `accession`, `function`, `e_value`. Most of these do not make sense for a list of genomes.

Running `anvi-export-table` on a `GENOMES.db` with the `--table gene_function_calls` flag produces this error:

[2019-03-25 03:58] #627 closed

[2019-03-25 17:02] watsonar commented on #849
It appears that while N50 and L50 are sometimes used interchangeably, according to the official definition we have the terms swapped in anvi'o. To fix this we would just need to swap the labels N50 and L50 in `anvi-display-contigs-stats`, everything else would remain unchanged.

So currently it looks like this:

anvi'o reports N50 (and other N values) as a number of contigs.
anvi'o reports L50 (an

[2019-03-25 18:01] meren commented on #849
Ah. Someone else recently complained about this and I couldn't fix it. Can you fix it in the repository?

[2019-03-25 20:32] ozcan commented on #849
@watsonar, here are some code pointers if you are still interested in this.

for interactive plot:
https://github.com/merenlab/anvio/blob/master/anvio/data/interactive/js/contigs-plot.js#L49-L62
https://github.com/merenlab/anvio/blob/master/anvio/data/interactive/js/contigs-plot.js#L82-L98

for text report:
https://github.com/merenlab/anvio/blob/master/anvio/interactive.py#L2180

[2019-03-26 21:41] watsonar commented on #849
Thank you @ozcan! I believe I have fixed the problem now.

[2019-03-26 22:25] andressanchez1 opened #1128 "Problem with CONCOCT"
=============================================
PLEASE READ THIS BEFORE SUBMITTING YOUR ISSUE
=============================================

Read the following text carefully, and remove it before submitting your issue.

THIS *IS* A TECHNICAL ISSUE
---------------------------------------------
We thank you in advance for your report. Please take a look at the items down below:

 * If this is a techn

[2019-03-27 13:58] meren commented on #1128
FFS.

[2019-03-27 13:58] #1128 closed

[2019-04-01 04:26] jrherr opened #1130 "anvi-merge error - group name 'default' should be common to all databases"
Hi Everyone! I need help!

First off, here's my version information:
[code]
I've been banging my head against the wall for a week now, so I'm resorting to posting here. It's smooth sailing for me to run 72 metagenomic samples through until I run the ```anvi-merge */PROFILE.db -o SAMPLES-MERGED -c contigs.db``` command.

My error is:
[code]

I can't figure out what is happening here, as during each

[2019-04-01 16:11] meren commented on #1130
Hi @jrherr,

I'm sorry for the frustration. Probably one of your profiles did not finish properly hence does not contain these tables. Perhaps you should use `anvi-show-misc-data` in a for loop to see quickly if there is one that seems to be odd.

Plus, you should consider updating your anvi'o installation to `v5.4` :)

Best,

[2019-04-03 20:26] watsonar opened #1132 "anvi-interactive error - KeyError: 'eukarya'"
[code]
When I try to run an anvi-interactive command which I have successfully run in the past, I get the following error:
[code]
The command I am using is this:
[code]

I am getting this error both on my computer and on barhal, and will comment on this issue in Slack with the working directory from which to run this command.

@meren Özcan said this might be related to some stuff you have been wor

[2019-04-03 20:43] ShaiberAlon commented on #1082
Hi @ozcan, I found another case in which this happens so I am reopening this issue. I will share the pan database with you.

[2019-04-03 22:04] meren commented on #1132
@ozcan is right. this it totally on me :) thanks for reporting.

[2019-04-04 00:43] meren commented on #1132
3 hours and still working on it ... but it is good because this forced me to change the design a bit.

You get an error because your contigs database is too old and does not have BUSCO HMMs. But it shouldn't explode things like this.

To prevent such issues I'm changing the design, which will also address what @tdelmont had complained about on Slack about having to run all SCG domain HMMs on conti

[2019-04-04 00:48] meren commented on #1132
OK. @watsonar, can you please try again and let me know if it is now working?

@ozcan, I hope we can spend 2 minutes sometime tomorrow to revamp the Bins panel. we are now sending some extra information that can be shown in the completion panel :)

[2019-04-04 00:49] meren commented on #1132
@tdelmont, with this change `master` should not complain about missing HMMs for SCGs and still give a reasonable C/R estimate for bins. let me know if you test it and found a problem.

[2019-04-04 17:52] watsonar commented on #1132
@meren I tried again and it worked this time, thank you! However, @efogarty11 seems to be getting the same error now but with anvi-summarize. :(

[2019-04-04 17:56] efogarty11 commented on #1132
This is the command I ran:
[code]
In this directory: `/storage2/tmp/analysis/GUT_PLASMIDS/fin_swe_infant_pBI143/swe0019_assembly`

And this is the error I got:
[code]
It won't let me summarize, but it also means that when I open the interactive interface to bin it won't give me completion and redundancy for the things I'm binning.

[2019-04-04 19:51] watsonar commented on #1132
I'm getting another "KeyError", this time with anvi-inspect. I thought maybe because of the similarity to the above errors it might be relevant to this issue, but I have never run this command before so it might be something on my end.

Command is this:
[code]

And the directory will be in a Slack comment.

[2019-04-06 08:28] pavlo888 opened #1134 "Pangenome analysis display error"
Hi,

I have a problem in the last step of the pan genome analysis workflow, right before displaying the results I believe. Below you can see what my log shows and then when it opens the chrome browser, it says there is an error loading the page :(

I could send you the input I use for the analysis if necessary.

Thanks a lot in advance.

Cheers,
Pablo

``

Anvi'o version ..........................

[2019-04-06 19:00] meren commented on #1134
Hi @pavlo888,

There seems to be an anvi'o server is already running as a background process that occupies port 8080. You can try to find it (by typing `fg` in all terminals until you find it) and kill it. Or you can restart your computer if you can't sort it out. Alternatively, you can run `anvi-display-pan` with an additional parameter `-P 8081`, so anvi'o would use the port number `8081`.

Best

[2019-04-06 19:00] #1134 closed

[2019-04-07 17:31] meren opened #1135 "An importer script for phylose and anvi'o compatible"
While I haven't been able to do this, there are multiple people who asked for it. This could be a small project for someone who would like to contribute by implementing a script imports phyloseq output into anvi'o interactive interface.

Meren promises help and advice.

[2019-04-08 08:04] pavlo888 commented on #1134
Hi Murat,

Thank you very much for your fast response. Just wanted to let you know
that it works.

Cheers,
Pablo

On Sat, Apr 6, 2019 at 9:00 PM A. Murat Eren <notifications@github.com>
wrote:

[2019-04-10 08:37] Bio-finder commented on #1121
Good morning,
Is this issue fixed? We got the same issue in our lab so we just wanted to be sure that everything is working with this fix.

[2019-04-10 15:02] meren commented on #1121
Hi @Bio-finder, if you installed anvi'o through conda, @ozcan's recipe here should address it:

https://github.com/merenlab/anvio/issues/1121#issuecomment-471675728

Best,

[2019-04-10 15:02] #1121 closed

[2019-04-10 19:29] meren commented on #1132
Is this still an error, @watsonar?

[2019-04-10 19:29] meren commented on #1130
Any news on this?

[2019-04-10 19:31] meren commented on #1078
I think this is all addressed.

[2019-04-10 19:31] #1078 closed

[2019-04-10 19:31] meren commented on #1082
Any news on this?

[2019-04-10 19:31] meren commented on #1101
Is this now fixed?

[2019-04-10 19:32] meren commented on #1110
Any updates, @ShaiberAlon?

[2019-04-10 20:50] #1109 closed

[2019-04-10 20:50] meren commented on #1109
this now exists.

[2019-04-10 21:38] #1091 closed

[2019-04-10 21:38] meren commented on #1091
Is there any news about this after upgrading to anvi'o `v5.4`, @carloshenriquezc?

Thanks for your patience!

[2019-04-10 21:40] meren commented on #1096
It does now.

[2019-04-10 21:40] #1096 closed

[2019-04-10 21:51] meren commented on #1060
I tried and couldn't reproduce this using the script `./run_pangenomics_workflow_tests.sh`. I assume it is somehow fixed :(

[2019-04-10 21:51] #1060 closed

[2019-04-11 20:14] watsonar commented on #1132
@meren sadly yes :(

[2019-04-12 02:36] meren commented on #1132
I fixed the error, but this time it is giving an error at the interface, @watsonar. can you please take your computer and bring it to @ozcan when you have run the same command line and get a never-ending loading gif on your browser so he can see the exact line that causes this? :)

[2019-04-13 23:21] leefarg opened #1137 "Installation with conda"
Sorry if I am missing something basic here...
I am trying to install anvio on a Windows 10 machine. I have successfully installed Anaconda 4.6.11.

When I try any of the following, as directed by the Installation page:
conda install -c bioconda -c conda-forge anvio
conda install -n anvio5 -c bioconda -c conda-forge anvio=5.4.0
conda create -n anvio5 -c bioconda -c conda-forge anvio=5.4.0

I get th

[2019-04-15 22:00] watsonar commented on #1132
@meren and @ozcan sorry it took so long for me to test this, but it works just fine for me now! :)

[2019-04-16 03:23] EnzoAndree opened #1138 "anvi-run-ncbi-cogs: "UnboundLocalError: local variable 'COG_ids' referenced before assignment""
Hello

I'm trying to run anvi-run-ncbi-cogs but I got an error in only one of my draft genomes:

[code]

As you can see, i instaled anvi'o using miniconda in a centos 7

[code]

i don't know if this is a bug or an instalation error but i attach the fasta file that I use
[GCA_003327325.fasta.zip](https://github.com/merenlab/anvio/files/3082886/GCA_003327325.fasta.zip)

[2019-04-16 11:14] Fedorov113 commented on #992
I get this error too. Posting log file.
[log.txt](https://github.com/merenlab/anvio/files/3084635/log.txt)

[2019-04-16 13:50] meren commented on #992
Hey @Fedorov113,

This is from your log file:

[code]

You have 100+K splits, which is way beyond the number of splits that can be processed with hierarchical clustering, but you are enforcing that analysis with the `--enforce-hierarchical-clustering`, and so the anvi'o fails because you do not have infinite amount of memory :)

Not necessarily an error. The next step for you is to import a collec

[2019-04-16 16:21] Fedorov113 commented on #992
@meren Thank you for your reply! I suspected this, but just wanted to be sure.

[2019-04-16 17:27] meren commented on #1138
Great find, @EnzoAndree. This is a bug. Thank you very much for reporting it.

The funny thing is this: I couldn't reproduce the error using the old COGs setup I already had.

But when I re-run `anvi-setup-ncbi-cogs` to setup a newer database by downloading latest files from the NCBI, I could reproduce the error with your genome :(

NCBI updated their databases, which introduced new protein IDs wi

[2019-04-16 23:49] EnzoAndree commented on #1138
You're amazing!. That patch fixed the problem, now the script runs smoothly.
Thank you very much!

[2019-04-17 02:02] meren commented on #1138
Thank you very much for reporting back! I'm happy it works :)

[2019-04-17 02:02] #1138 closed

[2019-04-17 06:03] alienzj commented on #1011
@ShaiberAlon Thanks for your reply. Enjoy pipeline~

[2019-04-17 13:07] #1132 closed

[2019-04-17 13:08] #1130 closed

[2019-04-17 13:18] #849 closed

[2019-04-17 13:27] #501 closed

[2019-04-17 13:27] #470 closed

[2019-04-17 13:28] meren commented on #71
We have now a SCG domain to identify bins thanks to Tom's efforts, and we have no plans to go beyond that at least for a while.

[2019-04-17 13:28] #71 closed

[2019-04-17 13:29] meren commented on #665
time-out. I hope it is addressed in later versions. apologies.

[2019-04-17 13:29] #665 closed

[2019-04-17 13:30] #499 closed

[2019-04-17 13:33] #761 closed

[2019-04-17 13:35] #839 closed

[2019-04-17 13:37] meren commented on #939
I think we fixed this :) Thank you!

[2019-04-17 13:37] #939 closed

[2019-04-17 13:40] meren commented on #893
I was going through old issues that we didn't have time to go back to, Damien. You probably already forgot about this. This is important indeed. Addressing it properly requires us to have a 'gene caller' option built-in into the contigs database design, which is not the case at the moment. I think at some point some hero will embark upon this re-design, and then this issue will sort itself out aut

[2019-04-17 13:40] #893 closed

[2019-04-17 13:42] meren commented on #931
I was just going through old issues that were not fully addressed and saw this one. I hope it sorted itself out :( thanks for your time to report this and for your followup to help identify the problem. and apologies for not getting back to this earlier.

[2019-04-17 13:42] #897 closed

[2019-04-17 13:44] meren commented on #951
So sorry this fell through the cracks. Although issues are not the best revenue to ask questions, I guess we could have responded: `1e-5` is default. Our strategy uses MCL to identify clusters, so a much relaxed BLAST e-value cutoff works perfectly well. Please read our metapangenomics paper for the details of the pangenomic workflow.

[2019-04-17 13:44] #951 closed

[2019-04-17 13:45] meren commented on #915
Hey everyone. Clearly we couldn't produce anything useful for you. Apologies.

[2019-04-17 13:45] #915 closed

[2019-04-17 13:47] meren commented on #943
I think we solved this but I am not sure :/ Apologies. I hope it will come back with a newer version of the codebase so we will be able to take a look at this again.

[2019-04-17 13:47] #970 closed

[2019-04-17 13:48] meren commented on #966
This must be fixed by now :)

[2019-04-17 13:48] #966 closed

[2019-04-17 13:49] meren commented on #1050
I assume this is fixed now.

[2019-04-17 13:49] #1050 closed

[2019-04-17 13:52] meren commented on #1072
Hi @evensannesriiser. Sorry it took this long to get a response for this. I think we are going to have to be realistic and classify this as a "very special case". In the never-ending struggle to assign our scarce time resources to where they are most needed, I will close this issue admitting with a broken-heart that we will not address it.

I hope all is well.

[2019-04-17 13:52] #1072 closed

[2019-04-17 13:54] #746 closed

[2019-04-17 17:36] ShaiberAlon commented on #1050
I tested now and indeed it is fixed.

[2019-04-17 18:32] ozcan commented on #1137
Hi @leefarg,

Even though conda claims it works on Windows, that only applies to a handful of general purpose packages. Many packages, especially in bioinformatics, are not compatible with windows. I just installed Windows on a virtual machine to test if it would be to make anvio recipe with windows but almost all dependencies I have tested was missing on anaconda windows like blast, bowtie2, prod

[2019-04-17 18:32] #1137 closed

[2019-04-17 19:10] ozcan commented on #1101
@ShaiberAlon, I can not reproduce this on the project you have shared. This might be related to the bug you have reported a while ago where the root node label gets replaced with `base64.....` after re-rooting, so it would be impossible to rotate after that. It should be fixed now but if you see this problem again, please re-open, I am closing this for now.

[2019-04-17 19:10] #1101 closed

[2019-04-17 19:19] ShaiberAlon commented on #1101
Thank you @ozcan !

[2019-04-17 20:23] #1015 closed

[2019-04-17 20:53] #916 closed

[2019-04-17 21:06] ShaiberAlon commented on #626
closed via 063876645cc699c3b5d84d458e7a28cde773d658

[2019-04-17 21:06] #626 closed

[2019-04-17 21:15] #721 closed

[2019-04-17 21:50] ozcan commented on #1125
Thank you for reporting @jarrodscott, We now fixed this on master version.

[2019-04-17 21:50] #1125 closed

[2019-04-18 09:23] Fedorov113 commented on #992
@meren I ran this step again on a node with more memory and everything worked fine. So this is indeed just a memory related issue. Thank you.

[2019-04-18 12:37] meren commented on #992
Thank you very much for reporting back! :)

Now a different challenge awaits: visualizing that many items! :) I'm sure you will find a way if you've been getting used to the platform. Good luck with your research.

[2019-04-18 19:51] #391 closed

[2019-04-19 16:58] #961 closed

[2019-04-20 04:29] #999 closed

[2019-04-20 04:32] #1108 closed

[2019-04-20 04:38] #720 closed

[2019-04-20 04:39] #710 closed

[2019-04-20 04:40] meren commented on #683
We have it now

[2019-04-20 04:40] #683 closed

[2019-04-20 04:40] #663 closed

[2019-04-20 04:41] #621 closed

[2019-04-20 04:41] #617 closed

[2019-04-20 04:42] #451 closed

[2019-04-20 04:43] #355 closed

[2019-04-23 16:08] DelphIONe opened #1140 "anvi-gen-contigs-database NameError: name 'ignore_internal_stop_codons' is not defined"
[code]

Installation was done by command :

[code]

on Ubuntu 16

With `anvi-gen-contigs-database` method, I obtain this error :

[code]

So, can you help me please ?

Thanks,

[2019-04-23 21:18] meren commented on #1140
Hi @DelphIONe,

This certainly doesn't look good and seems like a bug. I will take a look and perhaps will ask you to help me a bit. Apologies for this.

[2019-04-23 21:26] #1140 closed

[2019-04-23 21:30] meren commented on #1140
Hi @DelphIONe,

This was indeed a bug on our part. The bug will be fixed in the next release. Unless you want to take a look at the commit log above and make these changes yourself in your current installation.

What triggers this bug is the external gene calls you provide to anvi'o that contains internal stop codons. If you want to try a workaround, you can generate your contigs database the stan

[2019-04-24 07:39] DelphIONe commented on #1140
Thanks for your quickly answer!

[2019-04-24 12:32] NVOostende opened #1141 "COGs / Diamond database issue when running anvi-run-ncbi-cogs"
Hi there!

Just discovered the wonders of Anvi'o but hit a snag while running anvi-run-ncbi-cogs.
Here is the error message I'm getting:
[code]
There apparently is no directory '/tigress/oostende/software/anaconda2/envs/anvio54/lib/python3.6/site-packages/anvio/data/misc/COG'
[code]
**Where else could it be located? How do I fix the COG setup?**
Any help appreciated!

Best,
Nicolas

Output from th

[2019-04-24 13:42] ozcan commented on #1141
Hi @NVOostende,
You need to run `anvi-setup-ncbi-cogs` first, which will download and setup COGs automatically.
Best,

[2019-04-24 13:45] #1141 closed

[2019-04-24 14:17] NVOostende commented on #1141
Hi Ozcan,
That solved it! Thank you for you quick response.
Best,
Nicolas

[2019-04-24 17:37] sirmicrobe opened #1142 "generate new pangenome database from single bin"
Hello!

Is there a way of generating a new pangenome database by extracting a single bin? The practical application for this would be to look at something like the accessory genome in more detail.

I think what I want to do is basically the same as what you do with the E. faecalis bin in the Infant Gut tutorial, but with a PAN.db instead of a PROFILE.db. The example that Meren came up with was som

[2019-04-24 17:45] ozcan commented on #1142
@meren, do you think as an alternative to `anvi-split` approach, is it possible to accept pangenome bin as an internal genome input for `anvi-pangenome`?

[2019-04-24 18:26] meren commented on #1142
Thanks for the report, @sirmicrobe!

I think that would be quite an elegant way to resolve this, @ozcan. I am not sure about its feasibility though since it's been forever since the last time I looked at those parts of the code :)

[2019-04-25 20:39] meren opened #1143 "Improving collection mode, visualization of items in bins stored for pangenomes and metagneomes"
This is the summary of an offline discussion with @ozcan and its aim is to list multiple features we would like to implement.

- [ ] Currently anvi-interactive has a collection mode which is invoked with the `--collection`. When it is declared, the interactive interface starts to display the summary of each bin in a given collection stored in the profile database. We think this function should bec

[2019-04-26 00:36] najoshi opened #1144 "concoct package not compatible with anvio 5.4 in anaconda?"
[code]

Hello,

I'm a sys admin trying to install anvio 5.4 on an HPC system using anaconda3 (4.6.11). I used these commands from the installation page to install anvio:

conda create -y --name anvio5 python=3.6
conda install -y --name anvio5 -c bioconda -c conda-forge anvio=5.4.0

I had a user trying to run anvio and it gave them an error about not having the concoct package installed. I looked,

[2019-04-26 13:06] meren commented on #1144
CONCOCT is a native component of anvi'o and is not an additional package.  Do you think the misunderstanding comes from that?

[2019-04-26 13:27] ozcan commented on #1144
Hi Nik,
Even though we are planning to change this pretty soon and use the concoct available on your system, at current stable release, anvi'o comes with concoct module. You do not have to install concoct. However, under some circumstances, this C extension cannot be loaded and used by Python.

I think the only solution would be compiling this extension on your system/for your system and replacing

[2019-04-26 15:10] ozcan commented on #1100
So I was looking at this issue and I would like to work on this,

Here is my plan:
- remove `extensions` directory from anvio
- clear `setup.py`
- move `concoct.py` to `drivers/concoct.py`
- install concoct
- instead of importing `import anvio.vbgmm` import `import concoct.vbgmm`
- `vbgmm.fit()` function signature is slightly differrent, solve that
- remove concoct from anvi-merge
- rename `anvi-c

[2019-04-26 15:21] meren commented on #1100
Sounds great! :) Thank you, @ozcan!

[2019-04-26 21:23] SamLambrechts opened #1145 "conda install UnsatisfiableError anvio 5.4 seems to be in conflict with itself"
Dear anvio,

When running `conda install -c bioconda -c conda-forge anvio` anvio v4 is installed
When running `conda install -n anvio5 -c bioconda -c conda-forge anvio=5.4.0`, or the other suggestions on your installation page, solving the environment fails and the specified version of anvio5 seems to be in conflict with itself:

[code]

This UnsatisfiableError also happens when I specify older ve

[2019-04-26 21:45] meren commented on #1143
I finished `anvi-split`.

Say this is a pangenome with multiple bins stored in collection `default`:

![image](https://user-images.githubusercontent.com/197307/56837805-51707c00-6841-11e9-8345-a84e43a1ef25.png)

One can now split each bin into their own little pan databases using `anvi-split`:

[code]

The resulting directory would contain the following files:

[code]

and one can visualize each o

[2019-04-26 22:32] ozcan commented on #1145
Hi Sam,
I have just tested the commands you shared and worked for me, this might be due to not up-to-date conda distribution installed on your cluster.

when i run `conda info`, i see:
[code]
what is your version?

[2019-04-26 22:33] ozcan commented on #1145
Also if the package is in conflict with anvio, does not that mean anvio 5.4 is installed already?

[2019-04-27 06:33] SamLambrechts commented on #1145
Hi Ozcan,

Thank you for your answer. When I run `conda info`, i see:

anvi-self-test --version

[2019-04-27 06:41] SamLambrechts commented on #1145
Hi ozcan,

Thank you for your answer. When I run `conda info`, i see:
[code]
When I run  `conda update -n base conda -c defaults`, `conda update conda`, or any variation on how to update conda, I get:

[code]
And `anvi-self-test --version` tells me the anvi-self-test command is not found, which should indicate anvio is not installed already, no?

[2019-04-27 07:58] SamLambrechts commented on #1145
When I run `conda update -n base conda -c defaults`, I get:

[code]

So it seems conda is trying to remove and downgrade centrally installed packages such as concoct, checkm, bowtie2, when trying to update conda, which obviously is problematic. I was under the impressions the centrally installed conda packages are separated from the anaconda that is installed locally on my user account?

[2019-04-27 13:07] ozcan commented on #1145
Hi @SamLambrechts,

It seems your base environment is python2.7, can you try creating brand new environment with `python=3` not `python=3.6` and see package list there and install there maybe? In your initial message, you said it did fail but that does not make any sense. If that fails, there is something wrong with your conda, but it will definitely fail on base environment as it is python2.7

Be

[2019-04-27 15:20] ozcan commented on #1100
@meren, The steps I have mentioned above are kind of done, but still `anvi-cluster-contigs` uses only concoct at the moment. I would like to add another algorithm as a proof of concept. I have checked `metabat`, preparing input files is straightforward but I wanted to ask what do you think about parameters/flags that different algorithms accept?

For example `metabat` accepts parameters like below

[2019-04-27 15:31] meren commented on #1100
I don't have a good answer for this, @ozcan :/

Maybe we can use a different strategy. For each driver, we would include a script with parameters specific to the driver. So it would look like `anvi-script-cluster-contigs-with-concot`, `anvi-script-cluster-contigs-with-metabat`, `anvi-script-cluster-contigs-with-X`. These scripts would get the argparse `group` that is specific for a given driver fr

[2019-04-27 16:48] SamLambrechts commented on #1145
Hi ozcan,

Thank you for your answer. When I run  `conda create -y --name anvio5 python=3`, followed by `source activate anvio5` and `conda install -y --name anvio5 -c bioconda -c conda-forge anvio=5.4.0`, I get the following output:

[code]

Running `(anvio5) sjalambr@termiet:~$ conda list` gives me:

[code]

And when I try to update conda from inside this new environment like so: `(anvio5) sjala

[2019-04-29 15:30] SamLambrechtsUGent commented on #1145
I still don't have a clue what is going on here, but I started from scratch on a different cluster from another department and I was able to install anvio 5.4 first try using `conda install -c bioconda -c conda-forge anvio`

[2019-04-29 17:14] SamLambrechtsUGent opened #1147 "OPEN_ON_LOCAL[http://0.0.0.0:8080] interactive interface does not appear on local machine"
Dear anvio,

I'm trying to do this: http://merenlab.org/2018/03/07/working-with-remote-interative/ on bash on ubuntu on windows (aka WLS: windows subsystem for linux)

As far as I could tell setting it up worked great. But when I tested it, I got `OPEN_ON_LOCAL[http://0.0.0.0:8080]`, instead of the interactive interface showing up on my local machine (the WSL)

I'm guessing the `~/.ssh/run_webbrow

[2019-04-29 18:38] ShaiberAlon commented on #1082
I'm going to close this for now because I can't reproduce it.

[2019-04-30 14:20] NVOostende opened #1148 "anvi-import-collection sqlite3 error"
[code]
Hi,
when I try to replicate the Prochlorococcus metapangenomes-workflow I get an error when running the 'anvi-import-collection' script:
[code]
which reports the following error:
[code]
The 'Prochlorococcus-GENOME-COLLECTION.txt' table looks fine:
[code]
Not sure how to fix this (minor) issue ...

I installed Anvio5.4 using conda:
[code]
All the best,
Nicolas

[2019-04-30 16:01] ozcan commented on #1148
Hi @NVOostende,

It looks like your Merged profile.db corrupted at some point, maybe at merging step, can you run the command below and look at the table names?

`sqlite3 ${PROFIL_DIR}/Prochlorococcus-MERGED/PROFILE.db ".tables"`

[2019-04-30 16:29] NVOostende commented on #1148
Hi Ozcan,

thanks for your reply.
Not sure what the result should look like, but here it is:
[code]
Does this look ok?

Best,
Nicolas

[2019-04-30 16:45] ozcan commented on #1148
This profile database looks like it is generated by when you run `anvi-interactive --manual`. How did you generated this profile.db?

[2019-04-30 17:03] NVOostende commented on #1148
Mmmh, I didn't run this 'anvi-interactive --manual'
Below is the script I used to build the profiles for a bunch of metagenomes, before merging them:

[code]

[2019-04-30 17:08] meren commented on #1148
Yes, this profile database looks weird. A merged profile database should look like this:

[code]

@NVOostende, can you please send the output of this command, too:

[code]

[2019-04-30 17:09] meren commented on #1148
(I think you should also look at your log files to make sure your `anvi-merge` command did run properly and there were no errors).

[2019-04-30 17:13] NVOostende commented on #1148
Ok, thanks!
Not sure how to output the 'anvi-merge' log files (newbie here), but here goes 'anvi-db-info':
[code]

[2019-04-30 17:24] meren commented on #1148
Your `anvi-merge` command does not say `--skip-hierarchical-clustering`, but your profile database says `items_ordered: False`.

Something must have gone wrong. Can you please remove the directory `${PROFIL_DIR}/Prochlorococcus-MERGED` and re-run this step manually and post the output here?

[code]

[2019-04-30 17:51] NVOostende commented on #1148
Hi,
indeed, an error message at the end of 'anvi-merge' tells me that something went wrong while merging the databases: 'The auxiliary database at "HOT_148_May03_115m/AUXILIARY-DATA.db" does not know anything about the split "PAC1-00000019_split_00001"'
Not sure how to fix this issue though ..

Here's the output:
[code]

[2019-04-30 20:41] meren commented on #1148
This is very interesting and should never happen. Can you please send the output of these two commands:

[code]

[2019-05-01 08:54] NVOostende commented on #1148
Ok, good to know! I'm learning a lot here ..
Here's the output:
[code]
[code]

[2019-05-01 13:59] meren commented on #1148
Well. One last question that should help us sort everything out. Can you please copy-paste this entire thing and run it in the same directory:

[code]

[2019-05-01 13:59] meren commented on #1148
Well. One last question that should help us sort everything out. Can you please copy-paste this entire thing and run it in the same directory:

[code]

[2019-05-01 17:38] NVOostende commented on #1148
OK, here we go:
[code]

[2019-05-01 18:35] meren commented on #1148
I don't understand how is this possible, @NVOostende :( All these numbers should have been equal, but they are all over the place. If you still have your BAM files would you mind re-profiling HOT_147_Apr03_125m and HOT_148_May03_115m samples and see if AUXILIARY-DATA.db in them contains the same number of items using the same command?

I have never seen this before, so I would be happy to find out

[2019-05-01 18:44] NVOostende commented on #1148
OK, will do (I'll need to sbatch it to the cluster, so hang on).
Thank you for looking into this!
Nicolas

[2019-05-01 20:02] NVOostende commented on #1148
OK, I think I know what happened and should've known why 'anvi-merge' didn't work. My mistake!
Thank you for all your help figuring this one out.
Best,
Nicolas

When generating the profiles, the minimum coverage was not set to zero but 1:
[code]
Setting '--min-mean-coverage' to zero took care of the issue:

[code]
Running 'anvi-merge' worked like a charm this time:
[code]
[code]

[2019-05-01 20:10] meren commented on #1148
Aha! This is very important for us to know. Setting a `--min-mean-coverage` flag potentially changes which contigs from a given contigs database to be characterized in single profile databases as some contigs may have no coverage in some environments, and that leads to a problem in the anvi-merge step as now each auxiliary database contains a random subset of contigs.

Thank you very much for your

[2019-05-01 20:10] #1148 closed

[2019-05-01 20:14] meren opened #1149 "Setting `--min-mean-coverage` causes `anvi-merge` error"
Setting a `--min-mean-coverage` flag at the `anvi-profile` stage changes which contigs from a given contigs database are characterized in single profile databases (as some contigs may have coverage less than `--min-mean-coverage` parameter in some environments), and that leads to a problem during the `anvi-merge` step as now auxiliary databases likely contains a random subset of contigs.

We need

[2019-05-01 23:43] ozcan commented on #1145
Hi @SamLambrechts,
We have just released `anvio=5.5`, can you try installing the new one?

[2019-05-03 00:20] xvazquezc opened #1151 "anvi-get-short-reads-from-bam broken??"
Hi folks,

I'm trying to run `anvi-get-short-reads-from-bam` but the process fails. I tested anvi'o 5.3, 5.4 and 5.5 and all end in the exact same error:

[code]

In all cases, they are conda environments in Ubuntu.

Cheers

[2019-05-03 14:00] splaisan opened #1152 "fresh conda install v5.5 ok but mini test fails"
I am working under ssh connection on a ubuntu server.
Install went OK (I think) buty mini test fails and I do not get a browser instance starting.

Any idea what I should do differently (set python to a higher version during install?)

Thanks

**Installed with conda**

`conda create -n anvio5 -c bioconda -c conda-forge anvio=5.5`
...

**all seems OK**

**python -V**
Python 2.7.12

**conda list**

[2019-05-03 14:47] ozcan commented on #1152
Hi @splaisan,

This usually happens Anvi'o fails to load CONCOCT.  If this is the case you should see message like below while running the tests.

[code]

But if you do not need CONCOCT, you can just ignore this error and test, your anvi'o installation seems fine. Probably interactive interface will work fine too.

However, if you need CONCOCT, you can manually build as I described in another issu

[2019-05-03 14:58] splaisan commented on #1144
I tried but it seems my numpy is playing jokes or it is something else...

[code]

[2019-05-03 15:00] meren commented on #1151
Hey @xvazquezc,

I tried to recapitulate the error. It first worked for me:

[code]

But then when I tried it like this, I got the same error:

[code]

:)

I will fix the code to make sure it checks whether the contigs db is there or not before it gets all the way down here, but I think your fix will be pretty simple on your end to move on for now.

Best,

[2019-05-03 15:02] ozcan commented on #1144
Sorry, I forgot to mention in the previous comment the build dependencies are different from the runtime dependencies, You need the things below:
    - numpy
    - cython
    - gsl
It seems you already have numpy (the warning is not really important). You need to install the rest using `conda install cython gsl`

[2019-05-03 15:03] #1151 closed

[2019-05-03 18:36] splaisan commented on #1144
not yet there :-) the gsl is not found!

I did the two installs as advised then expanded fresh fro the tar.gz and tried again

[code]

[2019-05-06 08:16] tdelmont opened #1153 "Concatenation with genes from different HMM sources"
From Master,

So, I tried to concatenate genes from different HMM sources and got this very clear error message:

[code]

Here I am trying to convince developers to allow concatenation of genes from different HMM sources:

I use 8 HMM sources for a single gene each. This allows me to control e-value cut-off for each gene (e.g., e-10 for gene A and e-50 for gene B). As a second advantage, this allo

[2019-05-06 08:34] tdelmont opened #1154 "It is now impossible to add a single-copy HMM collection."
Hello,

Using Master here,

Since the new developments for better estimating domain of life, it seems not possible anymore to add a single-copy HMM gene collection into the CONTIGS.db:

[code]

(the bug disappears as soon as I delete the new collection, as expected)

I am testing new collections for estimating completion of viral MAGs, and it would be fantastic to be able to estimate completion no

[2019-05-06 13:49] meren opened #1155 "anvi'o is now unable to summarize blank profiles"
Basically it returns an empty output:

![image](https://user-images.githubusercontent.com/197307/57229469-cb3ffc80-6fdb-11e9-8112-ac3b7f121111.png)

![image](https://user-images.githubusercontent.com/197307/57229446-b8c5c300-6fdb-11e9-84a6-5bdafb909c2f.png)

[2019-05-06 18:37] ozcan commented on #1144
Hi,
It seems for some reason `setup.py` can not find the gsl. you can manually put gsl paths in `setup.py`.

There is a section in setup.py like below:
[code]
In order to find location of gsl on your system, you can use `pkg-config` tool.
```pkg-config --libs-only-L --cflags-only-I  gsl```
should print something like below (the one with -I is includes directory, -L is the library)
[code]

Best,

[2019-05-07 11:52] YU-DENG opened #1156 "blastn hit ring visualize in anvio5"
Hi,

I am very impressed by the figure (Alignment of MinION long reads to pWCP) in your recent publication related  to  the pWCP.

I read the blog and found the individual blastn results were visualized in Kablammo, and my question is can anvio5 generate the blastn hit ring image like in this figure ?

Thanks a lot for the help !

![image](https://user-images.githubusercontent.com/48442578/5729701

[2019-05-07 16:40] meren commented on #1156
Dear @YU-DENG, unfortunately there is no script in anvi'o to generate similar figures. I did this semi-manually, and I wish I had extra time to put into a single, generalized program.

It is not very hard to code this functionality in reality, but given how specific it is (i.e., it will only work for a small number of BLAST hits that nearly cover the entire contig of interest), it may be reasonabl

[2019-05-07 16:40] #1156 closed

[2019-05-07 18:00] meren commented on #1153
Important. I will look into this.

[2019-05-07 19:19] michaelkyu commented on #1144
I was running into the same build error with gsl. I installed `gsl` with conda, but `pkg-config` still could not find it.

I was able to solve this by installing `gcc` with `conda install gcc`. I'm not sure why this works, but I got the idea from https://github.com/BinPro/CONCOCT/issues/117#issuecomment-343622462

[2019-05-07 19:34] ozcan commented on #1144
Awesome solution @michaelkyu,
It actually makes perfect sense to me. I did not realize until your comment but, the `pkg-config` output on my comment has paths with `/usr/local/Cellar/` prefix, which is a `homebrew` package manager directory. So I was using homebrew's gcc/pkg-config/gsl for compiling.

After your comment, I tried installing `conda install pkg-config` which correctly printed.
[code]

[2019-05-08 17:26] ekiefl opened #1157 "KeyError with anvi-gen-gene-consensus-sequences"
[code]

this leads to the following key error:

[code]

[2019-05-08 17:37] meren commented on #1157
Ah. PERFECT./

[2019-05-08 17:52] ekiefl commented on #1157
https://github.com/merenlab/anvio/commit/c6c675cf9e1fbad9512127ba50c77b4537ef4fa9

Very bad temporary fix

[2019-05-08 17:52] #1157 closed

[2019-05-08 17:55] ekiefl opened #1158 "Bad module design in variabilityops"
Bad design and variabilityops in dealing with splits and genes of interest. Code is beginning to fall apart. This was first noted in March and this bug brought it to my attention today: https://github.com/merenlab/anvio/issues/1157

I created this mess, but don't know how to fix.

[2019-05-09 12:47] tdelmont commented on #1081
Was not sure where to put it but this script saved my life, once again...

THANK YOU MEREN

[2019-05-09 13:02] meren commented on #1081
Haha :) Thank you for pushing for it!

[2019-05-09 13:16] ozcan opened #1159 "Searching functions does not work in refine interface"
This is reported on Slack. I have tested and confirmed the bug, and it looks pretty easy to fix. Only needs to be filtered according to splits of interest.

[2019-05-09 19:50] SchmidAbby opened #1160 "Update online documentation for metagenomic workflow profiling step"
The default has been changed to including orphan reads, so this is out of date:

![vignette-orphans](https://user-images.githubusercontent.com/34549767/57482134-7e715580-7269-11e9-9f87-21f53f4e91dc.PNG)

[2019-05-13 22:00] mdimdadi opened #1161 "Refining bin using Anvi'o"
I was following the tutorial from this page: http://merenlab.org/2015/05/11/anvi-refine/
The first command is: $ anvi-merge */RUNINFO.cp -c contigs.db -o MERGED_PROFILE --skip-hierarchical-clustering

Would you please explain the */RUNINFO.cp here. I was able to make the contigs.db file for -c option.

I have my bins generated from metabat and CONCOCT.

[2019-05-13 22:04] meren commented on #1161
That is a very old material. That command should go like this now:

[code]

[2019-05-13 22:04] #1161 closed

[2019-05-13 22:25] mdimdadi commented on #1161
ok. What is the PROFILE.db and how to make or generate this? Sorry I might be asking very silly question. I am very new at this.

I just want to refine my bin and all I have now is my bin and Anvi'o installed. Trying to find a good step by step tutorial for refining the bins.

I appreciate your help and time, Murat.

Imdad

[2019-05-14 13:57] ShaiberAlon commented on #1161
Hi @mdimdadi,

I would recommend joining our discussion group on Slack, here is a link that would allow you to join:
https://slackin-ezbpfhwsmh.now.sh/

Specifically, there was recently a relevant discussion there: https://anvio.slack.com/archives/C8SFMGYF3/p1556647192071600

Please let me know if that was helpful.

[2019-05-14 14:14] meren commented on #1161
And this is another discussion that could help:

https://anvio.slack.com/archives/C8SFMGYF3/p1555984584018500

A screenshot from that discussion; you need to replace 'for each isolate' down below with 'for each MAG' for your case:

![image](https://user-images.githubusercontent.com/197307/57704972-8db92000-7628-11e9-85be-d6c89b605b32.png)

[2019-05-15 21:36] jolespin opened #1162 "pkg_resources.DistributionNotFound: The 'portend>=2.1.1' distribution was not found and is required by cherrypy"
I'm working on a pipeline and would like to include `anvio` in the mix.  Unfortunately, it relies on a few tools that depend on `python2` (I use Python 3 for everything else) so I cannot upgrade to the current version of `anvio` for this environment without making things extremely complicated.

Does anyone have any insight on how I can get this installed correctly?  I did a conda install but cherr

[2019-05-16 00:01] xvazquezc commented on #1162
For what I see it's trying to install anvi'o v2 because you have Python 2.7 in your environment. Note that anvi'o 2 is really old and lacks of many of the current tools available. Also, all later versions of anvi'o use Python 3, so I don't know if it would be more appropriate to switch your env to Python 3...

Some programs work well from outside the environment if you give the full path. You may

[2019-05-16 00:04] jolespin commented on #1162
Do you know of any ways to get python2 and python3 in the same conda environment?

[2019-05-16 00:10] jolespin commented on #1162
Also, how do you get around using `checkm` if `anvio` uses `python3`?

[2019-05-16 00:18] xvazquezc commented on #1162
I don't even know if it's even possible to have a single conda environment with both Python versions. The idea is having isolated environments after all.

AFAIK anvi'o does not run CheckM, it uses it's own SCG libraries for C/R estimates. I think you can import some of the CheckM output but that's run separately.

[2019-05-16 00:23] jolespin commented on #1162
Good to know.  I can hack something up in the meantime.  Right now, `checkm` is the limiting factor to extending the pipeline out.  They are working on a Python3 compatible version but it may not be out until next year.

[2019-05-16 00:41] meren commented on #1162
Dear @jolespin, as @xvazquezc anvi'o `v2.1` is very very old at this point. We are at `v5.5`. I hope you can solve this by using multiple virtual environments for different Python versions and switch between them depending on the analysis step.

I am closing this issue for now as there is nothing to address on anvi'o side as far as I can see, but we can continue the discussion.

Best,

PS: I sent

[2019-05-16 00:41] #1162 closed

[2019-05-16 18:05] mdimdadi commented on #1161
I have done the following so far following your suggestion and got the error provided down below:
sorry for the long post though. I really appreciate your time and help.

**$ anvi-gen-contigs-database -f ../../567_cont3.fa -o contigs.db**
this created a contigs.db file from my contigs.fa file
the I ran:
**$ anvi-init-bam ../../567_cont3_aln-pe_sorted.bam -o 567_cont3_aln-pe_sorted_indexed.bam**
th

[2019-05-16 18:13] ShaiberAlon commented on #1161
Hi,

In order to visualize a single profile database you must redo the anvi-profile, but add the flag
 --cluster-contigs (As is mentioned in the warning).

In other words, redo the profile step like this:
anvi-profile -i 567_cont3_aln-pe_sorted_indexed.bam -c contigs.db -T 32 --cluster-contigs

[2019-05-16 18:15] mdimdadi commented on #1161
Oh. Thank you very much. I have started it already. I will let you know how it goes.

[2019-05-16 20:23] mdimdadi commented on #1161
I have run the anvi-interactive with --server-only option and got the following messages:
 * The server is now listening the port number "8082". When you are finished, press
CTRL+C to terminate the server.

when I go to a browser to see the visualization and paste the link "http://localhost:8082" nothing shows.

What should I do?

Thanks,
Imdad

[2019-05-16 20:37] meren commented on #1161
Are you running `anvi-interactive` this on a server through SSH or on your own computer?

If you are running it on your own computer, restart your computer, and try again.

If you are running it on a server, take a look at this blog post:

http://merenlab.org/2015/11/28/visualizing-from-a-server/

[2019-05-16 21:17] mdimdadi commented on #1161
Yes I am working on a server from a remote connection.

This is what I have done:
connected to my server rameshgoel.civil.utah.edu using
$ ssh -L 22:localhost:8095 mdimdadi@155.98.14.181
I have used 22 as this is our port number for our server and forwarded it to localhost server port 8095.
then I have executed "anvi-interactive" command and got the following message:
* The server is now listening

[2019-05-16 21:28] meren commented on #1161
Did you also follow the *exact* suggestion on the web page with respect to port numbers and make sure that doesn't work either?

[2019-05-16 21:28] meren commented on #1161
As a user you have no permission to use the port number `22`. It requires super user access. There is a reason the web page makes suggestions the way it does.

[2019-05-19 22:56] meren commented on #1155
I can't reproduce this error with the current `master`. @tdelmont, just so you know.

I tried both with mini test and infant gut. seems to be working well.

[2019-05-19 22:56] #1155 closed

[2019-05-19 23:05] meren commented on #1142
Hi @sirmicrobe, we resolved this issue in #1143 if you take a look at [this example](https://github.com/merenlab/anvio/issues/1143#issuecomment-487211317), you can see that it is very similar to what you suggested. It is currently available in anv'o `v5.5`.

Best wishes,

[2019-05-19 23:05] #1142 closed

[2019-05-20 14:46] themarczi opened #1163 "Anvio merging error due to profiling issue"
Tryting to see what went wrong...
These are the steps i toke.
1- cat *.fasta > Pseudo.fasta
2- anvi-script-reformat-fasta Pseudo.fasta -o Pseudo1.fasta -l 0 --simplify-names
3- anvi-gen-contigs-database -f Pseudo1.fasta -o Pseudo.db
4- anvi-run-hmms -c Pseudo.db
5- anvi-run-ncbi-cogs -c Pseudo.db
6-
anvi-init-bam SAMPLE-01.bam -o PSAMPLE-01.bam

anvi-init-bam SAMPLE-02.bam -o PSAMPLE-02.bam

anvi-

[2019-05-20 15:58] efogarty11 opened #1164 "Don't see SNVs in the inspect page when using anvi-inspect"
When I open the inspect page from the interface I can see SNVs, but when I run anvi-inspect to inspect the same contig I no longer see SNVs. I'm visualizing about 2100 metagenomes, which may be part of the issue.

The commands that I ran are on slack. Thanks!! If there's anything else you need please let me know :)

[2019-05-20 18:09] meren commented on #1163
I am sure one of the things you are doing wrong is not reading the questionnaire that shows up when you click the "new issue" button so we have a better idea about your anvi'o installation, etc.

[2019-05-20 18:09] #1163 closed

[2019-05-20 18:18] #1164 closed

[2019-05-20 21:00] ozcan commented on #1159
The commit above also fixes the numbers reported (`X results found in Y unique items`) in gene mode too.

[2019-05-20 21:00] #1159 closed

[2019-05-20 21:04] themarczi commented on #1163
'''
(anvio5) marczi@Minux:~/Desktop/Pseudo-final-fasta/SAMPLE-01.bam-ANVIO_PROFILE$ anvi-self-test --version
Anvi'o version ...............................: margaret (v5.5)
Profile DB version ...........................: 31
Contigs DB version ...........................: 12
Pan DB version ...............................: 13
Genome data storage version ..................: 6
Auxiliary data storage v

[2019-05-20 21:10] ShaiberAlon commented on #1159
You are the best @ozcan  :-)

[2019-05-20 21:57] meren commented on #1163
Do you see anything in the output messages of `anvi-profile` step (step 7)? Can you copy paste one of the `anvi-profile` output?

[2019-05-21 03:20] jolespin opened #1165 "`external-gene-calls` from `prodigal v2.6.3` are not working when creating contig database"
I've parsed the orf identifiers from `prodigal v2.6.3`.

Here's my `anvi'o` version:
[code]

Here's my output when trying to build contig database:
[code]

Here's my `external-gene-calls`:

[code]

Here's my `prodigal` orf identifiers:

[code]

This is my function to parse the `prodigal` identifiers: (yes, I should probably use regex instead but this was a quick test)

[code]

Also, how do I need

[2019-05-21 03:26] meren commented on #1165
If you add -1 to your start values, things will likely work out just fine :)

Please see the anvi'o string indexing convention here:

http://merenlab.org/2016/06/22/anvio-tutorial-v2/#external-gene-calls

[2019-05-21 08:06] jolespin commented on #1165
Thanks, it looks like it's working now!  Is it possible to give translated ORFs to ensure the correct codon table is being used in the translation or an option to specify which codon table is being used in this translation step?

[2019-05-21 14:15] meren commented on #1165
Great!

This is something we thought about multiple times, however, we did not address it in the codebase. Perhaps a solution could be anvi-gen-contigs-database to accept an additional FASTA files of amino acids for each gene call described in the external gene calls file. But I am not sure when can we do it realistically as we are all swamped with time-sensitive coding tasks.

But you can always

[2019-05-21 14:15] #1165 closed

[2019-05-21 14:34] jolespin commented on #1165
Yea, I can imagine there being a lot of moving pieces with a tool suite this expansive and such a large user-base.

If I have some extra time between projects I can help out to create a script that does this and/or a pull request with --external-protein-sequences on anvi-gen-contig-database.

Do you have any tutorials that show how to load the contig.db binary file into python (or is it just a pic

[2019-05-21 19:15] meren commented on #1165
Hi Josh,

That would be excellent. If you were to be interested in writing a script, you could get some inspiration from previous scripts. Perhaps `anvi-script-add-default-collection` would be a good start.

In your script the `main` function would look something like this:

[code]

If you decide to take a stab at it and if you need more input please let me know.

[2019-05-22 09:17] themarczi commented on #1163
I sent the files to you by email because i couldnt upload .db files here..

[2019-05-22 15:01] meren commented on #1163
When I try to profile the sample you sent me, this is the error I get from anvi'o:

[code]

I think this is an issue on your end that could be resolved by following the tutorial a bit more carefully.

[2019-05-22 19:35] meren commented on #1154
With latest commits, anvi'o will allow one to add a new SCG collection for a new domain with a caveat: domain prediction will not work for those bins that have SCG hits from SCG collections anvi'o does not know about.

There is a way to fix that though, if the user is willing to go one step further. I explained in [this document](https://github.com/merenlab/anvio/blob/master/anvio/data/misc/SCGDOM

[2019-05-22 19:35] #1154 closed

[2019-05-22 19:35] meren commented on #1154
Let me know if you test it and find issues.

[2019-05-22 21:19] #1153 closed

[2019-05-22 21:19] meren commented on #1153
This is done.

[2019-05-28 18:47] ozcan opened #1166 "Interactive interface should handle errors and not fail silently."

[2019-05-28 20:40] #1166 closed

[2019-05-28 20:45] ozcan commented on #1100
@meren, It seems `Binsanity` only works with Python 2.x, and even though we write a driver for it, It won't work in same conda environment so it is hard to run it even using the command-line.
What other algorithms do you suggest checking?

[2019-05-28 20:52] meren commented on #1100
I asked Elaine Graham and Ben Tully about BinSanity and Python 2.x issue. Maybe they can respond quickly.

[2019-05-31 15:27] mabster6 opened #1167 "ANI graph clustering"
=============================================
PLEASE READ THIS BEFORE SUBMITTING YOUR ISSUE
=============================================

Read the following text carefully, and remove it before submitting your issue.

THIS *IS* A TECHNICAL ISSUE
---------------------------------------------
We thank you in advance for your report. Please take a look at the items down below:

 * If this is a techn

[2019-05-31 15:28] mabster6 commented on #1167
There is no way to cluster for the ANI graph on both the X and Y axis.

[2019-05-31 16:43] ozcan commented on #1100
* DasTool
* --split-mode parameter
* system check print only available
* concoct parameters
* BinSanity driver and PR

[2019-06-03 00:57] ShaiberAlon commented on #1082
@ozcan, I just reproduced it again. I will send you a PAN database in a separate private email.

[2019-06-04 14:30] kaiher commented on #966
I had the same problem with anvio v5.5 installed on ubuntu 18.4.1 LTS via conda. Does the negative score (-1) mean exclusively high or low redundancy?

[2019-06-04 18:31] meren commented on #966
This does not seem to be a problem in `master`, @kaiher. It is probably fixed after `v5.5`.

What is the completion?

[2019-06-05 07:07] kaiher commented on #966
Thank you for quick reply. The point is whether I should remove the data with percent redundancy = -1 from my analysis. Kind regards.

[2019-06-05 13:55] meren commented on #966
I don't think so, @kaiher.

[2019-06-05 14:05] kaiher commented on #966
Thus, I include that data in the following analysis. Thank you for your advise!

[2019-06-07 19:10] rbartelme commented on #1152
Not sure if this matters much, but I noticed that @splaisan posted

`python -V
Python 2.7.12`

Would anvio be showing a CONCOCT error message due to v5.5 running on python3??

[2019-06-10 16:33] efogarty11 opened #1170 "Feature to make png (or equivalent) version of the inspect page from the command line"
This is a feature request. I am visualizing mapping from a ton of metagenomes (+2000) and it takes a very long time to load the interactive interface, and then from there takes a long time to inspect a split. I talked to Meren yesterday about the possibility of implementing a command-line way to generate a png (or something like that) to be able to visualize the inspect page without having to load

[2019-06-12 15:47] meren commented on #1170
I think we have everything for this. Almost. Here is a small test to demonstrate that. Using `master`, I run the mini test:

[code]

Once this is done, I took a look at the split names just to find one random to play with:

[code]

Asked anvi'o to give me coverages for one:

[code]

Then I used the following R code in RStudio to get the following output:

[code]

![image](https://user-images.githu

[2019-06-13 02:17] mooreryan commented on #1170
I can work on wrapping this in a script.

[2019-06-13 12:57] meren commented on #1170
@mooreryan, thank you very much for sending this. I truly appreciate your effort, however, I feel that what we need is more than a wrapper for that `ggplot` function call. I think an R program with room for evolution would be much more appropriate for the long run.

For instance, while I also am not an R expert, I believe there should be no hard-coded defaults in the code, and the current visualiz

[2019-06-13 16:49] mooreryan commented on #1170
Thanks for the response, I see what you're looking for now.  I will play around with it some more, and I will either update the pull request or close it by the end of today.

[2019-06-13 20:05] carloshenriquezc commented on #1091
Sorry for the late reply.

ANI is working with a db v13 and the latest anvio.

Any way to see the color bar for the heatmap of the ANI.

Regards!

On Wed, Apr 10, 2019 at 6:38 PM A. Murat Eren <notifications@github.com>
wrote:

--
Carlos Henríquez C.  PhD.
Laboratorio de Oceanografía Microbiana.
Departamento de Oceanografía.
Universidad de Concepción.
Fono: +56412661275.
Chile

[2019-06-14 12:09] jnesme commented on #1073
If that's still active, I do have a shotgun metagenome, together with corresponding HiC data that I'd be happy to share with you. It's a wastewater sludge metagenome and its spiked with a known plasmid in two different hosts in known ratio

[2019-06-14 16:52] alexximalayaunlv commented on #237
Hi, I encountered similar problem with bash. The anvio 5.5 was installed using conda using the code below:

conda create -y  python=3.6 -p /storage/hedlundlab/dengxun/software/conda/anvio

The installation information is as follows:
Downloading and Extracting Packages
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done
#
# T

[2019-06-14 19:02] #1170 closed

[2019-06-14 19:07] meren commented on #1170
@efogarty11, thanks to @mooreryan's contribution via the PR #1171, the `master` has now a program called `anvi-script-visualize-split-coverages`. Please feel free to test it on your gazillion samples (if you are interested, you can consider adding ridge line plots to this program for a compact alternative :)).

[2019-06-14 19:11] meren opened #1172 "anvi-get-split-coverages should report sample background colors in a separate file"
The program `anvi-script-visualize-split-coverages` (see #1171) accepts additional data files for samples to set background colors which has currently two columns, `sample_name` and `sample_color`. If there is a default state in the PRFOFILE.db, the program `anvi-get-split-coverages` can report an additional TAB-delimited file to utilize the color information stored in the database during visualiz

[2019-06-14 19:13] efogarty11 commented on #1170
That is amazing to hear! Thank you so much @mooreryan! This is going to make my life infinitely better 😄

[2019-06-18 18:38] mooreryan opened #1175 "anvi-script-visualize-split-coverages cannot handle files with multiple split_names/contigs"
## Version

anvio git repo version/commit: bfbcbb3592dfd18bd7ffc9880c5dac1e88bb37fb

## Problem

I was doing more work on the `anvi-script-visualize-split-coverages` script when I realized that multiple contigs/split_names per split coverages file will break the program.

I made a toy dataset to recreate the issue.

### Test data

Command run:

[code]

Input text file:
[multi_contig_multi_sample.s

[2019-06-18 20:13] meren commented on #1175
Hey @mooreryan,

Thank you for catching this! Indeed, `anvi-get-split-coverages` can report all splits in a bin/collection .... I totally forgot about this :/

My 2 cents suggestion is to have an additional flag (i.e., '`--report-each-split-separately`') --when declared, the program would report an independent PDF file for each split. Otherwise it would merge coverage values for ALL splits in alph

[2019-06-20 16:39] Leitemfa opened #1176 "Anvio-merge error with Auxiliary data"
Hello,

I was trying to perform anvio-merge but got the following error message

`Auxiliary Data Error: The auxiliary database at "anvio/anvio-MPR3_3n_CUR/AUXILIARY-DATA.db" does not know anything about the split "NODE_1000_length_17421_cov_32.925429_split_00001"
`

Below you will find the version of anvi'o I am using:

`Anvi'o version ...............................: margaret (v5.5)
Profile DB ve

[2019-06-20 21:37] meren commented on #1175
Here is a little test after @mooreryan's latest PR #1177. I made a small addition in 080db464e632eb5f6ef5982b9d58d8eae41e0ea0 to show the date and time, and then used the [Infant Gut Dataset](http://merenlab.org/tutorials/infant-gut/) to put the new feature up to a significant real-world challenge: visualizing the coverage patterns of an entire genome. After downloading the Infant gut dataset:

[c

[2019-06-20 21:59] meren commented on #1175
I am also realizing that an option for free y-scales is a necessity. So I implemented it in 9225ab14cff72dd8d561e56b3bab716a5e74e05b and this is how things look like now for the same data:

[code]

![image](https://user-images.githubusercontent.com/197307/59884089-cad9a600-937c-11e9-9c1a-d780690bae4a.png)

Pinging @efogarty11 so she knows that this is an option now.

[2019-06-20 22:23] mooreryan opened #1179 "Adding a --verbose option to anvi-script-visualize-split-coverages"
This commit 080db464e632eb5f6ef5982b9d58d8eae41e0ea0 updated the look of the logging for the `anvi-script-visualize-split-coverages`.

The other day I got about 1/2 way through adding a `--verbose` flag and further cleaning up the logging.

Something like this: https://gist.github.com/mooreryan/4e67b1ecbe097b43481c433908e81634

Log messages would look some like this then

[code]

The `#18632` is t

[2019-06-21 13:36] efogarty11 commented on #1175
Thank you both so much!! This is amazing 😄

[2019-06-26 14:35] zehanna opened #1182 "anvi-self-test crashes "no scg source found""
Hi,
I installed Anvi'o on my VM Ubuntu 18.04 OS following the guidelines for "painless installation with Conda" on the merenlab website, however when doing the self-test I keep getting the error message that no SCG source is found, and no browser window pops up at the end of the self-test. Any help would be very appreciated.

Anvi'o version:

[code]

Self-test results:

[code]

My conda environmen

[2019-06-26 21:55] ozcan commented on #1176
Hi @Leitemfa,

Thank you for reporting this and sorry for the late response, I think you are having this problem because of the `.` in the contig names. Anvi'o is usually pretty good at catching this kind of things early on and warn user but this might be an edge case. I will test this further and write you back.

Best,

[2019-06-26 22:04] ozcan commented on #1182
Hi @zehanna,

It seems SCG directory is empty for some reason on your installation,

This will print the directory where anvi'o is looking for hmm profiles for SCG's
[code]

Can you check if that directory is empty?

Best

[2019-06-27 13:12] zehanna commented on #1182
Hi @ozcan,

in that directory I find:

[code]
so it's not empty, but maybe something is missing?

Thanks already!

[2019-06-30 02:07] mooreryan commented on #1179
This commit ac9ebb956c89817f0c90c3c6c2dabbfeeabb1b6e fixes this issue.

[2019-06-30 02:07] #1179 closed

[2019-06-30 02:08] mooreryan commented on #1175
This is working properly now, so I will close this issue.

[2019-06-30 02:08] #1175 closed

[2019-06-30 06:34] YiweiNiu opened #1183 "IndexError: list index out of range when running anvi-setup-ncbi-cogs"
Hi,

I got the following error messages when running `anvi-setup-ncbi-cogs`

[code]

Here is the version information.

[code]

Do you know how to solve this? I appreciate the help you could provide.

Bests,
Yiwei Niu

[2019-07-02 09:18] kkpsiren commented on #922
Any updates on this? I just managed to do wreck few contigs.db as described in (related issue #917). Now I am afraid to do more than 1 operation at a time to a .db.

[2019-07-02 15:32] meren commented on #1183
Hi @YiweiNiu,

I can't reproduce this error. Both `master` and `v5.5` seem to be working.

Please rerun the same command with the flag `--reset` so it removes files from your previous attempt of setting them up. Basically run this:

[code]

Best,

[2019-07-02 15:32] #1183 closed

[2019-07-03 06:37] YiweiNiu commented on #1183
Hi,

I used `pip` under Anaconda to install `anvio` .

I tried `--reset` but still got the same error. I would try `EggNOG` for alternative. Thank you for your help.

Another quick question: does `anvi-import-taxonomy-for-genes` support importing data from multiple sources (e.g. I want to run Kaiju on two databases) like `anvi-import-functions`?

[2019-07-03 16:57] meren commented on #1183
No, unfortunately :/ But you can always create a copy of your contigs database. Although you should keep in mind that gene-level taxonomic annotation is only good for binning efforts and can be quite unreliable to estimate taxonomy of final genomes depending on the environment you are studying.

Can you please try one more time after manually deleting that directory and running `anvi-setup-cogs` a

[2019-07-04 15:42] meren opened #1184 "Error in NCBI genomes download workflow"
This is [reported by Jake Callaghan on anvi'o Slack](https://anvio.slack.com/archives/C8SFMGYF3/p1562086377079400), I am just carrying it here:

[code]

## The Error

This happens when Jake tries to run the contigs workflow on genomes from NCBI:

[code]

## How to reproduce the error:

[code]

Here is Jake's JSON file is set up- the simplest version:

[code]

[2019-07-04 23:05] ShaiberAlon commented on #1184
I repeated the steps described above, and I get no error (I used anvio 5.5, same as Jake.)

This log file (that is mentioned in the outline above) Could include a hint of what's going on, if Jake has it:

[code]

[2019-07-04 23:09] #1184 closed

[2019-07-04 23:10] ShaiberAlon commented on #1184
I'm closing this for now since I can't reproduce it.

[2019-07-05 05:12] YiweiNiu commented on #1183
Thank you for your quick reply.

I still got the same error after removing this directory. But I solved this by downloading files from `ftp://ftp.ncbi.nih.gov/pub/COG/COG2014/data/` to `~/software/anaconda3/lib/python3.5/site-packages/anvio/data/misc/COG/RAW_DATA_FROM_NCBI`. So, I suspect that it's due to our bad network connection. And the script does not check the completeness of the files.

But

[2019-07-05 18:53] meren commented on #1183
Because the only information in the output file was COG ids without full functional annotations, if I remember correctly. Having COGs enable us to resolve the function long name on the fly.

`amino-acid-sequences.emapper.annotations` :)

[2019-07-09 06:38] YU-DENG commented on #594
Hi,

Has this problem been solved ?

[2019-07-09 09:28] zehanna commented on #1182
Does anyone have an idea?

[2019-07-09 14:07] meren commented on #594
Yes, @YU-DENG.

[2019-07-09 14:45] ozcan commented on #594
Hi @YU-DENG,
Yes, this problem has been solved but many other things may cause the drawing to be crash. If you are experiencing something similar, you can press Command+Option+J (Mac) or Control+Shift+J (Windows, Linux, Chrome OS) to open Developer Tools Console in Chrome to see is there any error printed to the Console.
Best,

[2019-07-09 21:20] auslandc opened #1186 "anvi-run-hmms raises Config error"
Output from `anvi-self-test --version`:

[code]
Running on Ubuntu 16, installed with conda *painless* install.

Tried running `anvi-run-hmms -c GCF_000009045.1_ASM904v1_genomic.fna.fa.db` (as well as  `anvi-run-ncbi-cogs` separately) but received the following error:

`Config Error: A value for 'genes_are_called' does not seem to be set in table 'self'.`

When I created the contigs-db with `anvi-g

[2019-07-10 06:18] YiweiNiu commented on #1183
Thank you very much. The problem was solved.

[2019-07-13 20:33] michaelkyu opened #1187 "anvi-run-pfams fails when there are no hits"
### Anvi'o version

[code]

I installed `anvio` from the `master` branch on May 6, 2019 (this was the [last commit](https://github.com/merenlab/anvio/commit/4f4d25e00584f4bfa77037f447bdb849fc173073) of my version).

### Data to reproduce issue

Please see the attachment [tmp_anvi_pfam.tar.gz](https://github.com/merenlab/anvio/files/3389211/tmp_anvi_pfam.tar.gz).  The commands I mention below are i

[2019-07-17 02:21] ShaiberAlon opened #1188 "acceptable parameters for workflows"
@ozcan , @meren, there is a minor design issue that I wanted to discuss with you.

Currently, if a parameter is added (or removed) from one the anvio software that are included in the workflows then it means the workflow must be updated.
For example, `anvi-profile` in v5.3 had `--include-orphans` and in `master` it is now changed to `--ignore-orphans`, while the metagenomics workflow was not updat

[2019-07-17 14:24] ozcan commented on #1188
I am in favor of keeping the sanity checking, these parameter changes happen quite rarely we were just not aware this time. And most parameters already in workflows, so why remove them?
When I added this parameter, workflows were not in my mind so I didn't ping you or let you know but after this instance, I am sure we will be more conscious about these changes and let you know.

[2019-07-17 18:15] meren opened #1189 "TypeError for tnseq/inseq tests"
This is in `master`.

Running `./run_gen_gene_level_stats_tests.sh` after the last commit (1045128c801f1ce25637ca5226442f81bd9913bb) results in the following error:

[code]

Probably an easy fix for @eburgoswisc :)

[2019-07-18 03:55] ShaiberAlon commented on #1188
That sounds good @ozcan. Thank you!

[2019-07-18 03:55] #1188 closed

[2019-07-18 15:14] eburgoswisc commented on #1189
I can fix it! Also, im getting this error when running gene mode in anvi-interactive. I started working on a fix if thats all right.

[code]

[2019-07-18 16:14] meren commented on #1189
Sounds great :)

[2019-07-18 20:09] nailabc commented on #614
Hi, I'm also trying to reproduce the same workflow for my own data and I'm facing a problem that I couldn't solve yet while trying to run the python script (02-estimate-similarity.py) that uses the delta nucmer outputs.
The file REDUNDANT-MAGs-ANI.txt has zeros and nan at the last two columns:
[code]

And I get an error which seems to be something related to numpy and an empty list (probably the m

[2019-07-18 21:01] nailabc opened #1190 "02-estimate-similarity.py (from MAGs dereplication workflow) fails to return ANI"
Hi, this is not directly related to anvio, as I'm trying to reproduce Tom's dereplication workflow for redundant MAGs with my own data. But I'm facing a problem that I couldn't solve yet and maybe someone could help me.

When I try to run the python script (02-estimate-similarity.py) that uses the delta nucmer outputs, the output file (REDUNDANT-MAGs-ANI.txt) has zeros and nan at the last two colu

[2019-07-20 16:01] eburgoswisc commented on #1189
I made some fixes for this issue! Should I open up a new PR? Sorry it took me a bit, I got held up with benchwork :(.

[2019-07-20 16:04] meren commented on #1189
Thank you, @eburgoswisc! A PR addressing this issue would be the best strategy, I think :)

[2019-07-20 18:25] meren commented on #1189
Thank you very much, @eburgoswisc. I am testing it right now and realizing there are some necessary changes for this to work. I will associate the commit with this issue so you can take a look later.

[2019-07-20 19:25] meren commented on #1189
Hey @eburgoswisc, please take a look at the changes I've made in the PR #1193.

Everything is working like a clock now, but one problem remains. There is no way to pass parameters to the computation of the tn-seq stats. That is OK, though, and can wait for someone to complain about it first.

[2019-07-20 19:25] #1189 closed

[2019-07-22 16:22] nailabc commented on #614
I fixed the bug by editing line 59 of the 02-estimate-similarity.py script:
`        # this is tricky:
        m = []
        list(map(lambda n: m.extend([n[1]] * n[0]), matches[target_genome_name]))
`

[2019-07-22 16:23] nailabc commented on #1190
I fixed the bug by editing line 59 of the 02-estimate-similarity.py script:

[code]

[2019-07-22 16:23] #1190 closed

[2019-07-22 18:32] meren commented on #1190
Thank you for going after this and reporting back, @nailabc. And apologies for the late responses.

Best wishes,

[2019-07-22 18:38] meren commented on #1190
@nailabc, I also updated the original script to make sure your fix is permanent:

https://gist.github.com/meren/052e283343030e2a282702bcb7894253/revisions

Thank you again,

[2019-07-24 19:30] sminot opened #1196 "Feature request -- test for enrichment of gene clusters independently from functional annotations"
The current behavior of the anvi-get-enriched-functions-per-pan-group function is to calculate enrichment scores _per functional group_ within a given category of genomes, grouping together gene clusters which have the same functional annotation.

While this behavior is very useful, I would like to request an augmentation of this function which would allow the user to calculate enrichment scores i

[2019-07-24 19:45] meren commented on #1196
Hi @sminot,

Thank you very much for the suggestion.

I solved this problem by implementing a new flag, that on the fly adds a new (well, 'fake') functional source called `IDENTITY`, which annotates each gene cluster with their name as a function:

https://github.com/merenlab/anvio/commit/92f34bf20194024e55e9339df70389ff0c0aee91

This way you can achieve exactly what you want by including `--inclu

[2019-07-24 19:46] sminot commented on #1196
This makes great sense, thank you!

Can I expect that this will be included in the next release of anvi'o?

[2019-07-24 19:49] meren commented on #1196
Yes! Along with a much improved functional enrichment workflow thanks to @ShaiberAlon and Amy Willis' efforts.

If you want to test it immediately, you can switch to the `master` branch:

http://merenlab.org/2016/06/26/installation-v2/#installing-or-updating-from-the-active-codebase-because-why-not

[2019-07-24 20:35] jolespin commented on #71
In response to your comment above:

Essentially, I have a dataset where I'm trying to figure out if a bin is bacteria or eukaryotic algae.  Can Anvi'o do this?

[2019-07-24 20:40] meren commented on #71
Anvi'o does this now (currently in `master` and will soon be available as stable. It uses a random forest classifier to predict the domain of a given genome using commonly used SCGs as well as @tdelmont's curated list of eukaryotic SCGs.

It has been working quite well for us. If you try, let us know how it went for you.

[2019-07-24 20:42] jolespin commented on #71
Sounds good, I can try it out right now on a diatom we just sequenced.  Is there any docs showing the usage? If not, which script should I run (or HMM dataset)? Thanks

[2019-07-24 22:13] meren commented on #71
Great!

To test it you can run it on a collection this way, @jolespin:

[code]

When I run it on the infant gut dataset, this is what I get:

[code]

[2019-07-25 12:26] fetyj opened #1197 "File/Path Error"
Hello,
I'm trying to get pangenomic analysis for Lactobacillus plantarum from NCBI, then follow the tutorial here (http://merenlab.org/2019/03/14/ncbi-genome-download-magic/#processing-ncbi-genomes)
Problem, when I get to that part ``` anvi-run-workflow -w contigs -c contig.json ``` I got this error message
[code]
So I create a bash file as the example but now I get stuck with this kind of error
[

[2019-07-25 15:36] meren commented on #1197
Hi @fetyj,

I am not sure if this error is associated with `v5.4` and fixed in `v5.5` because we do not have any other complaints about this workflow.

Please consider upgrading your anvi'o version to `v5.5` and try again. I apologize for the extra work, but we do not have the human resources to support older versions of anvi'o :)

Best wishes,

[2019-07-25 15:36] #1197 closed

[2019-07-25 15:39] #1196 closed

[2019-07-25 18:56] jrunde1 opened #1198 "Collection mode in `master` fails to return sequences for HMMs through the right-click menu"
[code]

[2019-07-25 19:13] ozcan commented on #1198
Thanks for reporting Joe,
Now popup appears instead of an error saying `"HMMs for single-copy core genes were not run for this contigs database. "`. If you have run the HMMs and still got this error, that might be another bug.
Best,

[2019-07-25 19:13] #1198 closed

[2019-07-26 08:02] fetyj commented on #1197
Indeed, upgrading fix it! Thanks for the help :)

[2019-07-26 15:10] ozcan opened #1199 "scikit-learn: UserWarning: Trying to unpickle estimator DecisionTreeClassifier from version 0.19.2 when using version 0.21.2"
This warning appears when using the latest version of the `scikit-learn`. Instructions required to re-train the model.

[2019-07-29 13:38] scottdaniel opened #1200 "Problem with anvi-get-sequences-for-hmm-hits: Library not loaded: @rpath/libopenblas.dylib"
Hi guys,

I'm on Mac OS Mojave 10.14.5 and have installed anvio using conda. I'm getting an error when running through the tutorial here http://merenlab.org/2017/06/07/phylogenomics/

Specifically, I get the error when using the command `anvi-get-sequences-for-hmm-hits` full output below...

[code]

Here are the details of my conda anvio environment:

[code]

And `conda --version
conda 4.7.5`

Tha

[2019-07-29 19:38] ozcan commented on #1200
Hi @scottdaniel,
You can find some suggestions about this issue here https://groups.google.com/d/msg/anvio/h-B_6w7kMco/gVk8o2lQBwAJ

[2019-07-29 20:41] pbravakos opened #1201 "Pangenome functional enrichment"
Hi,
I am running a functional enrichment analysis with anvi-get-enriched-functions-per-pan-group. I get the output without any errors. From the output i select a gene cluster that in the "core" column has the value "True" and copy it. Then i search the pangenome database for the particular gene cluster but it does not belong to the core pangenome. This happens for multiple gene clusters not a part

[2019-07-29 21:24] scottdaniel commented on #1200
Hiya,

It looks like doing this fixed it:
`pip install https://github.com/scikit-learn/scikit-learn/archive/4035e60a6f0a0a2546bf0442ab603961c6a9cc4a.zip`
In the anvio conda environment

After it installed the developer version of scikit-learn, I ran the mini-tests and the `anvi-get-sequences-for-hmm-hits`:

[code]

[2019-07-30 00:58] meren commented on #1199
This is explained in the following document:

https://github.com/merenlab/anvio/blob/master/anvio/data/misc/SCGDOMAINCLASSIFIER.md

Basically, one can run these commands to re-train their classifier:

[code]

[2019-07-30 00:58] #1199 closed

[2019-07-30 21:19] meren commented on #1201
This is very concerning indeed, @pbravakos :)

But I realize you are working with the `v5.4`, and I am not sure if this is a bug that was fixed in `v5.5`. I would appreciate very much if you would consider trying it again with the latest version and re-open this issue if it is still there.

[2019-07-30 21:19] #1201 closed

[2019-07-30 23:03] ohthetrees opened #1202 "fresh install, anvi-self-test fails"
Hello, I'm on Mac OS 10.14.4. I freshly installed conda just for the purpose of installing anvio on this machine, but I'm having problems passing the self test. Thanks in advance for any advice you can offer.

[code]
The output is long, I snipped it:

[code]

[2019-07-31 15:10] ozcan commented on #1202
Hi @ohthetrees,

Some people solved the issue by installing the latest version of `scikit-learn`. There are more suggestions on this thread https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/anvio/h-B_6w7kMco/gVk8o2lQBwAJ

[code]

[2019-07-31 19:25] ohthetrees commented on #1202
Thanks @ozcan . Can you share any plans for a fix? I would like to keep the install stock and simple, without having to do manual installs.

Thanks,
Cedar

[2019-07-31 20:13] smsaladi commented on #1202
The following also seems to work:

[code]

sklearn is installed from pip which might be doing the trick.

[2019-07-31 20:14] smsaladi commented on #1200
Another fix in #1202

[2019-08-07 03:02] xxz19900 commented on #1202
Config Error: Some bin names you declared do not appear to be in the collection CONCOCT.

Config Error: According to the exit code ('255'), anvi'o suspects that something may have gone
              wrong while running your tests :/ We hope that the reason is clear to you from
              the lines above. But if you don't see anything obvious, and especially if the
              test ended up ru

[2019-08-09 19:40] jvhagey opened #1206 "Config Error: The entry name appears twice need --just-do-it"
Hi Anvi'o team, I am running anvi-run-hmm on a custom set of hmms from the FOAM database (https://academic.oup.com/nar/article/42/19/e145/2902479). Currently, anvio (v5.5, installed via conda in its own environment) gives a config error that correctly points out that there are entry names that appear more than once in the genes.txt file.

[code]
The hmm file from the FOAM data has duplicate names

[2019-08-10 06:51] Micorbes1plus1 opened #1207 "An error happens when I run the anvi-run-workflow -c contigs. It was due to the failure in running 'jobid=8'."
=============================================
PLEASE READ THIS BEFORE SUBMITTING YOUR ISSUE
=============================================

Read the following text carefully, and remove it before submitting your issue.

THIS *IS* A TECHNICAL ISSUE
---------------------------------------------
We thank you in advance for your report. Please take a look at the items down below:

 * If this is a techn

[2019-08-12 16:39] ozcan commented on #1207
Hi @Micorbes1plus1,

Formatting is really bad in this issue and I am closing it, please feel free to open a new issue with correct formatting. We are willing to help.

Best,

[2019-08-12 16:39] #1207 closed

[2019-08-13 12:25] biotemon opened #1208 "anvi-migrate-db stuck at v5 to v6"
Hello,

This is a techincal issue which I don't know where else to find a solution.

As requested here it is the `anvi-self-test --version` output.

[code]

Issue description: I am trying to reproduce a previous study. The PROFILE.db is version 5 apparently.

When I do:

[code]
I get.

[code]

Operating system: macOS Mojave, version 10.14.6

Files to reproduce the issue:
https://figshare.com/artic

[2019-08-13 16:21] ozcan commented on #1208
Hi @biotemon,

Unfortunately there is no way to migrate v5 to current version v31. That version belongs to one of the earliest releases of anvi'o that released almost three years ago. Anvi'o is backwards compatible  with any profile db above v13. You can always generate profile db from scratch using new version if you have access to raw data.

Best,

[2019-08-18 14:28] meren commented on #1206
Hi @jvhagey,

Apologies for the late reply. I just played with this a bit to turn that error into a warning for users who know what they're doing, but I realized that it causes another problem now. This is probably associated with the new release of HMMER. I'm using `v3.2` for your reference.

When I have multiple HMM entires with the same NAME and still different ACC properties, `hmmpress` gives

[2019-08-18 19:17] jvhagey commented on #1206
I used `hmmer v3.1b2` and didn't get that error when I used `hmmpress`, it's good to know for the future though.  Maybe since this shouldn't happen in the future given hmmer newest version there isn't a big reason to change this in anvio. To get around this for my purposes I just wrote a short little [script](https://github.com/jvhagey/CDRF_Metagenomics/blob/master/Functional_Annotation/FOAM_2018/

[2019-08-18 19:21] meren commented on #1206
Thank you, Jill. I think your solution is the most reasonable approach given the rare need for this. Alternatively anvi'o could have given a warning instead of an error, and fail gracefully if hmmpress returns an error depending on the user version, but I think it will be an overkill :)

I am closing this issue for now and will update the current error message so it is clear to people why we are n

[2019-08-18 19:21] #1206 closed

[2019-08-19 15:10] rbartelme opened #1211 "anvi-compute-ani distance and linkage flag error"
When specifying alternate distances and linkages to PyANI via anvi-compute-ani, and error occurs

`anvi-compute-ani -p PAN.db -e my-external-genomes.txt --distance hamming --linkage centroid -o Output_ANI`

This gives this following error:

[code]

[2019-08-19 16:46] ozcan commented on #1211
Thank you for reporting @rbartelme, It seems anvi'o was silently failing if distance and linkage is not compatible, now there is a check for it.

[2019-08-19 16:46] #1211 closed

[2019-08-19 16:50] ozcan commented on #1211
You can manually check compatibility until the next release using the snippet below

[code]
It will raise an exception if they are not compatible.

[2019-08-21 13:09] pbravakos opened #1213 "Pangenome functional enrichment"
Hi,
I am running a functional enrichment analysis with anvi-get-enriched-functions-per-pan-group. I get the output without any errors. From the output i select a gene cluster that in the "core" column has the value "True" and copy it. Then i search the pangenome database for the particular gene cluster but it does not belong to the core pangenome. This happens for multiple gene clusters not a part

[2019-08-21 21:42] meren commented on #1213
Thank you very much for trying this again the latest version, @pbravakos :)

I will ping @ShaiberAlon here in case he sees immediately the explanation for it.

[2019-08-21 23:29] ShaiberAlon commented on #1213
Hi,
The “core” in this case refers to a core function and not a core gene cluster. I believe that for each of those core function that don’t correspond to a core gene cluster, you would see that these functions each correspond to multiple gene clusters (you can see that in the output of the enrichment analysis). I think this subtlety is explained in the tutorial. Please let me know if you need fur

[2019-08-22 00:15] meren commented on #1213
Thank you very much for the clarification, @ShaiberAlon.

2 cents: Perhaps we should change the word in the output to "CORE_FUNCTION" to avoid future confusions :)

[2019-08-22 00:15] #1213 closed

[2019-08-22 06:43] pbravakos commented on #1213
Thanks for the response. Now it all makes sense.
It would be nice for my work -and i am posting it here as a feature request- to have a column where the actual number of GC clusters belonging to the core pangenome is shown. For example if i get in the "gene_clusters_ids" column 6 GCs, i would like to have an additional column that would indicate how many of them belong to the core pangenome. I am

[2019-08-22 23:37] meren commented on #1213
Hi Panos,

I can see a solution to your need that meets high design standards of anvi'o codebase, but since (1) it requires so much work while (2) not essential most analyses and (3) the information is recoverable by using functional output in conjunction with other anvi'o outputs (i.e., anvi-summarize or anvi-export-collection after binning GSs into logical groups (i.e., core, accessory, etc)), I

[2019-08-23 06:39] pbravakos commented on #1213
Hi Meren,
Thanks a lot for the response.
I have found a workaround by using a small script to do exactly what i need. My only issue is i haven't found a command line program to "search the gene clusters using filters" in order to extract the core gene clusters to a text file and i have to do it manually from the interactive mode. Is there such a program?
I know that probably this is not the best p

[2019-08-23 07:31] pbravakos commented on #1213
Sorry for bothering you again but I think i found something related to the functional enrichment analysis that seems to me as a bug but I am certainly not sure. I have 23 genomes in my pangenome and have separated them into two groups for the functional enrichment analysis; one consisting of 8 genomes and one consisting of 15 genomes. My understanding is that when the column "core in group" has th

[2019-08-23 09:03] ShaiberAlon commented on #1213
Hi Panos,

I apologize for the confusing terms, but “core in group” once again refers to the function and not to a particular gene cluster. I am away from the office so as for your other question, I will either get back to you next week or leave it for Meren to respond.

[2019-08-23 09:16] pbravakos commented on #1213
Thanks very much for the response and sorry if i keep bothering you with questions that seem trivial but really now I am confused. I do not understand how a function can be in the core of a group without having a single gene cluster belonging to the core?

[2019-08-23 09:21] ShaiberAlon commented on #1213
I apologize. This time I was the one to be confused. I thought you meant that the genomes in the group have gene clusters with that function, but the there is no single gene cluster that is shared by all the members of the group.

So what you really mean is that none of the gene clusters with this function is occurring in any of the members of the group? So this function actually seems to be absen

[2019-08-23 09:28] ShaiberAlon commented on #1213
Now just to make sure, when you say “gene cluster belonging to the core”. You mean a gene cluster that is in all genomes, right?

Multiple gene clusters can be annotated with the same function. Hence two genomes can have the same function without sharing any gene clusters.

My definition for “core in group” in the context of the functional enrichment refers to a function that is found in all the g

[2019-08-23 09:37] pbravakos commented on #1213
Thanks once again. One question to make sure i understand correctly:
In my example with the 15 genomes that form one group, and the 5 gene clusters that are associated with a particular function, each of the 15 genomes must be represented in at least one of those gene clusters in order to be in the core of the group?

[2019-08-23 09:44] ShaiberAlon commented on #1213
That’s correct. I’m happy to help with any other question.

[2019-08-23 10:09] pbravakos commented on #1213
Thanks for your time and patience @ShaiberAlon. I think now I have the basic understanding of how things work, so no more questions!
Best regards
Panos

[2019-08-24 02:48] #1208 closed

[2019-08-24 02:48] #1202 closed

[2019-08-26 20:32] andrewsonin opened #1215 "anvi-self-test --suite mini returns exit code '-2'"
Hi there,

I installed anvio-5.5 on my computer with Ubuntu 19.04 using the following command:
[code]
Then I tested the installation and got the rather strange output of `anvi-self-test --suite mini`. Except this, everything (other output messages and browser session) was fine.

UPD:
BIGSI search from `anvi-interactive` does not seem to work.

[code]
* `anvi-self-test --version` output:

[code]
*

[2019-08-30 16:52] ShaiberAlon opened #1218 "Default value of "wrap" in inspect page of gene clusters is too low"
The current default is 140. I think it is much more useful to have it so that by default it is much longer since it is much easier to scroll to the side to examine alignment than to scroll down.

A typical microbial protein has ~300 AA, but with alignment mismatch we can expect alignment length to be much longer.

I personally use 3000 by default (as soon as the page loads I just change it), but 1

[2019-08-30 17:52] sorbaram opened #1220 "Exit Code 1"
Hello,

I am attempting to run the self-test and am getting an error with Exit Code 1.  Any suggestions why it is getting an error trying to "ImportError: dlopen(//miniconda3/envs/anvio5/lib/python3.6/site-packages/sklearn/metrics/pairwise_fast.cpython-36m-darwin.so, 2): Library not loaded"

 Anvio was installed on a MAC running 10.14.5 using conda using:

conda create -n anvio5 -c bioconda -c con

[2019-08-30 17:53] SabeenR opened #1221 "anvio-insteractive not loading on chrome"
anvi-self-test --version
Anvi'o version ...............................: margaret (v5.5)
Profile DB version ...........................: 31
Contigs DB version ...........................: 12
Pan DB version ...............................: 13
Genome data storage version ..................: 6
Auxiliary data storage version ...............: 2
Structure DB version .........................: 1

*******

[2019-08-30 18:19] #1220 closed

[2019-08-30 20:07] ozcan commented on #1221
Hi,
The error about collections probably not related to interactive, it happens when CONCOCT fails to compile so no collection inside the profile db.

To test main issue, you can try to start a python web server using:
[code]
`0.0.0.0` means listen to connections from every network interface.

If you can connect to this web page but not to anvi'o using same ip `0.0.0.0` and port, that means there

[2019-09-02 10:24] AnaValero commented on #1197
Hi,
First of all, congratulations and thanks for creating such great tool that I'm looking forward to use in my projects.

I'm having the same problem with anvio version 5.5.0 (installed yesterday), using the Spiroplasma data:
http://merenlab.org/data/spiroplasma-pangenome/

Once I run the following command:
`anvi-run-workflow -w pangenomics -c pan-config.json`

I get the following error:

[2019-09-02 14:44] meren commented on #1197
Hi @AnaValero,

It is not complaining about characters in the file name. It is complaining about the `name` column in that file. If you look at the first column of the contents of this file, you should see names that match to what that Config Error says. There is a line in the workflow about that:

![image](https://user-images.githubusercontent.com/197307/64122096-4042f900-cd66-11e9-8374-8c03f8e44

[2019-09-05 02:31] Abonacolta commented on #1220
Any update on how to solve this issue?

[2019-09-05 12:05] AnaValero commented on #1197
Hi,

Many thanks for your prompt reply. I've been working on the issue and it
seems that it was due to the command below, as the added name was
"Spiroplasma_MAG.fat". I changed it to "Spiroplasma_MAG" and the issue was
solved.

echo -e "Spiroplasma_MAG.fa\t`pwd`/MAGs/Spiroplasma_MAG.fa" \

Afterwards I got different errors that I solved by setting up the COG
distribution (anvi-setup-ncbi-cogs) and

[2019-09-06 20:58] andrewsonin opened #1227 "PyANI fails due to the Pandas deprecated feature"
I tried to test pangenomic workflow with `anvi-self-test --suite pangenomics` and got an error. Based on log-file, it was appeared due to the use of deprecated static method `pd.DataFrame.from_csv`.

__Possible solutions__:
* Freeze an old `pandas` version in your anvio conda-environment. Just run:
 `conda install pandas=0.23.1`. It works with the current anvio version (5.5.0).

  If you have `Uns

[2019-09-09 16:03] ShaiberAlon opened #1228 "anvo-export-locus exports overlapping things (in v5.5)"
Notice: I only tested this behavior with `v5.5` and I don't know if this was modified in `master`, but I assume it wasn't.

When a contig includes two hits for the search term, and the two hits are close enough (according to exporting length requested by the user) then a separate output would be created for each of these. On one hand, that makes sense, but I am not sure that it is a favorable beha

[2019-09-10 14:56] rbartelme opened #1229 "KEGG KO HMM for anvio"
Please look into implementing KOFAMKOALA HMM's for gene annotation in anvi'o (https://www.genome.jp/tools/kofamkoala/). This would enable KEGG KO numbers in anvi'o with minimal workarounds.

[2019-09-10 17:02] meren commented on #1229
Just looked into this. There are 22,943 profiles in this collection. I think it would be much more feasible to implement a workflow and write a blog post to show people all the steps they would need to be able to benefit from this resource from within anvi'o instead of making every anvi'o user download an additional 1.1Gb :(

[2019-09-10 21:19] jarrodscott opened #1230 "Interactive interface, TypeError: Cannot read property 'IsLeaf' of null"
Anvi'o version: `5.5-master`
[code]

[2019-09-11 14:58] rbartelme commented on #1229
Maybe something like: anvi-setup-ko-hmm to extend the hmm's if users would like to. Sort of like how the pfam setup works now??

[2019-09-11 21:56] SchmidAbby commented on #1228
I think it is probably best to leave the option to the user and add a flag

[2019-09-13 09:22] kevin-lab opened #1231 "Issues on my way though the anvio pangenomics tutorial"
Hi ANVIO Team,

I m currently working my way though the anvio(5.5.0) pangenomics tutorial and I m acrossed two seperate issues:

1.) We dont know what exactly the issue is, its not listing the available keys within profile.db

Afterwards we deleted one of the keys (category1) and this worked fine.

[code]

2.) We faced the problem twice, the files provided for the tutorial are no longer compatable

[2019-09-16 13:21] meren commented on #1231
Hi @kevin-lab, apologies for the late response and out-of-date documentation on interactive interface data types.

We have relatively recently changed the bar type and clearly didn't change things in the online documentation. I will take a look.

[2019-09-16 13:32] meren commented on #1231
Wait. Everything seems to work in the pangenomics tutorial. Can you tell me how did you obtain the file that gives you `near "bars_main": syntax error`?

How they should look like is explained here:

http://merenlab.org/2016/02/27/the-anvio-interactive-interface/#15-stacked-bars

Best,

[2019-09-16 13:32] #1231 closed

[2019-09-17 10:20] kevin-lab commented on #1231
Found the issue, turns out that the quotation marks caused the issue.

Thanks for your help.

[2019-09-21 23:43] AstrobioMike opened #1235 "Feature Request -- having anvi-split split off a collection, but keep all the bins together"
Hiya!

Right now the glorious `anvi-split` takes the collection you want and makes individual profile databases for each of the bins in that collection. I have often wanted to visualize just the bins i care about, but all together still, not each by itself, and have a workaround i recently shared with someone else trying to do this. The workaround just involves making a new collection that holds a

[2019-09-22 13:22] meren commented on #1235
This sounds like too much design for something that anvi'o can already do with the combined use of `anvi-merge-bins`, `anvi-export-collection`, `anvi-import-collection`, and `anvi-split` :)

[2019-09-22 19:20] AstrobioMike commented on #1235
Okkaayyyyy, i guess you can't spoil us too much :)

[2019-09-22 19:20] #1235 closed

[2019-09-22 21:38] meren commented on #1235
I love spoiling you, but then I also have to protect the sanity of future developers. Otherwise when it is time for others to maintain anvi'o, we will find no one around who can understand its codebase :)

[2019-09-25 15:13] alper1976 opened #1236 "Error while installing"
**_Meren's note. I edited this report to remove excess text that should have not been submitted. If you want to enjoy the original version, you can access it by clicking the link above._**

[code]

[code]

[2019-09-25 15:15] ozcan commented on #1236
Hi,
Can you try reinstalling psutil using conda or pip?, problem seems to related to psutil module.

Best

[2019-09-26 19:35] ShaiberAlon opened #1237 "In v5.5: if anvi-run-ncbi-cogs doesn't find any hits then it doesn't list as a source"
If no hits were found, then it should still be listed as a source, so that if the contigs database is used for pangenomics then the genomes storage would still be able to merge functional annotations from all contigs databases.

[2019-09-27 02:34] cssulliv commented on #915
Hi,

I am getting the same sqlite error when I run anvi-gen-contigs-database using Anvio v5.5 on our university cluster. It still generated .db files but am cautious to move forward after seeing the error. I wonder if anyone else is has this issue?

Also, I installed Anvio using the following script.

`conda create -p apps/path/on/cluster/anvio5 python=3.6`
`conda install -p apps/path/on/cluster/a

[2019-09-27 15:20] meren commented on #1237
I agree.

[2019-09-27 18:55] ShaiberAlon commented on #1237
This commit solves this: 7b8b8a74. Once we merge the branch then I will close this issue.

[2019-09-30 19:53] meren opened #1240 "Testing and improving the SCG taxonomy branch"
While this issue contains specific requests for @ozcan and @ekiefl down below, anyone who wish to test the new taxonomy branch can follow this recipe.

It will require you to switch to `anvio-taxonomy` branch, and download and prepare the following test data (alternatively, you can use your own data and update this issue if something catches your eye):

[code]

Once you are here, you have everythi

[2019-09-30 20:04] ekiefl commented on #1240
thanks @meren. I will attempt to finish something by the end of this week.

[2019-09-30 20:10] ozcan commented on #1240
I will do my part this week @meren

[2019-09-30 20:51] efogarty11 commented on #1240
Absolutely! I'll plan to come up with 5 high bacteroides and 5 low bacteroides @meren, unless there's something different you'd like :)

[2019-10-01 17:34] ivagljiva commented on #1240
I am pretty sure that this branch was not meant to be used in our pangenomics workflow. But I am curious, so I will try it.

I am testing this out on an SFB pangenome I made previously, in which I was checking a putative SFB MAG against 3 complete SFB genomes and also Clostridium perfringens. I'm sure the taxonomy estimation will work for the contigs databases of each of these, but I am fairly sur

[2019-10-01 22:58] ShaiberAlon opened #1241 "Make sure R packages are installed for anvi-get-enriched-functions-per-pan-group"
`anvi-get-enriched-functions-per-pan-group` requires the following packages:
`tidyverse`
`magrittr`
`qvalue`

The question is how do we deal with that?

1. We can install these as part of the anvi'o installation, but that would mean `R` is a pre-requisite for anvi'o, which as far as I know that is not the case so far. On one hand, I doubt that there are users who have anvi'o and don't have `R` ins

[2019-10-01 23:01] meren commented on #1241
I think it would be best to not require R to be installed at this time. If the Python program that calls this script can catch the error and communicate to the user with an exception, they would know that they need to install X and Y.

But we could include R along with these libraries in our docker image for `v6`.

[2019-10-01 23:03] adw96 commented on #1241
Possible workflow:

1. Check for a `R` installation and throw an error if `R` isn't installed on the system.
2. If `R` and the packages are installed, silently load `tidyverse`, `magrittr` and `qvalue`.
3. If `R` is installed but the packages are not, throw an error and suggest the user install those packages with conda. I can provide the specific commands.

[2019-10-01 23:03] ShaiberAlon commented on #1241
@meren, there is no python program calling this. This is simply an `R` script.

[2019-10-01 23:04] adw96 commented on #1241
@ShaiberAlon you're talking about `anvi-script-gen_stats_for_single_copy_genes.R`?

[2019-10-01 23:04] adw96 commented on #1241
Conda installs:

`conda install -c r r-tidyverse`
`conda install -c bioconda r-magrittr`
`conda install -c bioconda bioconductor-qvalue`

[2019-10-01 23:06] ShaiberAlon commented on #1241
No, I am talking about `anvi-get-enriched-functions-per-pan-group`. It is simply an `R` script. And so if `R` is not installed there is no way for us to catch this. It would just be a system error, something like this:
[code]

@meren, are you suggesting that we would have a python wrapper that checks things are installed and only then executes the `R` script?

[2019-10-01 23:14] meren commented on #1241
I had envisioned that `anvi-get-enriched-functions-per-pan-group` would be a Python program that takes in pan db, genome storage, categorical variable, etc, and it would call the R script only for the test we did not want to implement in Python. So the name of the script would be much more specific to what it is testing. In that case we could generate all the input files from within Python, and ca

[2019-10-01 23:41] adw96 commented on #1241
@meren There should be python running on either side of the R script, i.e., the user should not directly call the R script; it should be called within a python program. Additional work is needed to generate the temp txt file with the presence-absence data (@ShaiberAlon gave me the desired input and output formats), and then to close out the command.

[2019-10-01 23:42] adw96 commented on #1241
Essentially the R script replaces some component of the existing python-only workflow; but not all of it.

[2019-10-01 23:45] ShaiberAlon commented on #1241
Ok, I’m on it. I’ll make it that way. But I’ll only get to do that on Thursday, since tomorrow I’m traveling.

[2019-10-01 23:47] adw96 commented on #1241
Thanks @ShaiberAlon! You may wish to change the input arguments to the R script if needed. The format is quite straightforward and you can follow the lead of the current input arguments; let me know if you have questions.

[2019-10-01 23:54] ShaiberAlon commented on #1241
Just FYI that a python script to prepare the input was already there (`anvi-get-functional-occurrence-summary-per-pan-group` and below I pasted the help menu for this program), but it is not a wrapper, instead what I thought originally is that the user would call the python script to generate the input for the `R` script, and then the user would call the `R` script. But I think to have one python

[2019-10-02 04:25] meren commented on #1240
## New feature: taxonomy for layers

With the commits above I just added a new functionality to add taxonomy layers to profile databases.

Previously we could do this:

[code]

and get back something like this:

![image](https://user-images.githubusercontent.com/197307/66017722-a32cca80-e4a1-11e9-83cf-cf1eb9dc965f.png)

Now, we have an additional flag that adds this information to the profile data

[2019-10-02 17:41] hannah18mit opened #1242 "Mini-test errror"
[code]

[code]

Using macOS 10.14.6, I just installed fresh versions of miniconda3 on local computer and then installed anvio using:

[code]

Everything looked OK. Activated anvio55 then went to run self test using

[code]
Lots of things happen, seems like many steps work, until I get this message:

[code]
Checked the openblas version and it seems up to date:

[code]
Also tried installing scikit-l

[2019-10-02 18:48] meren commented on #1242
We will soon have a new version that hopefully will address these anvi'o-independent installation issues that usually stem from conda and python version.

We are very sorry for not being able to help more at the moment. Thank you very much for your interest.

[2019-10-02 18:48] #1242 closed

[2019-10-02 18:49] meren commented on #1237
Thank you, Alon. Please feel free to merge it and close the issue.

[2019-10-02 18:49] #1236 closed

[2019-10-02 18:51] meren commented on #1230
Hey Jarrod, this seems to be an error related to the input newick file as this is the most frequently used part of anvi'o and we haven't heard any other complaint :(

[2019-10-02 18:51] #1230 closed

[2019-10-02 18:51] meren commented on #1228
@mschecht?

[2019-10-02 18:53] meren commented on #1227
We addressed this in `master` and will be available in `v6` soon. Thank you very much @andrewsonin.

[2019-10-02 18:53] #1227 closed

[2019-10-02 18:54] #1221 closed

[2019-10-02 18:59] #1218 closed

[2019-10-02 19:00] #1200 closed

[2019-10-02 19:12] meren commented on #1186
Very sorry for the late response :( Things sometime fall through the cracks.

It seems your contigs database was an unfinished one as it is missing many values as seen from the `anvi-db-info` output :( The correct response to this issue was to suggest that you should re-generate the contigs db, but since it is almost a month ago, I believe you moved on from this.

Apologies again.

[2019-10-02 19:12] #1186 closed

[2019-10-02 19:30] #1187 closed

[2019-10-02 19:30] meren commented on #1187
This took forever, but I finally addressed it. Sorry for the delay.

This is what happens after the last commit:

![image](https://user-images.githubusercontent.com/197307/66075304-ea0dd500-e520-11e9-9e4a-5178dba20e42.png)

this will be in `v6`.

[2019-10-02 19:31] meren commented on #1182
This issue will be resolved with `v6` if you haven't figured it out already :)

Sorry about the delay in responding to this, @zehanna.

[2019-10-02 19:31] #1182 closed

[2019-10-02 19:31] #1176 closed

[2019-10-02 19:32] #1167 closed

[2019-10-02 19:34] meren commented on #1160
That page is automatically updated and will be up-to-date once v6 is out :)

[2019-10-02 19:34] #1160 closed

[2019-10-02 19:34] #1152 closed

[2019-10-02 19:36] #1145 closed

[2019-10-02 19:36] #1144 closed

[2019-10-02 19:38] #1147 closed

[2019-10-02 20:00] #1098 closed

[2019-10-02 20:01] meren commented on #1100
This is done. But we need to update the documentation...

[2019-10-02 20:01] #1100 closed

[2019-10-02 20:32] meren opened #1243 "Urgent online documentation needs for v6"
Our online documentation is falling behind. I see multiple critical needs there. Note: All these updates should be submitted to [this](https://github.com/merenlab/web/tree/anvio-v6) branch of our web so everything goes out all at once with `v6`.

Those who write documentations can be different than those who wrote the programs (so I randomly tagged as many people as I could), but the urgent needs

[2019-10-02 20:55] efogarty11 commented on #1243
I can do `anvi-inspect`! Unless someone already is. @meren should I write something for `anvi-script-visualize-split-coverages` or is that unlikely to make it into v6?

[2019-10-02 21:05] mschecht commented on #1228
@ShaiberAlon thanks for bringing up this point. After reflecting on it, I agree with @SchmidAbby in that I don't think we should assume the user's target locus and thus modify the output. I will add a warning message that will appear in stdout stating there is overlap between the extracted loci so that the user will be aware.

I want to point out that this issue will only affect `default-mode`not

[2019-10-02 21:07] meren commented on #1243
Thank you very much, @efogarty11!

I think that would be great to write a post that talks about visualizing coverages and SNVs. Something that is quite rarely done in genome-resolved metagenomics. @mooreryan would be a good person to ask an opinion once there is something or to collaborate throughout.

I think a great resource could have the following major sections (and can use public data, we ca

[2019-10-03 00:39] meren commented on #1215
(bigsi seems to be back :))

[2019-10-03 00:39] #1215 closed

[2019-10-03 00:43] #636 closed

[2019-10-03 00:43] #593 closed

[2019-10-03 00:44] #551 closed

[2019-10-03 00:44] #541 closed

[2019-10-03 00:44] #524 closed

[2019-10-03 00:45] #504 closed

[2019-10-03 00:45] #496 closed

[2019-10-03 00:46] #670 closed

[2019-10-03 00:46] #712 closed

[2019-10-03 00:47] #716 closed

[2019-10-03 00:48] meren commented on #747
It is done.

[2019-10-03 00:48] #747 closed

[2019-10-03 00:48] #756 closed

[2019-10-03 00:49] meren commented on #790
I think this is fixed.

[2019-10-03 00:49] meren commented on #790
Or better yet "I hope it is by now".

[2019-10-03 00:49] #790 closed

[2019-10-03 00:50] #802 closed

[2019-10-03 00:52] meren commented on #805
This is still not done, but I think we should certainly address.

[2019-10-03 01:01] meren commented on #820
Just realized that it is still here. Sorry about your frustration, @JulianMarchesi

PR means "pull request" and it is something that is only expected of computer scientists if they have time an energy. Through PRs, you can suggest changes in someone's code. I.e., you would download their broken code, fix it by going through it, and then send your changes to them through a _PR_.

I totally understa

[2019-10-03 01:01] #820 closed

[2019-10-03 01:12] meren commented on #820
@JulianMarchesi,

I just realized that we haven't responded to this issue for all this time. Sorry about that, and sorry about your frustration.

PR means "[pull request](https://git-scm.com/docs/git-request-pull)" and it is something that is often expected only of compute-savvy people. In a nutshell, through PRs one can suggest particular changes in someone's code. I.e., you would download their

[2019-10-03 01:56] #829 closed

[2019-10-03 01:56] meren commented on #840
@ozcan has addressed this by changing the design completely for the genome view branch.

[2019-10-03 01:56] #840 closed

[2019-10-03 01:57] #846 closed

[2019-10-03 01:58] #853 closed

[2019-10-03 02:01] #865 closed

[2019-10-03 02:01] #889 closed

[2019-10-03 02:01] #924 closed

[2019-10-03 02:02] meren commented on #978
We have addressed the performance problems and will roll them out in `v6`.

[2019-10-03 02:02] #978 closed

[2019-10-03 02:03] #1027 closed

[2019-10-03 02:03] #1030 closed

[2019-10-03 02:05] #1082 closed

[2019-10-03 02:05] #565 closed

[2019-10-03 02:06] #1120 closed

[2019-10-03 02:39] ShaiberAlon commented on #1218
Thank you!

[2019-10-03 02:39] ShaiberAlon commented on #1237
Will do!

[2019-10-03 02:44] ShaiberAlon commented on #1228
@mschecht , while I think a warning is appropriate, I wasn't suggesting to assume what the user wants, I said:

And @SchmidAbby said:

You don't see the value of such a flag that would choose between the two alternative behaviors? If not, then feel free to just add the warning and close this issue.

[2019-10-03 03:02] mschecht commented on #1228
@ShaiberAlon thank you for the clarification, I misinterpreted "flag" as "warning" in your and @SchmidAbby's comments. I'll be sure to read closer next time.

Yes I do not think a flag designating between the two behaviors is  a necessary feature at the moment and am currently adding a detailed warning message to address it. Once I commit Ill close the issue.

[2019-10-03 03:30] meren commented on #1240
@ozcan, this doesn't look good since the taxonomy text does not fit into that cell:

![image](https://user-images.githubusercontent.com/197307/66097441-01ba7d00-e564-11e9-81e4-64f941796a9d.png)

is it possible to do add it as another `tr>td` with a colspan of 6? or can we add it as a div underneath the `tr`?

[2019-10-03 03:34] ozcan commented on #1240
Great suggestion @meren, Yes indeed expanding it to the entire row would look much better

[2019-10-03 03:58] meren commented on #1240
Another quick point; when there is no scg taxonomy instance, the interface could avoid showing anything:

![image](https://user-images.githubusercontent.com/197307/66098403-1c8ef080-e568-11e9-844b-41c9a7820163.png)

[2019-10-03 04:35] ShaiberAlon commented on #1241
@meren, @adw96 , I completed the wrapper for this, including the sanity check for `R` and for the packages (https://github.com/merenlab/anvio/commit/91f9cf1531febdbf96feb74c3a68747b91e868de).
Currently the sanity check for packages is within the R script. It probably should be in the python wrapper, but I didn't want to spend the time to figure out how to do that right now.

@meren, please try to

[2019-10-03 09:03] splaisan commented on #594
I do not get through Drawing on the local machine with firefix or chromium or on my mac under chrome

My mac console shows

[code]

I ran the next command too but no better

[code]

What am I missing? :-)

[2019-10-03 13:31] ivagljiva commented on #1243
I would be happy to do the `anvi-google` post, and I could also give `anvi-cluster-contigs` a go. I haven't used either of these yet, but I would like to learn them. If I could sit down with the people who wrote these programs for a brief overview, then I can try these out and write a first pass of the tutorials from a beginner's perspective. Then the experts could come in and add anything I misse

[2019-10-03 14:00] meren commented on #1243
Hey @ivagljiva, thank you very much :) It would be great if you were to help us with a resource on "how to find your way around anvi'o" and `anvi-google` could be a part of it. I think you, @ekiefl and I can talk about this a bit to brainstorm about what it could look like )

[2019-10-03 14:58] meren commented on #594
@ozcan, do you think this is about the news tab?

[2019-10-03 18:46] ekiefl commented on #1243
https://github.com/merenlab/anvio/commit/eddb1e75ebe779622d9b79a3183a2aff370edb90

As for fixation index, some information is already on the website. I've linked it with the resources meta-tag. I'm the first to admit it's a meager amount of information, but I have enough on my plate.

[2019-10-03 18:59] ShaiberAlon opened #1244 "Help needed to test new functional enrichment program"
We have a new functional enrichment program on the branch `functional_enrichment_v6`, and @adw96 and I need your help in testing it.

After you checkout this branch like this:

[code]

You can download a data package from here (alternatively, you can use your own pangenome if you want :-)):

https://drive.google.com/file/d/1crwvvDpK_AqC2ngivcZfETOyj7brDhPL/view?usp=sharing

Unzip the data folder a

[2019-10-03 19:07] efogarty11 commented on #1244
hey @ShaiberAlon this is the error message I got when I ran it on my local on that branch.

[code]

[2019-10-03 19:08] ShaiberAlon commented on #1244
@efogarty11, thank you! But it looks like you are not on the correct branch.

[2019-10-03 19:23] ivagljiva commented on #1244
Hi @ShaiberAlon, I have tested this on a small pangenome (only 13 genomes), and it worked perfectly. It took less than 10 seconds to run. This is what I did:
[code]
And here is the output:
[code]
Let me know if you need anything else :)

[2019-10-03 19:27] ShaiberAlon commented on #1244
@ivagljiva , thank you so much for doing this! but it doesn't look like you used the branch `functional_enrichment_v6 `. Could you repeat this after you checkout this branch?

[2019-10-03 23:17] mooreryan commented on #1241
If it helps at all, I added a code comment [here](https://github.com/merenlab/anvio/commit/91f9cf1531febdbf96feb74c3a68747b91e868de#r35353982) with a way to check for required R packages from within your python script.

[2019-10-03 23:55] xvazquezc commented on #1241
Hopefully, I'm not late....

You can just check for R, and let the Rscript check for the packages. If the user has them installed they'll load, otherwise they'll be installed:

[code]

Alternatively, you can use `pacman` for the package management, although you still need to make sure you have it installed... although it does a better job if you require specific versions or load packages from gith

[2019-10-04 00:29] meren commented on #1241
@xvazquezc you should feel free to edit the code directly if you ask me :) clearly you are the expert :)

[2019-10-04 00:31] meren commented on #1241
(you are already [listed as a developer](https://github.com/merenlab/anvio/blob/master/AUTHORS.txt), so you have all the authority :p)

[2019-10-04 00:36] xvazquezc commented on #1241
It was mostly a suggestion, you know... I don't know if you prefer to control the packages with Python or else... If I have a moment I'll submit something today

[2019-10-04 01:12] meren commented on #1241
No pressure at all! I just wanted to make sure it is clear that you are welcome. Of course your suggestion is invaluable, too.

[2019-10-04 02:02] ShaiberAlon commented on #1241
@xvazquezc, thank you for the suggestion!

There are two reasons why I like @mooreryan's suggestion better:
1. I would like to control things from the python wrapper, since otherwise we run a bunch of preliminary steps in python before the `R` script just to get an error once we get to the `R` part.
2. I prefer to leave it for the user to choose if and how to install the packages (is that silly?)

[2019-10-04 03:09] ivagljiva commented on #1244
@ShaiberAlon, success! I finally managed to install the required conda packages. The command works now!
`anvi-get-enriched-functions-per-pan-group -p 03_PAN/PAN.db -g 03_PAN/GENOMES.db -o enriched_functions_host.txt --category-variable host --annotation-source COG_FUNCTION`

Output:
[code]

[2019-10-04 03:57] ShaiberAlon commented on #1244
@ivagljiva , that's great! Thank you so much for doing this!

[2019-10-04 04:32] #1237 closed

[2019-10-04 04:32] #1241 closed

[2019-10-04 04:45] ShaiberAlon opened #1248 "Error when running functional enrichment"
When I run `anvi-get-enriched-functions-per-pan-group`, I get the following error:

[code]

And the aforementioned log file includes this error:

[code]

## Potential solution - R version
I am using:

[code]

So this could be an issue with my local version, but if so, then maybe we should add something to check R version, or at least include a message that we require a certain minimal version of R

[2019-10-04 04:58] ShaiberAlon commented on #1248
I ran this again with the latest `R` version:
[code]

And, sadly, I still get the same error.

@adw96 , do you have an idea regarding where this error is coming from? Maybe some `R` expert in your lab could help me get to the bottom of this?

[2019-10-04 06:21] harish0201 commented on #551
Ahh, my bad!

[2019-10-04 13:04] meren commented on #1248
@ShaiberAlon, when I run the enrichment test using your `TEST-PACKAGE.tar.gz` this is how things went:

First try:

[code]

I first tried to install `bioconductor-qvalue` through the R terminal, and of course it wasn't available. So I tried the conda, and this is how it went:

[code]

Then I got this error:

[code]

Then, this is what `R` says:

[code]

[2019-10-04 14:07] ShaiberAlon commented on #1248
@meren, do you mind installing the latest version of R and trying again? To see if then the qvalue package installs properly?

I installed it using conda after installing the latest R and it went ok.

[2019-10-04 15:22] meren commented on #1248
Installed the latest version:

[code]

Then I could get the same missing package error:

[code]

Trying to install conda gave me this output, and I nope'd the F-out:

[code]

Instead I started an `R` shell, and did this:

[code]

And then this is what happened, which is the error you are stuck with :)

[code]

So it is reproducible!

[2019-10-04 15:26] ShaiberAlon commented on #1248
Thank you @meren!

@adw96 , it is formally not only me.... HELP??

[2019-10-04 15:27] meren commented on #1248
I read it like this:

![image](https://user-images.githubusercontent.com/197307/66219833-81923580-e691-11e9-9625-53615e882a4f.png)

Poor @adw96. She has a million things to do. DON'T WORRY, AMY, WE WILL BE FINE :')))))

[2019-10-04 16:25] ekiefl commented on #1240
I get this error following your workflow:

[code]

[2019-10-04 18:00] ShaiberAlon commented on #1244
Closing this, since I got what I needed (the error is reproduced and documented here: #1248, and also we see that when people manage to run it (i.e. Iva :-) ) then they get an appropriate output.

[2019-10-04 20:25] meren commented on #1240
@ekiefl, I am almost thinking about keeping a diamond binary in the database to avoid this. can someone please stop me? :(

[2019-10-04 21:06] meren commented on #1240
@ozcan did stop me. of course we can't put a binary diamond in the codebase unless we can do it for every single architecture. stupid me. our convo revealed another idea, though:

- [ ] we will only ship the FASTA files, and not the binary database files, and the databases are going to be generated at the user side with the `diamond` installed on their system.

[2019-10-04 23:46] mooreryan commented on #1248
Would it be possible to post just the input file used for this command?

[code]

[2019-10-05 00:12] ShaiberAlon commented on #1248
Hi @mooreryan ,

Here is the input:
[functional_enrichment_input_2_groups.txt](https://github.com/merenlab/anvio/files/3692668/functional_enrichment_input_2_groups.txt)

We now merged to `master`, so if you are on `master`, you can do:

[code]

Thank you!

[2019-10-05 01:35] mooreryan commented on #1248
Interesting...so I just tried running the command with the data you sent and it ran without error.

[2019-10-05 01:40] meren commented on #1240
This is now done.

[2019-10-05 01:44] meren commented on #1248
It runs everywhere except our lab. It is time, guys.

[2019-10-05 02:02] mooreryan commented on #1248
It may be something weird in your R dependencies...could you list the packages and the versions that are currently loaded?

Here is a little Rscript that you can run which will load the same packages as `anvi-run-enrichment-analysis.R` and then tell you which versions of all the packages that it loads:
 https://gist.github.com/mooreryan/b0bbb7388c14324b7b2fed2612a7a362

[2019-10-05 02:04] meren commented on #1248
Thank you, @mooreryan :) Here is the output:

[code]

[2019-10-05 02:32] mooreryan commented on #1248
You do have a couple of different libs than I do.

* `dplyr`:  You have `0.8.3`, I have `0.8.1`.  Inside a running Docker container, I upgraded to `0.8.3`, but it still worked for me, so it probably isn't `dplyr`.

Will continue checking the others.

[2019-10-05 02:38] mooreryan commented on #1248
Yep, so I have discovered that the problem is caused by something in the `tidyr` package that has changed somewhere in between `0.8.3` to `1.0.0`.

[2019-10-05 02:45] mooreryan commented on #1248
Okay, so I've figured out the problem.  It's here: https://github.com/merenlab/anvio/blob/2c9179f037b43502901582ad7eea61f5dbfc3131/bin/anvi-run-enrichment-analysis.R#L81

If you're running version `1.0.0` of `tidyr`, then that line needs to change to `nest_legacy %>%`, but if you are running somewhere below that, it needs to be `nest`.  That function got new syntax in the update.

[2019-10-05 03:14] meren commented on #1248
OMG! Awesome, @mooreryan!!! Thank you VERY much :)

**I think we should switch to nest_legacy, and ask people to update their `tidyr` versions if we hear about this.**

@ShaiberAlon, @adw96, is this agreeable?

[2019-10-05 03:20] mooreryan commented on #1248
Actually, I'm about to open a pull request addressing this....

[2019-10-05 03:21] meren commented on #1248
:+1:

[2019-10-05 06:55] harish0201 commented on #943
Apologies that I'm reviving the thread, but manual inspection of such gene-calls on expasy translate shows that these "blank" protein calls do seem to have a ton of stops in between. Could that be the issue?

[2019-10-05 12:28] meren commented on #1248
By the way, I tested Ryan's solution in #1249:

[code]

🥇

[2019-10-05 14:37] meren commented on #943
hey @harish0201, is it true that you run into the same issue (i.e., the reporting of blank sequences) with your own contigs database and anvi'o `v5.5`?

If that is the case, it would be very helpful if you can make your contigs db available to me for testing (i.e., through a Google Drive drive download link).

Thanks,

[2019-10-05 22:57] meren commented on #1240
Ok. With with the previous commit, which builds on what @ozcan had started on Friday, the taxonomy window is ready as far as I am concerned.

The original goal was to recapitulate this in the interface:

![image](https://user-images.githubusercontent.com/197307/66261769-f2704500-e798-11e9-8454-ec4dd4075be9.png)

And this is how it looks now:

![image](https://user-images.githubusercontent.com/1973

[2019-10-06 01:16] meren commented on #1240
Hey @ozcan, there are two minor things remain to finalize the taxonomy branch :) The first one is this:

![image](https://user-images.githubusercontent.com/197307/66262757-b5ae4900-e7ac-11e9-952d-421da3417f2d.png)

When the collection autoloads, there are no completion / redundancy estimates except the first one. If you click the button for taxonomy estimations everything goes to normal.

The seco

[2019-10-06 01:43] meren commented on #1240
OK. I was wrong. There are a couple more things that need to be taken care of.

- [ ] When you select too many contigs from many populations, the terminal says "Config Error: You've hit some uncharted area", but the interface still puts a taxon name underneath the bin. It shouldn't

[2019-10-08 04:45] adw96 commented on #1248
Dear @meren @ShaiberAlon @mooreryan

`amy.isback()`

I'm OOO for *3 days* and this is what happens?! Unbelievable...

@mooreryan -- great work finding and solving this -- thank you. I didn't know `nest` changed between `tidyr` versions. I am shocked to find that `nest <- nest_legacy` is the `tidyverse` sanctioned solution, but since it is and you are an outstanding programmer I agree this is the r

[2019-10-08 04:46] adw96 commented on #1248
TODO(Amy) Does being explicit about the order of input arguments solve ambiguities between `nest` and `nest_legacy`? Investigate.

[2019-10-08 17:57] ekiefl opened #1251 "anvi-delete-misc-data error with pan databases"
`sqlite3.OperationalError: no such column: data_group`

Reproduce:

[code]

[2019-10-08 18:13] #1251 closed

[2019-10-09 20:54] mooreryan commented on #1172
I was poking around the code thinking about working on this...do you have any hints to get started on it?

[2019-10-10 12:14] ShaiberAlon opened #1255 "workflows tests fail on v6"
So far it looks to me like the only issue is the new HMMs, I relied on `Campbell_et_al` to test the phylogenomics workflow, and I need to switch to the new HMMs.

The issue is that in my mock dataset each contigs database only has a single HMM hit with this collection (and all of these are identical AAs). I need to update the FASTA files and add at least one more gene from the new HMM collection.

[2019-10-10 16:32] mschecht commented on #1228
Here is a reproducible example for providing a warning message to the user when exported loci are overlapping. Please un-comment out the code block [here](https://github.com/merenlab/anvio/blob/master/anvio/splitter.py#L872-L903) and give it a try. I discussed this with @meren and we will add this in a future version of anvio depending on user needs.

step 1) Run the run_all_tests.sh until contigs

[2019-10-10 20:42] meren commented on #1172
hey @mooreryan! :) I think one of the best ways to do it is to read the state json text from the profile database and see if the sample names have any colors somewhere in the `anvi-get-split-coverages` file.

I just put this together for you instead of sending line numbers from the codebase so you have an idea about the way to access it. this will work on any profile database and will give you lay

[2019-10-11 13:54] sneupane01 opened #1256 "config error:command was terminated."
Hi,
I ran this anvi-run-ncbi-cogs.

It says config error:command was terminated.

Is it because of the threads limit for DIAMOND?

REPLY FROM MY HPC CLUSTER:
Anvio was installed via conda recipe provided by the developers and came with diamond 0.9.21. If downgrading would help the only way to find out about this would be from the developers. However, I'd assume they would not put a diamond version

[2019-10-11 14:13] #1256 closed

[2019-10-11 21:19] FlorianTrigodet opened #1257 "[solved] anvi-compute-completeness fails with TypeError"
Version:
[code]

[code]

[2019-10-11 21:24] meren commented on #1257
This happens because the `sklearn` version you have installed in your environment is not the version anvi'o `v6` wants to work with.

Please run this command in your anvi'o environment, and it will solve this issue:

[code]

[2019-10-11 21:26] meren commented on #1257
To make sure you have all the right versions of every Python package, you can also do this:

[code]

This will make sure every Python package in your environment matches to `v6`.

[2019-10-11 21:29] FlorianTrigodet commented on #1257
This solves it!
Thank you very much Meren

[2019-10-11 21:57] jarrodscott opened #1258 "[solved] PyANI fails on self-test conda install stable v6"
Hi! I realize this was covered at least partly in a previous issue [(#1227 )](https://github.com/merenlab/anvio/issues/1227) however since this is a new release I thought it was important.

I was testing a fresh v6 install on both a mac and Centos server. I installed the stable version using the [Installation with conda (painless method suggested for everyone)](http://merenlab.org/2016/06/26/insta

[2019-10-11 23:15] meren opened #1259 "[solved] anvi-run-scg-taxonomy fails with ValueError"
This happens in `v6`. When it is run on a fresh conda installation, `anvi-run-scg-taxonomy` dies with this:

[code]

[2019-10-11 23:23] meren commented on #1259
This is happening because conda installs a different version of `diamond` then the version anvi'o wants to work with :/ However, a solution exists.

You need `diamond` version `0.9.14`. In your conda environment you can install it the following way:

[code]

This is what you should see:

[code]

Don't continue unless you see this output when you take a look at the diamond version number:

[code]

[2019-10-12 01:33] jarrodscott commented on #1259
tested successfully on v6 master (Centos and Mac)

[2019-10-12 01:54] meren commented on #1259
tank you very very much, @jarrodscott. I have updated the installation document and the [scg-taxonomy article](http://merenlab.org/2019/10/08/anvio-scg-taxonomy/). But it is very sad nevertheless that we missed this one since it is pretty critical.

[2019-10-12 02:15] jarrodscott commented on #1259
@meren I think the awesomeness of a new anvio release overshadows a small oversight.

[2019-10-12 03:45] meren commented on #1258
hey @jarrodscott, can you please send the output of this?

[code]

It should say `0.23.1` as per the [`requirements.txt`](https://github.com/merenlab/anvio/blob/master/requirements.txt)

[2019-10-12 07:27] jarrodscott commented on #1258
hum, looks like it installed 0.25.1. I ran `pip install pandas==0.23.1` and got this...

[code]

[2019-10-12 08:07] jarrodscott commented on #1258
what happened to `h5py`? anyway after reinstalling pandas I ran `anvi-self-test --suite full` and this time it looks like it cleared the PyANI step but she still needed the new R packages installed.  So I installed

`conda install -c bioconda bioconductor-qvalue`
'conda install -c r r-tidyverse'
`conda install -c conda-forge r-optparse`

and then ran `anvi-self-test --suite full` and it finished o